# 辐照度预测———异常值空缺值融合构建训练集测试集

In [1]:
import os
import random
import pandas as pd
import numpy as np
import math 
import matplotlib.pyplot as plt

from pandas import read_csv
from math import sqrt

In [2]:
print(os.getcwd())

E:\Research Project\DKA-WeatherStation

In [3]:
os.listdir(os.getcwd())

['.ipynb_checkpoints',
 '101-Site_DKA-WeatherStation.csv',
 '1辐照度预测——数据提取重组融合.ipynb',
 '2009-2018暂存辐照度.csv',
 '2009-2018辐照度.csv',
 '2009按天辐照度.csv',
 '2010按天辐照度.csv',
 '2011辐照度.csv',
 '2011辐照度（每15min）.csv',
 '2011辐照度（每15min）d+(d+1).csv',
 '2辐照度预测———异常值空缺值融合构建训练集测试集.ipynb',
 'aaa.py']

In [4]:
read_dataset = pd.read_csv('2009-2018辐照度.csv')
print(read_dataset.shape)

(3720, 160)

In [5]:
print(list(read_dataset))

['Timestamp', 'Year', 'Month', 'Day', '7:0', '7:5', '7:10', '7:15', '7:20', '7:25', '7:30', '7:35', '7:40', '7:45', '7:50', '7:55', '8:0', '8:5', '8:10', '8:15', '8:20', '8:25', '8:30', '8:35', '8:40', '8:45', '8:50', '8:55', '9:0', '9:5', '9:10', '9:15', '9:20', '9:25', '9:30', '9:35', '9:40', '9:45', '9:50', '9:55', '10:0', '10:5', '10:10', '10:15', '10:20', '10:25', '10:30', '10:35', '10:40', '10:45', '10:50', '10:55', '11:0', '11:5', '11:10', '11:15', '11:20', '11:25', '11:30', '11:35', '11:40', '11:45', '11:50', '11:55', '12:0', '12:5', '12:10', '12:15', '12:20', '12:25', '12:30', '12:35', '12:40', '12:45', '12:50', '12:55', '13:0', '13:5', '13:10', '13:15', '13:20', '13:25', '13:30', '13:35', '13:40', '13:45', '13:50', '13:55', '14:0', '14:5', '14:10', '14:15', '14:20', '14:25', '14:30', '14:35', '14:40', '14:45', '14:50', '14:55', '15:0', '15:5', '15:10', '15:15', '15:20', '15:25', '15:30', '15:35', '15:40', '15:45', '15:50', '15:55', '16:0', '16:5', '16:10', '16:15', '16:20', '16:25', '16:30', '16:35', '16:40', '16:45', '16:50', '16:55', '17:0', '17:5', '17:10', '17:15', '17:20', '17:25', '17:30', '17:35', '17:40', '17:45', '17:50', '17:55', '18:0', '18:5', '18:10', '18:15', '18:20', '18:25', '18:30', '18:35', '18:40', '18:45', '18:50', '18:55', '19:0', '19:5', '19:10', '19:15', '19:20', '19:25', '19:30', '19:35', '19:40', '19:45', '19:50', '19:55']

In [6]:
# print(read_dataset.columns.values)

In [7]:
read_dataset.head(2)

,Timestamp,Year,Month,Day,7:0,7:5,7:10,7:15,7:20,7:25,...,19:10,19:15,19:20,19:25,19:30,19:35,19:40,19:45,19:50,19:55
0,2009/1/1,2009,1,1,71.755577,66.701241,70.185898,95.595161,181.769043,240.212112,...,23.579754,18.067822,13.240764,10.052157,7.049436,6.044366,5.168491,5.157125,4.204201,3.790104
1,2009/1/2,2009,1,2,194.533630,216.865250,239.976242,264.707611,286.493774,308.883057,...,22.894876,18.165054,14.345630,9.378352,7.445741,6.331069,6.052157,5.510286,4.575989,3.896957

In [8]:
#训练集去掉全是空值的行和列    #axis=0, how='any', thresh=None, subset=None, inplace=False)
read_dataset.dropna(axis="index",thresh=10 , inplace=True)  #删除掉全是空值的行 thresh不足此值就删去
# dataset.dropna(axis="columns", how='all', inplace=True)  #删除掉全是空值的列

In [9]:
read_dataset.isnull().sum()

Timestamp    0
Year         0
Month        0
Day          0
7:0          5
7:5          9
7:10         6
7:15         7
7:20         7
7:25         7
7:30         5
7:35         4
7:40         4
7:45         4
7:50         4
7:55         4
8:0          5
8:5          9
8:10         5
8:15         6
8:20         7
8:25         7
8:30         6
8:35         5
8:40         5
8:45         6
8:50         6
8:55         4
9:0          5
9:5          8
            ..
17:30        4
17:35        3
17:40        3
17:45        3
17:50        4
17:55        3
18:0         3
18:5         6
18:10        5
18:15        6
18:20        6
18:25        5
18:30        3
18:35        2
18:40        2
18:45        3
18:50        3
18:55        3
19:0         3
19:5         6
19:10        5
19:15        6
19:20        8
19:25        9
19:30        6
19:35        5
19:40        6
19:45        5
19:50        5
19:55        6
Length: 160, dtype: int64

In [10]:
#检测训练集是否去掉全空的行和列
# list(read_dataset)
for i in list(read_dataset):
    print("训练集",i,"列去掉全空")
    print(read_dataset.loc[read_dataset[i].isnull(),:])

训练集 Timestamp 列去掉全空
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
训练集 Year 列去掉全空
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
训练集 Month 列去掉全空
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
训练集 Day 列去掉全空
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
训练集 7:0 列去掉全空
       Timestamp  Year  Month  Day  7:0  7:5  7:10  7:15        7:20  \
808     2011/3/3  2011      3    3  NaN  NaN   NaN   NaN         NaN
935     2011/7/6  2011      7    6  NaN  NaN   NaN   NaN         NaN
1417  2012/10/23  2012     10   23  NaN  NaN   NaN   NaN  391.739502
2794    2016/7/5  2016      7    5  NaN  NaN   NaN   NaN         NaN
3173   2017/7/12  2017      7   12  NaN  NaN   NaN   NaN         NaN

            7:25  ...     19:10     19:15     19:20     19:25     19:30  \
808          NaN  ...  6.486866  5.339732  6.921472  7.632997  5.551527
935          NaN  ...  4.124589  4.320820  4.428288  4.747187  5.184912
1417  410.761108  ...       NaN       NaN       NaN       NaN       NaN
2794         NaN  ...  3.172578  3.750422  3.377288  3.068515  2.104193
3173         NaN  ...  3.946955  3.812407  4.073687  3.939446  3.730217

         19:35     19:40     19:45     19:50     19:55
808   4.901142  4.436374  4.028373  3.488752  3.328448
935   5.245293  4.601360  4.412018  4.197076  4.097461
1417  5.900438  6.231114  5.937599  4.513626  4.797391
2794  1.663973  1.810439  1.485682  0.788498  1.435978
3173  3.420882  3.346558  3.232648  3.385681  3.352442

[5 rows x 160 columns]
训练集 7:5 列去掉全空
       Timestamp  Year  Month  Day         7:0  7:5        7:10        7:15  \
808     2011/3/3  2011      3    3         NaN  NaN         NaN         NaN
935     2011/7/6  2011      7    6         NaN  NaN         NaN         NaN
1417  2012/10/23  2012     10   23         NaN  NaN         NaN         NaN
1420  2012/10/26  2012     10   26   26.432814  NaN   39.380413   53.313744
1421  2012/10/27  2012     10   27  226.360474  NaN  272.593079  295.140045
1422  2012/10/28  2012     10   28  262.812317  NaN  310.987579  334.448578
1423  2012/10/29  2012     10   29  265.923309  NaN  314.356690  336.908508
2794    2016/7/5  2016      7    5         NaN  NaN         NaN         NaN
3173   2017/7/12  2017      7   12         NaN  NaN         NaN         NaN

            7:20        7:25  ...     19:10     19:15     19:20     19:25  \
808          NaN         NaN  ...  6.486866  5.339732  6.921472  7.632997
935          NaN         NaN  ...  4.124589  4.320820  4.428288  4.747187
1417  391.739502  410.761108  ...       NaN       NaN       NaN       NaN
1420   50.709087   57.920269  ...  5.105648  4.986744  4.541391  4.219812
1421  315.948181  335.995483  ...  4.463860  4.749900  4.691750  4.896143
1422  357.993317  380.208649  ...  4.899028  5.498608  5.076665  4.789518
1423  359.124145  381.520203  ...  6.155097  5.787716  5.618217  5.794424
2794         NaN         NaN  ...  3.172578  3.750422  3.377288  3.068515
3173         NaN         NaN  ...  3.946955  3.812407  4.073687  3.939446

         19:30     19:35     19:40     19:45     19:50     19:55
808   5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
935   5.184912  5.245293  4.601360  4.412018  4.197076  4.097461
1417       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
1420  4.465595  4.584206  4.340246  4.504510  4.919559  4.664616
1421  4.872780  4.998833  5.201963  4.652812  4.880147  4.464693
1422  5.393334  4.882430  4.370772  4.938403  5.774659  6.260349
1423  6.013473  5.745419  4.846519  5.602915  5.746114  6.641698
2794  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3173  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[9 rows x 160 columns]
训练集 7:10 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5  7:10  7:15  \
808     2011/3/3  2011      3    3         NaN         NaN   NaN   NaN
935     2011/7/6  2011      7    6         NaN         NaN   NaN   NaN
1417  2012/10/23  2012     10   23         NaN         NaN   NaN   NaN
1418  2012/10/24  2012     10   24  183.085495  204.070648   NaN   NaN
2794    2016/7/5  2016      7    5         NaN         NaN   NaN   NaN
3173   2017/7/12  2017      7   12         NaN         NaN   NaN   NaN

            7:20        7:25  ...     19:10     19:15     19:20     19:25  \
808          NaN         NaN  ...  6.486866  5.339732  6.921472  7.632997
935          NaN         NaN  ...  4.124589  4.320820  4.428288  4.747187
1417  391.739502  410.761108  ...       NaN       NaN       NaN       NaN
1418         NaN         NaN  ...  3.504874  4.622918  4.646677  5.086406
2794         NaN         NaN  ...  3.172578  3.750422  3.377288  3.068515
3173         NaN         NaN  ...  3.946955  3.812407  4.073687  3.939446

         19:30     19:35     19:40     19:45     19:50     19:55
808   5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
935   5.184912  5.245293  4.601360  4.412018  4.197076  4.097461
1417       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
1418  5.146147  4.975608  4.578852  5.321349  5.604798  4.443629
2794  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3173  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[6 rows x 160 columns]
训练集 7:15 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5       7:10  7:15  \
808     2011/3/3  2011      3    3         NaN         NaN        NaN   NaN
935     2011/7/6  2011      7    6         NaN         NaN        NaN   NaN
1417  2012/10/23  2012     10   23         NaN         NaN        NaN   NaN
1418  2012/10/24  2012     10   24  183.085495  204.070648        NaN   NaN
1455  2012/11/30  2012     11   30   77.767235   77.689377  80.341866   NaN
2794    2016/7/5  2016      7    5         NaN         NaN        NaN   NaN
3173   2017/7/12  2017      7   12         NaN         NaN        NaN   NaN

            7:20        7:25  ...     19:10     19:15     19:20     19:25  \
808          NaN         NaN  ...  6.486866  5.339732  6.921472  7.632997
935          NaN         NaN  ...  4.124589  4.320820  4.428288  4.747187
1417  391.739502  410.761108  ...       NaN       NaN       NaN       NaN
1418         NaN         NaN  ...  3.504874  4.622918  4.646677  5.086406
1455   91.336632   98.380310  ...  6.366260  4.819677  5.193604  4.936384
2794         NaN         NaN  ...  3.172578  3.750422  3.377288  3.068515
3173         NaN         NaN  ...  3.946955  3.812407  4.073687  3.939446

         19:30     19:35     19:40     19:45     19:50     19:55
808   5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
935   5.184912  5.245293  4.601360  4.412018  4.197076  4.097461
1417       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
1418  5.146147  4.975608  4.578852  5.321349  5.604798  4.443629
1455  4.486650  4.747379  5.323265  5.060262  3.979041  4.111567
2794  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3173  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[7 rows x 160 columns]
训练集 7:20 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
935     2011/7/6  2011      7    6         NaN         NaN         NaN
1412  2012/10/18  2012     10   18  294.470825  314.691101  333.886231
1413  2012/10/19  2012     10   19  281.477997  301.400818  320.033051
1418  2012/10/24  2012     10   24  183.085495  204.070648         NaN
2794    2016/7/5  2016      7    5         NaN         NaN         NaN
3173   2017/7/12  2017      7   12         NaN         NaN         NaN

            7:15  7:20  7:25  ...     19:10     19:15     19:20     19:25  \
808          NaN   NaN   NaN  ...  6.486866  5.339732  6.921472  7.632997
935          NaN   NaN   NaN  ...  4.124589  4.320820  4.428288  4.747187
1412  356.399139   NaN   NaN  ...  3.818395  4.279331       NaN       NaN
1413  340.450348   NaN   NaN  ...  4.556329  4.536875  4.293592  4.609952
1418         NaN   NaN   NaN  ...  3.504874  4.622918  4.646677  5.086406
2794         NaN   NaN   NaN  ...  3.172578  3.750422  3.377288  3.068515
3173         NaN   NaN   NaN  ...  3.946955  3.812407  4.073687  3.939446

         19:30     19:35     19:40     19:45     19:50     19:55
808   5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
935   5.184912  5.245293  4.601360  4.412018  4.197076  4.097461
1412  3.594259  3.492475  3.854478  4.152873  4.579280  5.343326
1413  4.852335  5.553427  4.125535  3.659801  3.401146  4.112599
1418  5.146147  4.975608  4.578852  5.321349  5.604798  4.443629
2794  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3173  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[7 rows x 160 columns]
训练集 7:25 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
935     2011/7/6  2011      7    6         NaN         NaN         NaN
1412  2012/10/18  2012     10   18  294.470825  314.691101  333.886231
1413  2012/10/19  2012     10   19  281.477997  301.400818  320.033051
1418  2012/10/24  2012     10   24  183.085495  204.070648         NaN
2794    2016/7/5  2016      7    5         NaN         NaN         NaN
3173   2017/7/12  2017      7   12         NaN         NaN         NaN

            7:15  7:20  7:25  ...     19:10     19:15     19:20     19:25  \
808          NaN   NaN   NaN  ...  6.486866  5.339732  6.921472  7.632997
935          NaN   NaN   NaN  ...  4.124589  4.320820  4.428288  4.747187
1412  356.399139   NaN   NaN  ...  3.818395  4.279331       NaN       NaN
1413  340.450348   NaN   NaN  ...  4.556329  4.536875  4.293592  4.609952
1418         NaN   NaN   NaN  ...  3.504874  4.622918  4.646677  5.086406
2794         NaN   NaN   NaN  ...  3.172578  3.750422  3.377288  3.068515
3173         NaN   NaN   NaN  ...  3.946955  3.812407  4.073687  3.939446

         19:30     19:35     19:40     19:45     19:50     19:55
808   5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
935   5.184912  5.245293  4.601360  4.412018  4.197076  4.097461
1412  3.594259  3.492475  3.854478  4.152873  4.579280  5.343326
1413  4.852335  5.553427  4.125535  3.659801  3.401146  4.112599
1418  5.146147  4.975608  4.578852  5.321349  5.604798  4.443629
2794  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3173  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[7 rows x 160 columns]
训练集 7:30 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5  7:10  7:15  7:20  \
808     2011/3/3  2011      3    3         NaN         NaN   NaN   NaN   NaN
935     2011/7/6  2011      7    6         NaN         NaN   NaN   NaN   NaN
1418  2012/10/24  2012     10   24  183.085495  204.070648   NaN   NaN   NaN
2794    2016/7/5  2016      7    5         NaN         NaN   NaN   NaN   NaN
3173   2017/7/12  2017      7   12         NaN         NaN   NaN   NaN   NaN

      7:25  ...     19:10     19:15     19:20     19:25     19:30     19:35  \
808    NaN  ...  6.486866  5.339732  6.921472  7.632997  5.551527  4.901142
935    NaN  ...  4.124589  4.320820  4.428288  4.747187  5.184912  5.245293
1418   NaN  ...  3.504874  4.622918  4.646677  5.086406  5.146147  4.975608
2794   NaN  ...  3.172578  3.750422  3.377288  3.068515  2.104193  1.663973
3173   NaN  ...  3.946955  3.812407  4.073687  3.939446  3.730217  3.420882

         19:40     19:45     19:50     19:55
808   4.436374  4.028373  3.488752  3.328448
935   4.601360  4.412018  4.197076  4.097461
1418  4.578852  5.321349  5.604798  4.443629
2794  1.810439  1.485682  0.788498  1.435978
3173  3.346558  3.232648  3.385681  3.352442

[5 rows x 160 columns]
训练集 7:35 列去掉全空
      Timestamp  Year  Month  Day  7:0  7:5  7:10  7:15  7:20  7:25  ...  \
808    2011/3/3  2011      3    3  NaN  NaN   NaN   NaN   NaN   NaN  ...
935    2011/7/6  2011      7    6  NaN  NaN   NaN   NaN   NaN   NaN  ...
2794   2016/7/5  2016      7    5  NaN  NaN   NaN   NaN   NaN   NaN  ...
3173  2017/7/12  2017      7   12  NaN  NaN   NaN   NaN   NaN   NaN  ...

         19:10     19:15     19:20     19:25     19:30     19:35     19:40  \
808   6.486866  5.339732  6.921472  7.632997  5.551527  4.901142  4.436374
935   4.124589  4.320820  4.428288  4.747187  5.184912  5.245293  4.601360
2794  3.172578  3.750422  3.377288  3.068515  2.104193  1.663973  1.810439
3173  3.946955  3.812407  4.073687  3.939446  3.730217  3.420882  3.346558

         19:45     19:50     19:55
808   4.028373  3.488752  3.328448
935   4.412018  4.197076  4.097461
2794  1.485682  0.788498  1.435978
3173  3.232648  3.385681  3.352442

[4 rows x 160 columns]
训练集 7:40 列去掉全空
      Timestamp  Year  Month  Day  7:0  7:5  7:10  7:15  7:20  7:25  ...  \
808    2011/3/3  2011      3    3  NaN  NaN   NaN   NaN   NaN   NaN  ...
935    2011/7/6  2011      7    6  NaN  NaN   NaN   NaN   NaN   NaN  ...
2794   2016/7/5  2016      7    5  NaN  NaN   NaN   NaN   NaN   NaN  ...
3173  2017/7/12  2017      7   12  NaN  NaN   NaN   NaN   NaN   NaN  ...

         19:10     19:15     19:20     19:25     19:30     19:35     19:40  \
808   6.486866  5.339732  6.921472  7.632997  5.551527  4.901142  4.436374
935   4.124589  4.320820  4.428288  4.747187  5.184912  5.245293  4.601360
2794  3.172578  3.750422  3.377288  3.068515  2.104193  1.663973  1.810439
3173  3.946955  3.812407  4.073687  3.939446  3.730217  3.420882  3.346558

         19:45     19:50     19:55
808   4.028373  3.488752  3.328448
935   4.412018  4.197076  4.097461
2794  1.485682  0.788498  1.435978
3173  3.232648  3.385681  3.352442

[4 rows x 160 columns]
训练集 7:45 列去掉全空
      Timestamp  Year  Month  Day  7:0  7:5  7:10  7:15  7:20  7:25  ...  \
808    2011/3/3  2011      3    3  NaN  NaN   NaN   NaN   NaN   NaN  ...
935    2011/7/6  2011      7    6  NaN  NaN   NaN   NaN   NaN   NaN  ...
2794   2016/7/5  2016      7    5  NaN  NaN   NaN   NaN   NaN   NaN  ...
3173  2017/7/12  2017      7   12  NaN  NaN   NaN   NaN   NaN   NaN  ...

         19:10     19:15     19:20     19:25     19:30     19:35     19:40  \
808   6.486866  5.339732  6.921472  7.632997  5.551527  4.901142  4.436374
935   4.124589  4.320820  4.428288  4.747187  5.184912  5.245293  4.601360
2794  3.172578  3.750422  3.377288  3.068515  2.104193  1.663973  1.810439
3173  3.946955  3.812407  4.073687  3.939446  3.730217  3.420882  3.346558

         19:45     19:50     19:55
808   4.028373  3.488752  3.328448
935   4.412018  4.197076  4.097461
2794  1.485682  0.788498  1.435978
3173  3.232648  3.385681  3.352442

[4 rows x 160 columns]
训练集 7:50 列去掉全空

      Timestamp  Year  Month  Day  7:0  7:5  7:10  7:15  7:20  7:25  ...  \
808    2011/3/3  2011      3    3  NaN  NaN   NaN   NaN   NaN   NaN  ...
935    2011/7/6  2011      7    6  NaN  NaN   NaN   NaN   NaN   NaN  ...
2794   2016/7/5  2016      7    5  NaN  NaN   NaN   NaN   NaN   NaN  ...
3173  2017/7/12  2017      7   12  NaN  NaN   NaN   NaN   NaN   NaN  ...

         19:10     19:15     19:20     19:25     19:30     19:35     19:40  \
808   6.486866  5.339732  6.921472  7.632997  5.551527  4.901142  4.436374
935   4.124589  4.320820  4.428288  4.747187  5.184912  5.245293  4.601360
2794  3.172578  3.750422  3.377288  3.068515  2.104193  1.663973  1.810439
3173  3.946955  3.812407  4.073687  3.939446  3.730217  3.420882  3.346558

         19:45     19:50     19:55
808   4.028373  3.488752  3.328448
935   4.412018  4.197076  4.097461
2794  1.485682  0.788498  1.435978
3173  3.232648  3.385681  3.352442

[4 rows x 160 columns]
训练集 7:55 列去掉全空
      Timestamp  Year  Month  Day  7:0  7:5  7:10  7:15  7:20  7:25  ...  \
808    2011/3/3  2011      3    3  NaN  NaN   NaN   NaN   NaN   NaN  ...
935    2011/7/6  2011      7    6  NaN  NaN   NaN   NaN   NaN   NaN  ...
2794   2016/7/5  2016      7    5  NaN  NaN   NaN   NaN   NaN   NaN  ...
3173  2017/7/12  2017      7   12  NaN  NaN   NaN   NaN   NaN   NaN  ...

         19:10     19:15     19:20     19:25     19:30     19:35     19:40  \
808   6.486866  5.339732  6.921472  7.632997  5.551527  4.901142  4.436374
935   4.124589  4.320820  4.428288  4.747187  5.184912  5.245293  4.601360
2794  3.172578  3.750422  3.377288  3.068515  2.104193  1.663973  1.810439
3173  3.946955  3.812407  4.073687  3.939446  3.730217  3.420882  3.346558

         19:45     19:50     19:55
808   4.028373  3.488752  3.328448
935   4.412018  4.197076  4.097461
2794  1.485682  0.788498  1.435978
3173  3.232648  3.385681  3.352442

[4 rows x 160 columns]
训练集 8:0 列去掉全空
       Timestamp  Year  Month  Day  7:0  7:5  7:10  7:15        7:20  \
808     2011/3/3  2011      3    3  NaN  NaN   NaN   NaN         NaN
935     2011/7/6  2011      7    6  NaN  NaN   NaN   NaN         NaN
1417  2012/10/23  2012     10   23  NaN  NaN   NaN   NaN  391.739502
2794    2016/7/5  2016      7    5  NaN  NaN   NaN   NaN         NaN
3173   2017/7/12  2017      7   12  NaN  NaN   NaN   NaN         NaN

            7:25  ...     19:10     19:15     19:20     19:25     19:30  \
808          NaN  ...  6.486866  5.339732  6.921472  7.632997  5.551527
935          NaN  ...  4.124589  4.320820  4.428288  4.747187  5.184912
1417  410.761108  ...       NaN       NaN       NaN       NaN       NaN
2794         NaN  ...  3.172578  3.750422  3.377288  3.068515  2.104193
3173         NaN  ...  3.946955  3.812407  4.073687  3.939446  3.730217

         19:35     19:40     19:45     19:50     19:55
808   4.901142  4.436374  4.028373  3.488752  3.328448
935   5.245293  4.601360  4.412018  4.197076  4.097461
1417  5.900438  6.231114  5.937599  4.513626  4.797391
2794  1.663973  1.810439  1.485682  0.788498  1.435978
3173  3.420882  3.346558  3.232648  3.385681  3.352442

[5 rows x 160 columns]
训练集 8:5 列去掉全空
       Timestamp  Year  Month  Day         7:0  7:5        7:10        7:15  \
808     2011/3/3  2011      3    3         NaN  NaN         NaN         NaN
935     2011/7/6  2011      7    6         NaN  NaN         NaN         NaN
1417  2012/10/23  2012     10   23         NaN  NaN         NaN         NaN
1420  2012/10/26  2012     10   26   26.432814  NaN   39.380413   53.313744
1421  2012/10/27  2012     10   27  226.360474  NaN  272.593079  295.140045
1422  2012/10/28  2012     10   28  262.812317  NaN  310.987579  334.448578
1423  2012/10/29  2012     10   29  265.923309  NaN  314.356690  336.908508
2794    2016/7/5  2016      7    5         NaN  NaN         NaN         NaN
3173   2017/7/12  2017      7   12         NaN  NaN         NaN         NaN

            7:20        7:25  ...     19:10     19:15     19:20     19:25  \
808          NaN         NaN  ...  6.486866  5.339732  6.921472  7.632997
935          NaN         NaN  ...  4.124589  4.320820  4.428288  4.747187
1417  391.739502  410.761108  ...       NaN       NaN       NaN       NaN
1420   50.709087   57.920269  ...  5.105648  4.986744  4.541391  4.219812
1421  315.948181  335.995483  ...  4.463860  4.749900  4.691750  4.896143
1422  357.993317  380.208649  ...  4.899028  5.498608  5.076665  4.789518
1423  359.124145  381.520203  ...  6.155097  5.787716  5.618217  5.794424
2794         NaN         NaN  ...  3.172578  3.750422  3.377288  3.068515
3173         NaN         NaN  ...  3.946955  3.812407  4.073687  3.939446

         19:30     19:35     19:40     19:45     19:50     19:55
808   5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
935   5.184912  5.245293  4.601360  4.412018  4.197076  4.097461
1417       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
1420  4.465595  4.584206  4.340246  4.504510  4.919559  4.664616
1421  4.872780  4.998833  5.201963  4.652812  4.880147  4.464693
1422  5.393334  4.882430  4.370772  4.938403  5.774659  6.260349
1423  6.013473  5.745419  4.846519  5.602915  5.746114  6.641698
2794  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3173  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[9 rows x 160 columns]
训练集 8:10 列去掉全空
       Timestamp  Year  Month  Day  7:0  7:5  7:10  7:15        7:20  \
808     2011/3/3  2011      3    3  NaN  NaN   NaN   NaN         NaN
935     2011/7/6  2011      7    6  NaN  NaN   NaN   NaN         NaN
1417  2012/10/23  2012     10   23  NaN  NaN   NaN   NaN  391.739502
2794    2016/7/5  2016      7    5  NaN  NaN   NaN   NaN         NaN
3173   2017/7/12  2017      7   12  NaN  NaN   NaN   NaN         NaN

            7:25  ...     19:10     19:15     19:20     19:25     19:30  \
808          NaN  ...  6.486866  5.339732  6.921472  7.632997  5.551527
935          NaN  ...  4.124589  4.320820  4.428288  4.747187  5.184912
1417  410.761108  ...       NaN       NaN       NaN       NaN       NaN
2794         NaN  ...  3.172578  3.750422  3.377288  3.068515  2.104193
3173         NaN  ...  3.946955  3.812407  4.073687  3.939446  3.730217

         19:35     19:40     19:45     19:50     19:55
808   4.901142  4.436374  4.028373  3.488752  3.328448
935   5.245293  4.601360  4.412018  4.197076  4.097461
1417  5.900438  6.231114  5.937599  4.513626  4.797391
2794  1.663973  1.810439  1.485682  0.788498  1.435978
3173  3.420882  3.346558  3.232648  3.385681  3.352442

[5 rows x 160 columns]
训练集 8:15 列去掉全空
       Timestamp  Year  Month  Day        7:0        7:5       7:10  7:15  \
808     2011/3/3  2011      3    3        NaN        NaN        NaN   NaN
935     2011/7/6  2011      7    6        NaN        NaN        NaN   NaN
1417  2012/10/23  2012     10   23        NaN        NaN        NaN   NaN
1455  2012/11/30  2012     11   30  77.767235  77.689377  80.341866   NaN
2794    2016/7/5  2016      7    5        NaN        NaN        NaN   NaN
3173   2017/7/12  2017      7   12        NaN        NaN        NaN   NaN

            7:20        7:25  ...     19:10     19:15     19:20     19:25  \
808          NaN         NaN  ...  6.486866  5.339732  6.921472  7.632997
935          NaN         NaN  ...  4.124589  4.320820  4.428288  4.747187
1417  391.739502  410.761108  ...       NaN       NaN       NaN       NaN
1455   91.336632   98.380310  ...  6.366260  4.819677  5.193604  4.936384
2794         NaN         NaN  ...  3.172578  3.750422  3.377288  3.068515
3173         NaN         NaN  ...  3.946955  3.812407  4.073687  3.939446

         19:30     19:35     19:40     19:45     19:50     19:55
808   5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
935   5.184912  5.245293  4.601360  4.412018  4.197076  4.097461
1417       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
1455  4.486650  4.747379  5.323265  5.060262  3.979041  4.111567
2794  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3173  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[6 rows x 160 columns]
训练集 8:20 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
935     2011/7/6  2011      7    6         NaN         NaN         NaN
1412  2012/10/18  2012     10   18  294.470825  314.691101  333.886231
1413  2012/10/19  2012     10   19  281.477997  301.400818  320.033051
1417  2012/10/23  2012     10   23         NaN         NaN         NaN
2794    2016/7/5  2016      7    5         NaN         NaN         NaN
3173   2017/7/12  2017      7   12         NaN         NaN         NaN

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
935          NaN         NaN         NaN  ...  4.124589  4.320820  4.428288
1412  356.399139         NaN         NaN  ...  3.818395  4.279331       NaN
1413  340.450348         NaN         NaN  ...  4.556329  4.536875  4.293592
1417         NaN  391.739502  410.761108  ...       NaN       NaN       NaN
2794         NaN         NaN         NaN  ...  3.172578  3.750422  3.377288
3173         NaN         NaN         NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
935   4.747187  5.184912  5.245293  4.601360  4.412018  4.197076  4.097461
1412       NaN  3.594259  3.492475  3.854478  4.152873  4.579280  5.343326
1413  4.609952  4.852335  5.553427  4.125535  3.659801  3.401146  4.112599
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
2794  3.068515  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[7 rows x 160 columns]
训练集 8:25 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
935     2011/7/6  2011      7    6         NaN         NaN         NaN
1412  2012/10/18  2012     10   18  294.470825  314.691101  333.886231
1413  2012/10/19  2012     10   19  281.477997  301.400818  320.033051
1417  2012/10/23  2012     10   23         NaN         NaN         NaN
2794    2016/7/5  2016      7    5         NaN         NaN         NaN
3173   2017/7/12  2017      7   12         NaN         NaN         NaN

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
935          NaN         NaN         NaN  ...  4.124589  4.320820  4.428288
1412  356.399139         NaN         NaN  ...  3.818395  4.279331       NaN
1413  340.450348         NaN         NaN  ...  4.556329  4.536875  4.293592
1417         NaN  391.739502  410.761108  ...       NaN       NaN       NaN
2794         NaN         NaN         NaN  ...  3.172578  3.750422  3.377288
3173         NaN         NaN         NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
935   4.747187  5.184912  5.245293  4.601360  4.412018  4.197076  4.097461
1412       NaN  3.594259  3.492475  3.854478  4.152873  4.579280  5.343326
1413  4.609952  4.852335  5.553427  4.125535  3.659801  3.401146  4.112599
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
2794  3.068515  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[7 rows x 160 columns]
训练集 8:30 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
935     2011/7/6  2011      7    6         NaN         NaN         NaN
1413  2012/10/19  2012     10   19  281.477997  301.400818  320.033051
1417  2012/10/23  2012     10   23         NaN         NaN         NaN
2794    2016/7/5  2016      7    5         NaN         NaN         NaN
3173   2017/7/12  2017      7   12         NaN         NaN         NaN

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
935          NaN         NaN         NaN  ...  4.124589  4.320820  4.428288
1413  340.450348         NaN         NaN  ...  4.556329  4.536875  4.293592
1417         NaN  391.739502  410.761108  ...       NaN       NaN       NaN
2794         NaN         NaN         NaN  ...  3.172578  3.750422  3.377288
3173         NaN         NaN         NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
935   4.747187  5.184912  5.245293  4.601360  4.412018  4.197076  4.097461
1413  4.609952  4.852335  5.553427  4.125535  3.659801  3.401146  4.112599
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
2794  3.068515  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[6 rows x 160 columns]
训练集 8:35 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
935     2011/7/6  2011      7    6         NaN         NaN         NaN
1413  2012/10/19  2012     10   19  281.477997  301.400818  320.033051
2794    2016/7/5  2016      7    5         NaN         NaN         NaN
3173   2017/7/12  2017      7   12         NaN         NaN         NaN

            7:15  7:20  7:25  ...     19:10     19:15     19:20     19:25  \
808          NaN   NaN   NaN  ...  6.486866  5.339732  6.921472  7.632997
935          NaN   NaN   NaN  ...  4.124589  4.320820  4.428288  4.747187
1413  340.450348   NaN   NaN  ...  4.556329  4.536875  4.293592  4.609952
2794         NaN   NaN   NaN  ...  3.172578  3.750422  3.377288  3.068515
3173         NaN   NaN   NaN  ...  3.946955  3.812407  4.073687  3.939446

         19:30     19:35     19:40     19:45     19:50     19:55
808   5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
935   5.184912  5.245293  4.601360  4.412018  4.197076  4.097461
1413  4.852335  5.553427  4.125535  3.659801  3.401146  4.112599
2794  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3173  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[5 rows x 160 columns]
训练集 8:40 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
935     2011/7/6  2011      7    6         NaN         NaN         NaN
1413  2012/10/19  2012     10   19  281.477997  301.400818  320.033051
2794    2016/7/5  2016      7    5         NaN         NaN         NaN
3173   2017/7/12  2017      7   12         NaN         NaN         NaN

            7:15  7:20  7:25  ...     19:10     19:15     19:20     19:25  \
808          NaN   NaN   NaN  ...  6.486866  5.339732  6.921472  7.632997
935          NaN   NaN   NaN  ...  4.124589  4.320820  4.428288  4.747187
1413  340.450348   NaN   NaN  ...  4.556329  4.536875  4.293592  4.609952
2794         NaN   NaN   NaN  ...  3.172578  3.750422  3.377288  3.068515
3173         NaN   NaN   NaN  ...  3.946955  3.812407  4.073687  3.939446

         19:30     19:35     19:40     19:45     19:50     19:55
808   5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
935   5.184912  5.245293  4.601360  4.412018  4.197076  4.097461
1413  4.852335  5.553427  4.125535  3.659801  3.401146  4.112599
2794  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3173  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[5 rows x 160 columns]
训练集 8:45 列去掉全空

       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
935     2011/7/6  2011      7    6         NaN         NaN         NaN
1413  2012/10/19  2012     10   19  281.477997  301.400818  320.033051
1418  2012/10/24  2012     10   24  183.085495  204.070648         NaN
2794    2016/7/5  2016      7    5         NaN         NaN         NaN
3173   2017/7/12  2017      7   12         NaN         NaN         NaN

            7:15  7:20  7:25  ...     19:10     19:15     19:20     19:25  \
808          NaN   NaN   NaN  ...  6.486866  5.339732  6.921472  7.632997
935          NaN   NaN   NaN  ...  4.124589  4.320820  4.428288  4.747187
1413  340.450348   NaN   NaN  ...  4.556329  4.536875  4.293592  4.609952
1418         NaN   NaN   NaN  ...  3.504874  4.622918  4.646677  5.086406
2794         NaN   NaN   NaN  ...  3.172578  3.750422  3.377288  3.068515
3173         NaN   NaN   NaN  ...  3.946955  3.812407  4.073687  3.939446

         19:30     19:35     19:40     19:45     19:50     19:55
808   5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
935   5.184912  5.245293  4.601360  4.412018  4.197076  4.097461
1413  4.852335  5.553427  4.125535  3.659801  3.401146  4.112599
1418  5.146147  4.975608  4.578852  5.321349  5.604798  4.443629
2794  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3173  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[6 rows x 160 columns]
训练集 8:50 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
935     2011/7/6  2011      7    6         NaN         NaN         NaN
1413  2012/10/19  2012     10   19  281.477997  301.400818  320.033051
1418  2012/10/24  2012     10   24  183.085495  204.070648         NaN
2794    2016/7/5  2016      7    5         NaN         NaN         NaN
3173   2017/7/12  2017      7   12         NaN         NaN         NaN

            7:15  7:20  7:25  ...     19:10     19:15     19:20     19:25  \
808          NaN   NaN   NaN  ...  6.486866  5.339732  6.921472  7.632997
935          NaN   NaN   NaN  ...  4.124589  4.320820  4.428288  4.747187
1413  340.450348   NaN   NaN  ...  4.556329  4.536875  4.293592  4.609952
1418         NaN   NaN   NaN  ...  3.504874  4.622918  4.646677  5.086406
2794         NaN   NaN   NaN  ...  3.172578  3.750422  3.377288  3.068515
3173         NaN   NaN   NaN  ...  3.946955  3.812407  4.073687  3.939446

         19:30     19:35     19:40     19:45     19:50     19:55
808   5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
935   5.184912  5.245293  4.601360  4.412018  4.197076  4.097461
1413  4.852335  5.553427  4.125535  3.659801  3.401146  4.112599
1418  5.146147  4.975608  4.578852  5.321349  5.604798  4.443629
2794  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3173  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[6 rows x 160 columns]
训练集 8:55 列去掉全空
      Timestamp  Year  Month  Day  7:0  7:5  7:10  7:15  7:20  7:25  ...  \
808    2011/3/3  2011      3    3  NaN  NaN   NaN   NaN   NaN   NaN  ...
935    2011/7/6  2011      7    6  NaN  NaN   NaN   NaN   NaN   NaN  ...
2794   2016/7/5  2016      7    5  NaN  NaN   NaN   NaN   NaN   NaN  ...
3173  2017/7/12  2017      7   12  NaN  NaN   NaN   NaN   NaN   NaN  ...

         19:10     19:15     19:20     19:25     19:30     19:35     19:40  \
808   6.486866  5.339732  6.921472  7.632997  5.551527  4.901142  4.436374
935   4.124589  4.320820  4.428288  4.747187  5.184912  5.245293  4.601360
2794  3.172578  3.750422  3.377288  3.068515  2.104193  1.663973  1.810439
3173  3.946955  3.812407  4.073687  3.939446  3.730217  3.420882  3.346558

         19:45     19:50     19:55
808   4.028373  3.488752  3.328448
935   4.412018  4.197076  4.097461
2794  1.485682  0.788498  1.435978
3173  3.232648  3.385681  3.352442

[4 rows x 160 columns]
训练集 9:0 列去掉全空
      Timestamp  Year  Month  Day       7:0       7:5      7:10      7:15  \
808    2011/3/3  2011      3    3       NaN       NaN       NaN       NaN
935    2011/7/6  2011      7    6       NaN       NaN       NaN       NaN
1630  2013/5/19  2013      5   19  3.654007  4.716487  9.372686  15.95739
2794   2016/7/5  2016      7    5       NaN       NaN       NaN       NaN
3173  2017/7/12  2017      7   12       NaN       NaN       NaN       NaN

          7:20       7:25  ...     19:10     19:15     19:20     19:25  \
808        NaN        NaN  ...  6.486866  5.339732  6.921472  7.632997
935        NaN        NaN  ...  4.124589  4.320820  4.428288  4.747187
1630  20.80468  27.289331  ...  2.500711  2.661835  2.538780  2.668899
2794       NaN        NaN  ...  3.172578  3.750422  3.377288  3.068515
3173       NaN        NaN  ...  3.946955  3.812407  4.073687  3.939446

         19:30     19:35     19:40     19:45     19:50     19:55
808   5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
935   5.184912  5.245293  4.601360  4.412018  4.197076  4.097461
1630  2.538227  2.595839  2.534079  2.674184  2.602454  2.578111
2794  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3173  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[5 rows x 160 columns]
训练集 9:5 列去掉全空
       Timestamp  Year  Month  Day         7:0  7:5        7:10        7:15  \
808     2011/3/3  2011      3    3         NaN  NaN         NaN         NaN
935     2011/7/6  2011      7    6         NaN  NaN         NaN         NaN
1420  2012/10/26  2012     10   26   26.432814  NaN   39.380413   53.313744
1421  2012/10/27  2012     10   27  226.360474  NaN  272.593079  295.140045
1422  2012/10/28  2012     10   28  262.812317  NaN  310.987579  334.448578
1423  2012/10/29  2012     10   29  265.923309  NaN  314.356690  336.908508
2794    2016/7/5  2016      7    5         NaN  NaN         NaN         NaN
3173   2017/7/12  2017      7   12         NaN  NaN         NaN         NaN

            7:20        7:25  ...     19:10     19:15     19:20     19:25  \
808          NaN         NaN  ...  6.486866  5.339732  6.921472  7.632997
935          NaN         NaN  ...  4.124589  4.320820  4.428288  4.747187
1420   50.709087   57.920269  ...  5.105648  4.986744  4.541391  4.219812
1421  315.948181  335.995483  ...  4.463860  4.749900  4.691750  4.896143
1422  357.993317  380.208649  ...  4.899028  5.498608  5.076665  4.789518
1423  359.124145  381.520203  ...  6.155097  5.787716  5.618217  5.794424
2794         NaN         NaN  ...  3.172578  3.750422  3.377288  3.068515
3173         NaN         NaN  ...  3.946955  3.812407  4.073687  3.939446

         19:30     19:35     19:40     19:45     19:50     19:55
808   5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
935   5.184912  5.245293  4.601360  4.412018  4.197076  4.097461
1420  4.465595  4.584206  4.340246  4.504510  4.919559  4.664616
1421  4.872780  4.998833  5.201963  4.652812  4.880147  4.464693
1422  5.393334  4.882430  4.370772  4.938403  5.774659  6.260349
1423  6.013473  5.745419  4.846519  5.602915  5.746114  6.641698
2794  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3173  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[8 rows x 160 columns]
训练集 9:10 列去掉全空
       Timestamp  Year  Month  Day        7:0         7:5        7:10  \
808     2011/3/3  2011      3    3        NaN         NaN         NaN
935     2011/7/6  2011      7    6        NaN         NaN         NaN
1419  2012/10/25  2012     10   25  86.985077  103.254234  132.390503
2794    2016/7/5  2016      7    5        NaN         NaN         NaN
3173   2017/7/12  2017      7   12        NaN         NaN         NaN

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
935          NaN         NaN         NaN  ...  4.124589  4.320820  4.428288
1419  112.126434  243.958359  265.414734  ...       NaN       NaN  4.096947
2794         NaN         NaN         NaN  ...  3.172578  3.750422  3.377288
3173         NaN         NaN         NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
935   4.747187  5.184912  5.245293  4.601360  4.412018  4.197076  4.097461
1419  3.515995  3.598475  4.162920  4.372980  4.670046  4.364528  3.947930
2794  3.068515  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[5 rows x 160 columns]
训练集 9:15 列去掉全空

       Timestamp  Year  Month  Day        7:0         7:5        7:10  \
808     2011/3/3  2011      3    3        NaN         NaN         NaN
935     2011/7/6  2011      7    6        NaN         NaN         NaN
1419  2012/10/25  2012     10   25  86.985077  103.254234  132.390503
1455  2012/11/30  2012     11   30  77.767235   77.689377   80.341866
2794    2016/7/5  2016      7    5        NaN         NaN         NaN
3173   2017/7/12  2017      7   12        NaN         NaN         NaN

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
935          NaN         NaN         NaN  ...  4.124589  4.320820  4.428288
1419  112.126434  243.958359  265.414734  ...       NaN       NaN  4.096947
1455         NaN   91.336632   98.380310  ...  6.366260  4.819677  5.193604
2794         NaN         NaN         NaN  ...  3.172578  3.750422  3.377288
3173         NaN         NaN         NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
935   4.747187  5.184912  5.245293  4.601360  4.412018  4.197076  4.097461
1419  3.515995  3.598475  4.162920  4.372980  4.670046  4.364528  3.947930
1455  4.936384  4.486650  4.747379  5.323265  5.060262  3.979041  4.111567
2794  3.068515  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[6 rows x 160 columns]
训练集 9:20 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
935     2011/7/6  2011      7    6         NaN         NaN         NaN
1411  2012/10/17  2012     10   17   37.157955   42.383690  156.926376
1412  2012/10/18  2012     10   18  294.470825  314.691101  333.886231
1417  2012/10/23  2012     10   23         NaN         NaN         NaN
2794    2016/7/5  2016      7    5         NaN         NaN         NaN
3173   2017/7/12  2017      7   12         NaN         NaN         NaN

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
935          NaN         NaN         NaN  ...  4.124589  4.320820  4.428288
1411  202.454758  224.962738  247.609543  ...  5.218112  4.602818       NaN
1412  356.399139         NaN         NaN  ...  3.818395  4.279331       NaN
1417         NaN  391.739502  410.761108  ...       NaN       NaN       NaN
2794         NaN         NaN         NaN  ...  3.172578  3.750422  3.377288
3173         NaN         NaN         NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
935   4.747187  5.184912  5.245293  4.601360  4.412018  4.197076  4.097461
1411       NaN  4.320864  4.952442  5.278798  5.154027  5.220015  4.994670
1412       NaN  3.594259  3.492475  3.854478  4.152873  4.579280  5.343326
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
2794  3.068515  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[7 rows x 160 columns]
训练集 9:25 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
935     2011/7/6  2011      7    6         NaN         NaN         NaN
1412  2012/10/18  2012     10   18  294.470825  314.691101  333.886231
1417  2012/10/23  2012     10   23         NaN         NaN         NaN
2794    2016/7/5  2016      7    5         NaN         NaN         NaN
3173   2017/7/12  2017      7   12         NaN         NaN         NaN

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
935          NaN         NaN         NaN  ...  4.124589  4.320820  4.428288
1412  356.399139         NaN         NaN  ...  3.818395  4.279331       NaN
1417         NaN  391.739502  410.761108  ...       NaN       NaN       NaN
2794         NaN         NaN         NaN  ...  3.172578  3.750422  3.377288
3173         NaN         NaN         NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
935   4.747187  5.184912  5.245293  4.601360  4.412018  4.197076  4.097461
1412       NaN  3.594259  3.492475  3.854478  4.152873  4.579280  5.343326
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
2794  3.068515  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[6 rows x 160 columns]
训练集 9:30 列去掉全空
       Timestamp  Year  Month  Day  7:0  7:5  7:10  7:15        7:20  \
808     2011/3/3  2011      3    3  NaN  NaN   NaN   NaN         NaN
935     2011/7/6  2011      7    6  NaN  NaN   NaN   NaN         NaN
1417  2012/10/23  2012     10   23  NaN  NaN   NaN   NaN  391.739502
2794    2016/7/5  2016      7    5  NaN  NaN   NaN   NaN         NaN
3173   2017/7/12  2017      7   12  NaN  NaN   NaN   NaN         NaN

            7:25  ...     19:10     19:15     19:20     19:25     19:30  \
808          NaN  ...  6.486866  5.339732  6.921472  7.632997  5.551527
935          NaN  ...  4.124589  4.320820  4.428288  4.747187  5.184912
1417  410.761108  ...       NaN       NaN       NaN       NaN       NaN
2794         NaN  ...  3.172578  3.750422  3.377288  3.068515  2.104193
3173         NaN  ...  3.946955  3.812407  4.073687  3.939446  3.730217

         19:35     19:40     19:45     19:50     19:55
808   4.901142  4.436374  4.028373  3.488752  3.328448
935   5.245293  4.601360  4.412018  4.197076  4.097461
1417  5.900438  6.231114  5.937599  4.513626  4.797391
2794  1.663973  1.810439  1.485682  0.788498  1.435978
3173  3.420882  3.346558  3.232648  3.385681  3.352442

[5 rows x 160 columns]
训练集 9:35 列去掉全空
      Timestamp  Year  Month  Day  7:0  7:5  7:10  7:15  7:20  7:25  ...  \
808    2011/3/3  2011      3    3  NaN  NaN   NaN   NaN   NaN   NaN  ...
935    2011/7/6  2011      7    6  NaN  NaN   NaN   NaN   NaN   NaN  ...
2794   2016/7/5  2016      7    5  NaN  NaN   NaN   NaN   NaN   NaN  ...
3173  2017/7/12  2017      7   12  NaN  NaN   NaN   NaN   NaN   NaN  ...

         19:10     19:15     19:20     19:25     19:30     19:35     19:40  \
808   6.486866  5.339732  6.921472  7.632997  5.551527  4.901142  4.436374
935   4.124589  4.320820  4.428288  4.747187  5.184912  5.245293  4.601360
2794  3.172578  3.750422  3.377288  3.068515  2.104193  1.663973  1.810439
3173  3.946955  3.812407  4.073687  3.939446  3.730217  3.420882  3.346558

         19:45     19:50     19:55
808   4.028373  3.488752  3.328448
935   4.412018  4.197076  4.097461
2794  1.485682  0.788498  1.435978
3173  3.232648  3.385681  3.352442

[4 rows x 160 columns]
训练集 9:40 列去掉全空
      Timestamp  Year  Month  Day         7:0        7:5        7:10  \
808    2011/3/3  2011      3    3         NaN        NaN         NaN
935    2011/7/6  2011      7    6         NaN        NaN         NaN
1119   2012/1/4  2012      1    4  149.970505  171.15065  190.701675
2794   2016/7/5  2016      7    5         NaN        NaN         NaN
3173  2017/7/12  2017      7   12         NaN        NaN         NaN

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
935          NaN         NaN         NaN  ...  4.124589  4.320820  4.428288
1119  210.579117  231.018524  250.351166  ...  9.027000  8.226466  9.578271
2794         NaN         NaN         NaN  ...  3.172578  3.750422  3.377288
3173         NaN         NaN         NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40      19:45      19:50     19:55
808   7.632997  5.551527  4.901142  4.436374   4.028373   3.488752  3.328448
935   4.747187  5.184912  5.245293  4.601360   4.412018   4.197076  4.097461
1119  7.264585  6.982388  3.685044  5.036737  26.294296  13.024532  6.673792
2794  3.068515  2.104193  1.663973  1.810439   1.485682   0.788498  1.435978
3173  3.939446  3.730217  3.420882  3.346558   3.232648   3.385681  3.352442

[5 rows x 160 columns]
训练集 9:45 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
935     2011/7/6  2011      7    6         NaN         NaN         NaN
1119    2012/1/4  2012      1    4  149.970505  171.150650  190.701675
1418  2012/10/24  2012     10   24  183.085495  204.070648         NaN
2794    2016/7/5  2016      7    5         NaN         NaN         NaN
3173   2017/7/12  2017      7   12         NaN         NaN         NaN

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
935          NaN         NaN         NaN  ...  4.124589  4.320820  4.428288
1119  210.579117  231.018524  250.351166  ...  9.027000  8.226466  9.578271
1418         NaN         NaN         NaN  ...  3.504874  4.622918  4.646677
2794         NaN         NaN         NaN  ...  3.172578  3.750422  3.377288
3173         NaN         NaN         NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40      19:45      19:50     19:55
808   7.632997  5.551527  4.901142  4.436374   4.028373   3.488752  3.328448
935   4.747187  5.184912  5.245293  4.601360   4.412018   4.197076  4.097461
1119  7.264585  6.982388  3.685044  5.036737  26.294296  13.024532  6.673792
1418  5.086406  5.146147  4.975608  4.578852   5.321349   5.604798  4.443629
2794  3.068515  2.104193  1.663973  1.810439   1.485682   0.788498  1.435978
3173  3.939446  3.730217  3.420882  3.346558   3.232648   3.385681  3.352442

[6 rows x 160 columns]
训练集 9:50 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
935     2011/7/6  2011      7    6         NaN         NaN         NaN
1119    2012/1/4  2012      1    4  149.970505  171.150650  190.701675
1413  2012/10/19  2012     10   19  281.477997  301.400818  320.033051
1418  2012/10/24  2012     10   24  183.085495  204.070648         NaN
2794    2016/7/5  2016      7    5         NaN         NaN         NaN
3173   2017/7/12  2017      7   12         NaN         NaN         NaN

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
935          NaN         NaN         NaN  ...  4.124589  4.320820  4.428288
1119  210.579117  231.018524  250.351166  ...  9.027000  8.226466  9.578271
1413  340.450348         NaN         NaN  ...  4.556329  4.536875  4.293592
1418         NaN         NaN         NaN  ...  3.504874  4.622918  4.646677
2794         NaN         NaN         NaN  ...  3.172578  3.750422  3.377288
3173         NaN         NaN         NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40      19:45      19:50     19:55
808   7.632997  5.551527  4.901142  4.436374   4.028373   3.488752  3.328448
935   4.747187  5.184912  5.245293  4.601360   4.412018   4.197076  4.097461
1119  7.264585  6.982388  3.685044  5.036737  26.294296  13.024532  6.673792
1413  4.609952  4.852335  5.553427  4.125535   3.659801   3.401146  4.112599
1418  5.086406  5.146147  4.975608  4.578852   5.321349   5.604798  4.443629
2794  3.068515  2.104193  1.663973  1.810439   1.485682   0.788498  1.435978
3173  3.939446  3.730217  3.420882  3.346558   3.232648   3.385681  3.352442

[7 rows x 160 columns]
训练集 9:55 列去掉全空
      Timestamp  Year  Month  Day         7:0        7:5        7:10  \
808    2011/3/3  2011      3    3         NaN        NaN         NaN
935    2011/7/6  2011      7    6         NaN        NaN         NaN
1119   2012/1/4  2012      1    4  149.970505  171.15065  190.701675
2794   2016/7/5  2016      7    5         NaN        NaN         NaN
3173  2017/7/12  2017      7   12         NaN        NaN         NaN

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
935          NaN         NaN         NaN  ...  4.124589  4.320820  4.428288
1119  210.579117  231.018524  250.351166  ...  9.027000  8.226466  9.578271
2794         NaN         NaN         NaN  ...  3.172578  3.750422  3.377288
3173         NaN         NaN         NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40      19:45      19:50     19:55
808   7.632997  5.551527  4.901142  4.436374   4.028373   3.488752  3.328448
935   4.747187  5.184912  5.245293  4.601360   4.412018   4.197076  4.097461
1119  7.264585  6.982388  3.685044  5.036737  26.294296  13.024532  6.673792
2794  3.068515  2.104193  1.663973  1.810439   1.485682   0.788498  1.435978
3173  3.939446  3.730217  3.420882  3.346558   3.232648   3.385681  3.352442

[5 rows x 160 columns]
训练集 10:0 列去掉全空
      Timestamp  Year  Month  Day  7:0  7:5  7:10  7:15  7:20  7:25  ...  \
808    2011/3/3  2011      3    3  NaN  NaN   NaN   NaN   NaN   NaN  ...
935    2011/7/6  2011      7    6  NaN  NaN   NaN   NaN   NaN   NaN  ...
2794   2016/7/5  2016      7    5  NaN  NaN   NaN   NaN   NaN   NaN  ...
3173  2017/7/12  2017      7   12  NaN  NaN   NaN   NaN   NaN   NaN  ...

         19:10     19:15     19:20     19:25     19:30     19:35     19:40  \
808   6.486866  5.339732  6.921472  7.632997  5.551527  4.901142  4.436374
935   4.124589  4.320820  4.428288  4.747187  5.184912  5.245293  4.601360
2794  3.172578  3.750422  3.377288  3.068515  2.104193  1.663973  1.810439
3173  3.946955  3.812407  4.073687  3.939446  3.730217  3.420882  3.346558

         19:45     19:50     19:55
808   4.028373  3.488752  3.328448
935   4.412018  4.197076  4.097461
2794  1.485682  0.788498  1.435978
3173  3.232648  3.385681  3.352442

[4 rows x 160 columns]
训练集 10:5 列去掉全空
       Timestamp  Year  Month  Day         7:0  7:5        7:10        7:15  \
808     2011/3/3  2011      3    3         NaN  NaN         NaN         NaN
935     2011/7/6  2011      7    6         NaN  NaN         NaN         NaN
1420  2012/10/26  2012     10   26   26.432814  NaN   39.380413   53.313744
1421  2012/10/27  2012     10   27  226.360474  NaN  272.593079  295.140045
1422  2012/10/28  2012     10   28  262.812317  NaN  310.987579  334.448578
1423  2012/10/29  2012     10   29  265.923309  NaN  314.356690  336.908508
2794    2016/7/5  2016      7    5         NaN  NaN         NaN         NaN
3173   2017/7/12  2017      7   12         NaN  NaN         NaN         NaN

            7:20        7:25  ...     19:10     19:15     19:20     19:25  \
808          NaN         NaN  ...  6.486866  5.339732  6.921472  7.632997
935          NaN         NaN  ...  4.124589  4.320820  4.428288  4.747187
1420   50.709087   57.920269  ...  5.105648  4.986744  4.541391  4.219812
1421  315.948181  335.995483  ...  4.463860  4.749900  4.691750  4.896143
1422  357.993317  380.208649  ...  4.899028  5.498608  5.076665  4.789518
1423  359.124145  381.520203  ...  6.155097  5.787716  5.618217  5.794424
2794         NaN         NaN  ...  3.172578  3.750422  3.377288  3.068515
3173         NaN         NaN  ...  3.946955  3.812407  4.073687  3.939446

         19:30     19:35     19:40     19:45     19:50     19:55
808   5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
935   5.184912  5.245293  4.601360  4.412018  4.197076  4.097461
1420  4.465595  4.584206  4.340246  4.504510  4.919559  4.664616
1421  4.872780  4.998833  5.201963  4.652812  4.880147  4.464693
1422  5.393334  4.882430  4.370772  4.938403  5.774659  6.260349
1423  6.013473  5.745419  4.846519  5.602915  5.746114  6.641698
2794  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3173  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[8 rows x 160 columns]
训练集 10:10 列去掉全空
       Timestamp  Year  Month  Day        7:0         7:5        7:10  \
808     2011/3/3  2011      3    3        NaN         NaN         NaN
935     2011/7/6  2011      7    6        NaN         NaN         NaN
1419  2012/10/25  2012     10   25  86.985077  103.254234  132.390503
2794    2016/7/5  2016      7    5        NaN         NaN         NaN
3173   2017/7/12  2017      7   12        NaN         NaN         NaN

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
935          NaN         NaN         NaN  ...  4.124589  4.320820  4.428288
1419  112.126434  243.958359  265.414734  ...       NaN       NaN  4.096947
2794         NaN         NaN         NaN  ...  3.172578  3.750422  3.377288
3173         NaN         NaN         NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
935   4.747187  5.184912  5.245293  4.601360  4.412018  4.197076  4.097461
1419  3.515995  3.598475  4.162920  4.372980  4.670046  4.364528  3.947930
2794  3.068515  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[5 rows x 160 columns]
训练集 10:15 列去掉全空
       Timestamp  Year  Month  Day        7:0         7:5        7:10  \
808     2011/3/3  2011      3    3        NaN         NaN         NaN
935     2011/7/6  2011      7    6        NaN         NaN         NaN
1419  2012/10/25  2012     10   25  86.985077  103.254234  132.390503
2794    2016/7/5  2016      7    5        NaN         NaN         NaN
3173   2017/7/12  2017      7   12        NaN         NaN         NaN

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
935          NaN         NaN         NaN  ...  4.124589  4.320820  4.428288
1419  112.126434  243.958359  265.414734  ...       NaN       NaN  4.096947
2794         NaN         NaN         NaN  ...  3.172578  3.750422  3.377288
3173         NaN         NaN         NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
935   4.747187  5.184912  5.245293  4.601360  4.412018  4.197076  4.097461
1419  3.515995  3.598475  4.162920  4.372980  4.670046  4.364528  3.947930
2794  3.068515  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[5 rows x 160 columns]
训练集 10:20 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
935     2011/7/6  2011      7    6         NaN         NaN         NaN
1411  2012/10/17  2012     10   17   37.157955   42.383690  156.926376
1412  2012/10/18  2012     10   18  294.470825  314.691101  333.886231
1417  2012/10/23  2012     10   23         NaN         NaN         NaN
2794    2016/7/5  2016      7    5         NaN         NaN         NaN
3173   2017/7/12  2017      7   12         NaN         NaN         NaN

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
935          NaN         NaN         NaN  ...  4.124589  4.320820  4.428288
1411  202.454758  224.962738  247.609543  ...  5.218112  4.602818       NaN
1412  356.399139         NaN         NaN  ...  3.818395  4.279331       NaN
1417         NaN  391.739502  410.761108  ...       NaN       NaN       NaN
2794         NaN         NaN         NaN  ...  3.172578  3.750422  3.377288
3173         NaN         NaN         NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
935   4.747187  5.184912  5.245293  4.601360  4.412018  4.197076  4.097461
1411       NaN  4.320864  4.952442  5.278798  5.154027  5.220015  4.994670
1412       NaN  3.594259  3.492475  3.854478  4.152873  4.579280  5.343326
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
2794  3.068515  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[7 rows x 160 columns]
训练集 10:25 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
935     2011/7/6  2011      7    6         NaN         NaN         NaN
1411  2012/10/17  2012     10   17   37.157955   42.383690  156.926376
1412  2012/10/18  2012     10   18  294.470825  314.691101  333.886231
1417  2012/10/23  2012     10   23         NaN         NaN         NaN
2794    2016/7/5  2016      7    5         NaN         NaN         NaN
3173   2017/7/12  2017      7   12         NaN         NaN         NaN

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
935          NaN         NaN         NaN  ...  4.124589  4.320820  4.428288
1411  202.454758  224.962738  247.609543  ...  5.218112  4.602818       NaN
1412  356.399139         NaN         NaN  ...  3.818395  4.279331       NaN
1417         NaN  391.739502  410.761108  ...       NaN       NaN       NaN
2794         NaN         NaN         NaN  ...  3.172578  3.750422  3.377288
3173         NaN         NaN         NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
935   4.747187  5.184912  5.245293  4.601360  4.412018  4.197076  4.097461
1411       NaN  4.320864  4.952442  5.278798  5.154027  5.220015  4.994670
1412       NaN  3.594259  3.492475  3.854478  4.152873  4.579280  5.343326
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
2794  3.068515  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[7 rows x 160 columns]
训练集 10:30 列去掉全空
       Timestamp  Year  Month  Day  7:0  7:5  7:10  7:15        7:20  \
808     2011/3/3  2011      3    3  NaN  NaN   NaN   NaN         NaN
935     2011/7/6  2011      7    6  NaN  NaN   NaN   NaN         NaN
1417  2012/10/23  2012     10   23  NaN  NaN   NaN   NaN  391.739502
2794    2016/7/5  2016      7    5  NaN  NaN   NaN   NaN         NaN
3173   2017/7/12  2017      7   12  NaN  NaN   NaN   NaN         NaN

            7:25  ...     19:10     19:15     19:20     19:25     19:30  \
808          NaN  ...  6.486866  5.339732  6.921472  7.632997  5.551527
935          NaN  ...  4.124589  4.320820  4.428288  4.747187  5.184912
1417  410.761108  ...       NaN       NaN       NaN       NaN       NaN
2794         NaN  ...  3.172578  3.750422  3.377288  3.068515  2.104193
3173         NaN  ...  3.946955  3.812407  4.073687  3.939446  3.730217

         19:35     19:40     19:45     19:50     19:55
808   4.901142  4.436374  4.028373  3.488752  3.328448
935   5.245293  4.601360  4.412018  4.197076  4.097461
1417  5.900438  6.231114  5.937599  4.513626  4.797391
2794  1.663973  1.810439  1.485682  0.788498  1.435978
3173  3.420882  3.346558  3.232648  3.385681  3.352442

[5 rows x 160 columns]
训练集 10:35 列去掉全空
      Timestamp  Year  Month  Day  7:0  7:5  7:10  7:15  7:20  7:25  ...  \
808    2011/3/3  2011      3    3  NaN  NaN   NaN   NaN   NaN   NaN  ...
935    2011/7/6  2011      7    6  NaN  NaN   NaN   NaN   NaN   NaN  ...
2794   2016/7/5  2016      7    5  NaN  NaN   NaN   NaN   NaN   NaN  ...
3173  2017/7/12  2017      7   12  NaN  NaN   NaN   NaN   NaN   NaN  ...

         19:10     19:15     19:20     19:25     19:30     19:35     19:40  \
808   6.486866  5.339732  6.921472  7.632997  5.551527  4.901142  4.436374
935   4.124589  4.320820  4.428288  4.747187  5.184912  5.245293  4.601360
2794  3.172578  3.750422  3.377288  3.068515  2.104193  1.663973  1.810439
3173  3.946955  3.812407  4.073687  3.939446  3.730217  3.420882  3.346558

         19:45     19:50     19:55
808   4.028373  3.488752  3.328448
935   4.412018  4.197076  4.097461
2794  1.485682  0.788498  1.435978
3173  3.232648  3.385681  3.352442

[4 rows x 160 columns]
训练集 10:40 列去掉全空
      Timestamp  Year  Month  Day  7:0  7:5  7:10  7:15  7:20  7:25  ...  \
808    2011/3/3  2011      3    3  NaN  NaN   NaN   NaN   NaN   NaN  ...
2794   2016/7/5  2016      7    5  NaN  NaN   NaN   NaN   NaN   NaN  ...
3173  2017/7/12  2017      7   12  NaN  NaN   NaN   NaN   NaN   NaN  ...

         19:10     19:15     19:20     19:25     19:30     19:35     19:40  \
808   6.486866  5.339732  6.921472  7.632997  5.551527  4.901142  4.436374
2794  3.172578  3.750422  3.377288  3.068515  2.104193  1.663973  1.810439
3173  3.946955  3.812407  4.073687  3.939446  3.730217  3.420882  3.346558

         19:45     19:50     19:55
808   4.028373  3.488752  3.328448
2794  1.485682  0.788498  1.435978
3173  3.232648  3.385681  3.352442

[3 rows x 160 columns]
训练集 10:45 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5  7:10  7:15  7:20  \
808     2011/3/3  2011      3    3         NaN         NaN   NaN   NaN   NaN
1418  2012/10/24  2012     10   24  183.085495  204.070648   NaN   NaN   NaN
2794    2016/7/5  2016      7    5         NaN         NaN   NaN   NaN   NaN
3173   2017/7/12  2017      7   12         NaN         NaN   NaN   NaN   NaN

      7:25  ...     19:10     19:15     19:20     19:25     19:30     19:35  \
808    NaN  ...  6.486866  5.339732  6.921472  7.632997  5.551527  4.901142
1418   NaN  ...  3.504874  4.622918  4.646677  5.086406  5.146147  4.975608
2794   NaN  ...  3.172578  3.750422  3.377288  3.068515  2.104193  1.663973
3173   NaN  ...  3.946955  3.812407  4.073687  3.939446  3.730217  3.420882

         19:40     19:45     19:50     19:55
808   4.436374  4.028373  3.488752  3.328448
1418  4.578852  5.321349  5.604798  4.443629
2794  1.810439  1.485682  0.788498  1.435978
3173  3.346558  3.232648  3.385681  3.352442

[4 rows x 160 columns]
训练集 10:50 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
1413  2012/10/19  2012     10   19  281.477997  301.400818  320.033051
1418  2012/10/24  2012     10   24  183.085495  204.070648         NaN
2794    2016/7/5  2016      7    5         NaN         NaN         NaN
3119   2017/5/20  2017      5   20    3.967065    5.387635    7.117954
3173   2017/7/12  2017      7   12         NaN         NaN         NaN

            7:15       7:20       7:25  ...     19:10     19:15     19:20  \
808          NaN        NaN        NaN  ...  6.486866  5.339732  6.921472
1413  340.450348        NaN        NaN  ...  4.556329  4.536875  4.293592
1418         NaN        NaN        NaN  ...  3.504874  4.622918  4.646677
2794         NaN        NaN        NaN  ...  3.172578  3.750422  3.377288
3119    9.917403  15.390071  22.828123  ...  4.223152  2.485011  2.210741
3173         NaN        NaN        NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1413  4.609952  4.852335  5.553427  4.125535  3.659801  3.401146  4.112599
1418  5.086406  5.146147  4.975608  4.578852  5.321349  5.604798  4.443629
2794  3.068515  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3119  3.623093  4.001570  3.566461  3.843062  4.002652  4.134619  4.577665
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[6 rows x 160 columns]
训练集 10:55 列去掉全空
      Timestamp  Year  Month  Day       7:0       7:5      7:10      7:15  \
808    2011/3/3  2011      3    3       NaN       NaN       NaN       NaN
2794   2016/7/5  2016      7    5       NaN       NaN       NaN       NaN
3119  2017/5/20  2017      5   20  3.967065  5.387635  7.117954  9.917403
3173  2017/7/12  2017      7   12       NaN       NaN       NaN       NaN

           7:20       7:25  ...     19:10     19:15     19:20     19:25  \
808         NaN        NaN  ...  6.486866  5.339732  6.921472  7.632997
2794        NaN        NaN  ...  3.172578  3.750422  3.377288  3.068515
3119  15.390071  22.828123  ...  4.223152  2.485011  2.210741  3.623093
3173        NaN        NaN  ...  3.946955  3.812407  4.073687  3.939446

         19:30     19:35     19:40     19:45     19:50     19:55
808   5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
2794  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3119  4.001570  3.566461  3.843062  4.002652  4.134619  4.577665
3173  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[4 rows x 160 columns]
训练集 11:0 列去掉全空
      Timestamp  Year  Month  Day        7:0        7:5       7:10       7:15  \
808    2011/3/3  2011      3    3        NaN        NaN        NaN        NaN
1004  2011/9/13  2011      9   13  22.944015  47.885902  59.605133  64.211830
2794   2016/7/5  2016      7    5        NaN        NaN        NaN        NaN
3119  2017/5/20  2017      5   20   3.967065   5.387635   7.117954   9.917403
3173  2017/7/12  2017      7   12        NaN        NaN        NaN        NaN

           7:20       7:25  ...     19:10     19:15     19:20     19:25  \
808         NaN        NaN  ...  6.486866  5.339732  6.921472  7.632997
1004  59.178196  81.024612  ...  6.667845  6.267626  6.948259  5.918469
2794        NaN        NaN  ...  3.172578  3.750422  3.377288  3.068515
3119  15.390071  22.828123  ...  4.223152  2.485011  2.210741  3.623093
3173        NaN        NaN  ...  3.946955  3.812407  4.073687  3.939446

         19:30     19:35     19:40     19:45     19:50     19:55
808   5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1004  5.140316  4.978288  5.184673  4.624315  4.821652  5.889106
2794  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3119  4.001570  3.566461  3.843062  4.002652  4.134619  4.577665
3173  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[5 rows x 160 columns]
训练集 11:5 列去掉全空
       Timestamp  Year  Month  Day         7:0        7:5        7:10  \
808     2011/3/3  2011      3    3         NaN        NaN         NaN
1004   2011/9/13  2011      9   13   22.944015  47.885902   59.605133
1420  2012/10/26  2012     10   26   26.432814        NaN   39.380413
1421  2012/10/27  2012     10   27  226.360474        NaN  272.593079
1422  2012/10/28  2012     10   28  262.812317        NaN  310.987579
1423  2012/10/29  2012     10   29  265.923309        NaN  314.356690
2794    2016/7/5  2016      7    5         NaN        NaN         NaN
3119   2017/5/20  2017      5   20    3.967065   5.387635    7.117954
3173   2017/7/12  2017      7   12         NaN        NaN         NaN

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
1004   64.211830   59.178196   81.024612  ...  6.667845  6.267626  6.948259
1420   53.313744   50.709087   57.920269  ...  5.105648  4.986744  4.541391
1421  295.140045  315.948181  335.995483  ...  4.463860  4.749900  4.691750
1422  334.448578  357.993317  380.208649  ...  4.899028  5.498608  5.076665

       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
1398   2012/10/4  2012     10    4   39.875553   40.005974   54.759167
1417  2012/10/23  2012     10   23         NaN         NaN         NaN
1419  2012/10/25  2012     10   25   86.985077  103.254234  132.390503
1423  2012/10/29  2012     10   29  265.923309         NaN  314.356690
2794    2016/7/5  2016      7    5         NaN         NaN         NaN
3119   2017/5/20  2017      5   20    3.967065    5.387635    7.117954
3173   2017/7/12  2017      7   12         NaN         NaN         NaN

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
1398   78.262840  150.627411  176.794220  ...  6.450018  6.312364  5.803405
1417         NaN  391.739502  410.761108  ...       NaN       NaN       NaN
1419  112.126434  243.958359  265.414734  ...       NaN       NaN  4.096947
1423  336.908508  359.124145  381.520203  ...  6.155097  5.787716  5.618217
2794         NaN         NaN         NaN  ...  3.172578  3.750422  3.377288
3119    9.917403   15.390071   22.828123  ...  4.223152  2.485011  2.210741
3173         NaN         NaN         NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1398  5.280732  5.819748  6.144599  5.661792  3.884045  3.644714  3.998899
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
1419  3.515995  3.598475  4.162920  4.372980  4.670046  4.364528  3.947930
1423  5.794424  6.013473  5.745419  4.846519  5.602915  5.746114  6.641698
2794  3.068515  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3119  3.623093  4.001570  3.566461  3.843062  4.002652  4.134619  4.577665
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[8 rows x 160 columns]
训练集 11:20 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
1005   2011/9/14  2011      9   14   23.573591   50.318558   63.651558
1398   2012/10/4  2012     10    4   39.875553   40.005974   54.759167
1411  2012/10/17  2012     10   17   37.157955   42.383690  156.926376
1412  2012/10/18  2012     10   18  294.470825  314.691101  333.886231
1417  2012/10/23  2012     10   23         NaN         NaN         NaN
2794    2016/7/5  2016      7    5         NaN         NaN         NaN
3119   2017/5/20  2017      5   20    3.967065    5.387635    7.117954
3173   2017/7/12  2017      7   12         NaN         NaN         NaN

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
1005   55.657639   40.007797   72.159370  ...  6.875344  6.763406  6.955310
1398   78.262840  150.627411  176.794220  ...  6.450018  6.312364  5.803405
1411  202.454758  224.962738  247.609543  ...  5.218112  4.602818       NaN
1412  356.399139         NaN         NaN  ...  3.818395  4.279331       NaN
1417         NaN  391.739502  410.761108  ...       NaN       NaN       NaN
2794         NaN         NaN         NaN  ...  3.172578  3.750422  3.377288
3119    9.917403   15.390071   22.828123  ...  4.223152  2.485011  2.210741
3173         NaN         NaN         NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1005  6.312191  6.272585  4.867663  5.504498  4.750290  5.233460  5.702833
1398  5.280732  5.819748  6.144599  5.661792  3.884045  3.644714  3.998899
1411       NaN  4.320864  4.952442  5.278798  5.154027  5.220015  4.994670
1412       NaN  3.594259  3.492475  3.854478  4.152873  4.579280  5.343326
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
2794  3.068515  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3119  3.623093  4.001570  3.566461  3.843062  4.002652  4.134619  4.577665
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[9 rows x 160 columns]
训练集 11:25 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
1005   2011/9/14  2011      9   14   23.573591   50.318558   63.651558
1398   2012/10/4  2012     10    4   39.875553   40.005974   54.759167
1411  2012/10/17  2012     10   17   37.157955   42.383690  156.926376
1412  2012/10/18  2012     10   18  294.470825  314.691101  333.886231
1417  2012/10/23  2012     10   23         NaN         NaN         NaN
2794    2016/7/5  2016      7    5         NaN         NaN         NaN
3119   2017/5/20  2017      5   20    3.967065    5.387635    7.117954
3173   2017/7/12  2017      7   12         NaN         NaN         NaN

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
1005   55.657639   40.007797   72.159370  ...  6.875344  6.763406  6.955310
1398   78.262840  150.627411  176.794220  ...  6.450018  6.312364  5.803405
1411  202.454758  224.962738  247.609543  ...  5.218112  4.602818       NaN
1412  356.399139         NaN         NaN  ...  3.818395  4.279331       NaN
1417         NaN  391.739502  410.761108  ...       NaN       NaN       NaN
2794         NaN         NaN         NaN  ...  3.172578  3.750422  3.377288
3119    9.917403   15.390071   22.828123  ...  4.223152  2.485011  2.210741
3173         NaN         NaN         NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1005  6.312191  6.272585  4.867663  5.504498  4.750290  5.233460  5.702833
1398  5.280732  5.819748  6.144599  5.661792  3.884045  3.644714  3.998899
1411       NaN  4.320864  4.952442  5.278798  5.154027  5.220015  4.994670
1412       NaN  3.594259  3.492475  3.854478  4.152873  4.579280  5.343326
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
2794  3.068515  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3119  3.623093  4.001570  3.566461  3.843062  4.002652  4.134619  4.577665
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[9 rows x 160 columns]
训练集 11:30 列去掉全空
       Timestamp  Year  Month  Day        7:0        7:5       7:10  \
808     2011/3/3  2011      3    3        NaN        NaN        NaN
1005   2011/9/14  2011      9   14  23.573591  50.318558  63.651558
1398   2012/10/4  2012     10    4  39.875553  40.005974  54.759167
1417  2012/10/23  2012     10   23        NaN        NaN        NaN
2794    2016/7/5  2016      7    5        NaN        NaN        NaN
3119   2017/5/20  2017      5   20   3.967065   5.387635   7.117954
3173   2017/7/12  2017      7   12        NaN        NaN        NaN

           7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808         NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
1005  55.657639   40.007797   72.159370  ...  6.875344  6.763406  6.955310
1398  78.262840  150.627411  176.794220  ...  6.450018  6.312364  5.803405
1417        NaN  391.739502  410.761108  ...       NaN       NaN       NaN
2794        NaN         NaN         NaN  ...  3.172578  3.750422  3.377288
3119   9.917403   15.390071   22.828123  ...  4.223152  2.485011  2.210741
3173        NaN         NaN         NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1005  6.312191  6.272585  4.867663  5.504498  4.750290  5.233460  5.702833
1398  5.280732  5.819748  6.144599  5.661792  3.884045  3.644714  3.998899
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
2794  3.068515  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3119  3.623093  4.001570  3.566461  3.843062  4.002652  4.134619  4.577665
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[7 rows x 160 columns]
训练集 11:35 列去掉全空
      Timestamp  Year  Month  Day        7:0        7:5       7:10       7:15  \
808    2011/3/3  2011      3    3        NaN        NaN        NaN        NaN
1398  2012/10/4  2012     10    4  39.875553  40.005974  54.759167  78.262840
2794   2016/7/5  2016      7    5        NaN        NaN        NaN        NaN
3119  2017/5/20  2017      5   20   3.967065   5.387635   7.117954   9.917403
3173  2017/7/12  2017      7   12        NaN        NaN        NaN        NaN

            7:20        7:25  ...     19:10     19:15     19:20     19:25  \
808          NaN         NaN  ...  6.486866  5.339732  6.921472  7.632997
1398  150.627411  176.794220  ...  6.450018  6.312364  5.803405  5.280732
2794         NaN         NaN  ...  3.172578  3.750422  3.377288  3.068515
3119   15.390071   22.828123  ...  4.223152  2.485011  2.210741  3.623093
3173         NaN         NaN  ...  3.946955  3.812407  4.073687  3.939446

         19:30     19:35     19:40     19:45     19:50     19:55
808   5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1398  5.819748  6.144599  5.661792  3.884045  3.644714  3.998899
2794  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3119  4.001570  3.566461  3.843062  4.002652  4.134619  4.577665
3173  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[5 rows x 160 columns]
训练集 11:40 列去掉全空
      Timestamp  Year  Month  Day       7:0       7:5      7:10      7:15  \
808    2011/3/3  2011      3    3       NaN       NaN       NaN       NaN
935    2011/7/6  2011      7    6       NaN       NaN       NaN       NaN
2794   2016/7/5  2016      7    5       NaN       NaN       NaN       NaN
3119  2017/5/20  2017      5   20  3.967065  5.387635  7.117954  9.917403
3173  2017/7/12  2017      7   12       NaN       NaN       NaN       NaN

           7:20       7:25  ...     19:10     19:15     19:20     19:25  \
808         NaN        NaN  ...  6.486866  5.339732  6.921472  7.632997
935         NaN        NaN  ...  4.124589  4.320820  4.428288  4.747187
2794        NaN        NaN  ...  3.172578  3.750422  3.377288  3.068515
3119  15.390071  22.828123  ...  4.223152  2.485011  2.210741  3.623093
3173        NaN        NaN  ...  3.946955  3.812407  4.073687  3.939446

         19:30     19:35     19:40     19:45     19:50     19:55
808   5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
935   5.184912  5.245293  4.601360  4.412018  4.197076  4.097461
2794  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3119  4.001570  3.566461  3.843062  4.002652  4.134619  4.577665
3173  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[5 rows x 160 columns]
训练集 11:45 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5      7:10  \
808     2011/3/3  2011      3    3         NaN         NaN       NaN
935     2011/7/6  2011      7    6         NaN         NaN       NaN
1418  2012/10/24  2012     10   24  183.085495  204.070648       NaN
2794    2016/7/5  2016      7    5         NaN         NaN       NaN
3119   2017/5/20  2017      5   20    3.967065    5.387635  7.117954
3173   2017/7/12  2017      7   12         NaN         NaN       NaN

          7:15       7:20       7:25  ...     19:10     19:15     19:20  \
808        NaN        NaN        NaN  ...  6.486866  5.339732  6.921472
935        NaN        NaN        NaN  ...  4.124589  4.320820  4.428288
1418       NaN        NaN        NaN  ...  3.504874  4.622918  4.646677
2794       NaN        NaN        NaN  ...  3.172578  3.750422  3.377288
3119  9.917403  15.390071  22.828123  ...  4.223152  2.485011  2.210741
3173       NaN        NaN        NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
935   4.747187  5.184912  5.245293  4.601360  4.412018  4.197076  4.097461
1418  5.086406  5.146147  4.975608  4.578852  5.321349  5.604798  4.443629
2794  3.068515  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3119  3.623093  4.001570  3.566461  3.843062  4.002652  4.134619  4.577665
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[6 rows x 160 columns]
训练集 11:50 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
1413  2012/10/19  2012     10   19  281.477997  301.400818  320.033051
1418  2012/10/24  2012     10   24  183.085495  204.070648         NaN
2794    2016/7/5  2016      7    5         NaN         NaN         NaN
3119   2017/5/20  2017      5   20    3.967065    5.387635    7.117954
3173   2017/7/12  2017      7   12         NaN         NaN         NaN

            7:15       7:20       7:25  ...     19:10     19:15     19:20  \
808          NaN        NaN        NaN  ...  6.486866  5.339732  6.921472
1413  340.450348        NaN        NaN  ...  4.556329  4.536875  4.293592
1418         NaN        NaN        NaN  ...  3.504874  4.622918  4.646677
2794         NaN        NaN        NaN  ...  3.172578  3.750422  3.377288
3119    9.917403  15.390071  22.828123  ...  4.223152  2.485011  2.210741
3173         NaN        NaN        NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1413  4.609952  4.852335  5.553427  4.125535  3.659801  3.401146  4.112599
1418  5.086406  5.146147  4.975608  4.578852  5.321349  5.604798  4.443629
2794  3.068515  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3119  3.623093  4.001570  3.566461  3.843062  4.002652  4.134619  4.577665
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[6 rows x 160 columns]
训练集 11:55 列去掉全空
      Timestamp  Year  Month  Day       7:0       7:5      7:10      7:15  \
808    2011/3/3  2011      3    3       NaN       NaN       NaN       NaN
2794   2016/7/5  2016      7    5       NaN       NaN       NaN       NaN
3119  2017/5/20  2017      5   20  3.967065  5.387635  7.117954  9.917403
3173  2017/7/12  2017      7   12       NaN       NaN       NaN       NaN

           7:20       7:25  ...     19:10     19:15     19:20     19:25  \
808         NaN        NaN  ...  6.486866  5.339732  6.921472  7.632997
2794        NaN        NaN  ...  3.172578  3.750422  3.377288  3.068515
3119  15.390071  22.828123  ...  4.223152  2.485011  2.210741  3.623093
3173        NaN        NaN  ...  3.946955  3.812407  4.073687  3.939446

         19:30     19:35     19:40     19:45     19:50     19:55
808   5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
2794  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3119  4.001570  3.566461  3.843062  4.002652  4.134619  4.577665
3173  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[4 rows x 160 columns]
训练集 12:0 列去掉全空
      Timestamp  Year  Month  Day        7:0        7:5       7:10       7:15  \
808    2011/3/3  2011      3    3        NaN        NaN        NaN        NaN
1182   2012/3/5  2012      3    5  70.822845  61.711758  60.335472  72.068855
2794   2016/7/5  2016      7    5        NaN        NaN        NaN        NaN
3119  2017/5/20  2017      5   20   3.967065   5.387635   7.117954   9.917403
3173  2017/7/12  2017      7   12        NaN        NaN        NaN        NaN

           7:20        7:25  ...     19:10     19:15     19:20     19:25  \
808         NaN         NaN  ...  6.486866  5.339732  6.921472  7.632997
1182  83.293930  104.525398  ...  6.315817  5.326396  4.822379  4.814933
2794        NaN         NaN  ...  3.172578  3.750422  3.377288  3.068515
3119  15.390071   22.828123  ...  4.223152  2.485011  2.210741  3.623093
3173        NaN         NaN  ...  3.946955  3.812407  4.073687  3.939446

         19:30     19:35     19:40     19:45     19:50     19:55
808   5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1182  5.277677  4.578727  4.820980  4.474483  4.440650  4.878715
2794  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3119  4.001570  3.566461  3.843062  4.002652  4.134619  4.577665
3173  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[5 rows x 160 columns]
训练集 12:5 列去掉全空
       Timestamp  Year  Month  Day         7:0        7:5        7:10  \
808     2011/3/3  2011      3    3         NaN        NaN         NaN
1182    2012/3/5  2012      3    5   70.822845  61.711758   60.335472
1420  2012/10/26  2012     10   26   26.432814        NaN   39.380413
1421  2012/10/27  2012     10   27  226.360474        NaN  272.593079
1422  2012/10/28  2012     10   28  262.812317        NaN  310.987579
2794    2016/7/5  2016      7    5         NaN        NaN         NaN
3119   2017/5/20  2017      5   20    3.967065   5.387635    7.117954
3173   2017/7/12  2017      7   12         NaN        NaN         NaN

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
1182   72.068855   83.293930  104.525398  ...  6.315817  5.326396  4.822379
1420   53.313744   50.709087   57.920269  ...  5.105648  4.986744  4.541391
1421  295.140045  315.948181  335.995483  ...  4.463860  4.749900  4.691750
1422  334.448578  357.993317  380.208649  ...  4.899028  5.498608  5.076665
2794         NaN         NaN         NaN  ...  3.172578  3.750422  3.377288
3119    9.917403   15.390071   22.828123  ...  4.223152  2.485011  2.210741
3173         NaN         NaN         NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1182  4.814933  5.277677  4.578727  4.820980  4.474483  4.440650  4.878715
1420  4.219812  4.465595  4.584206  4.340246  4.504510  4.919559  4.664616
1421  4.896143  4.872780  4.998833  5.201963  4.652812  4.880147  4.464693
1422  4.789518  5.393334  4.882430  4.370772  4.938403  5.774659  6.260349
2794  3.068515  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3119  3.623093  4.001570  3.566461  3.843062  4.002652  4.134619  4.577665
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[8 rows x 160 columns]
训练集 12:10 列去掉全空
       Timestamp  Year  Month  Day        7:0         7:5        7:10  \
808     2011/3/3  2011      3    3        NaN         NaN         NaN
809     2011/3/4  2011      3    4  27.587208   30.075647   37.072262
1182    2012/3/5  2012      3    5  70.822845   61.711758   60.335472
1417  2012/10/23  2012     10   23        NaN         NaN         NaN
1419  2012/10/25  2012     10   25  86.985077  103.254234  132.390503
2794    2016/7/5  2016      7    5        NaN         NaN         NaN
3119   2017/5/20  2017      5   20   3.967065    5.387635    7.117954
3173   2017/7/12  2017      7   12        NaN         NaN         NaN

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
809    47.212852   63.876625   59.699551  ...  9.113855  7.901829  5.882995
1182   72.068855   83.293930  104.525398  ...  6.315817  5.326396  4.822379
1417         NaN  391.739502  410.761108  ...       NaN       NaN       NaN
1419  112.126434  243.958359  265.414734  ...       NaN       NaN  4.096947
2794         NaN         NaN         NaN  ...  3.172578  3.750422  3.377288
3119    9.917403   15.390071   22.828123  ...  4.223152  2.485011  2.210741
3173         NaN         NaN         NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
809   4.338480  4.091716  4.233726  4.281198  4.076392  4.018329  3.925465
1182  4.814933  5.277677  4.578727  4.820980  4.474483  4.440650  4.878715
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
1419  3.515995  3.598475  4.162920  4.372980  4.670046  4.364528  3.947930
2794  3.068515  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3119  3.623093  4.001570  3.566461  3.843062  4.002652  4.134619  4.577665
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[8 rows x 160 columns]
训练集 12:15 列去掉全空
       Timestamp  Year  Month  Day        7:0         7:5        7:10  \
808     2011/3/3  2011      3    3        NaN         NaN         NaN
1182    2012/3/5  2012      3    5  70.822845   61.711758   60.335472
1417  2012/10/23  2012     10   23        NaN         NaN         NaN
1419  2012/10/25  2012     10   25  86.985077  103.254234  132.390503
2794    2016/7/5  2016      7    5        NaN         NaN         NaN
3119   2017/5/20  2017      5   20   3.967065    5.387635    7.117954
3173   2017/7/12  2017      7   12        NaN         NaN         NaN

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
1182   72.068855   83.293930  104.525398  ...  6.315817  5.326396  4.822379
1417         NaN  391.739502  410.761108  ...       NaN       NaN       NaN
1419  112.126434  243.958359  265.414734  ...       NaN       NaN  4.096947
2794         NaN         NaN         NaN  ...  3.172578  3.750422  3.377288
3119    9.917403   15.390071   22.828123  ...  4.223152  2.485011  2.210741
3173         NaN         NaN         NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1182  4.814933  5.277677  4.578727  4.820980  4.474483  4.440650  4.878715
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
1419  3.515995  3.598475  4.162920  4.372980  4.670046  4.364528  3.947930
2794  3.068515  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3119  3.623093  4.001570  3.566461  3.843062  4.002652  4.134619  4.577665
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[7 rows x 160 columns]
训练集 12:20 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
1182    2012/3/5  2012      3    5   70.822845   61.711758   60.335472
1411  2012/10/17  2012     10   17   37.157955   42.383690  156.926376
1412  2012/10/18  2012     10   18  294.470825  314.691101  333.886231
1417  2012/10/23  2012     10   23         NaN         NaN         NaN
1825  2013/11/28  2013     11   28  231.839584  266.666870  303.659698
2794    2016/7/5  2016      7    5         NaN         NaN         NaN
3173   2017/7/12  2017      7   12         NaN         NaN         NaN

            7:15        7:20        7:25  ...      19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...   6.486866  5.339732  6.921472
1182   72.068855   83.293930  104.525398  ...   6.315817  5.326396  4.822379
1411  202.454758  224.962738  247.609543  ...   5.218112  4.602818       NaN
1412  356.399139         NaN         NaN  ...   3.818395  4.279331       NaN
1417         NaN  391.739502  410.761108  ...        NaN       NaN       NaN
1825  334.267944  371.539368  402.163330  ...  13.503258  5.122486  4.153944
2794         NaN         NaN         NaN  ...   3.172578  3.750422  3.377288
3173         NaN         NaN         NaN  ...   3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1182  4.814933  5.277677  4.578727  4.820980  4.474483  4.440650  4.878715
1411       NaN  4.320864  4.952442  5.278798  5.154027  5.220015  4.994670
1412       NaN  3.594259  3.492475  3.854478  4.152873  4.579280  5.343326
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
1825  3.937789  3.211024  3.107945  3.075966  2.963730  2.763017  2.475209
2794  3.068515  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[8 rows x 160 columns]
训练集 12:25 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
1411  2012/10/17  2012     10   17   37.157955   42.383690  156.926376
1412  2012/10/18  2012     10   18  294.470825  314.691101  333.886231
1417  2012/10/23  2012     10   23         NaN         NaN         NaN
1825  2013/11/28  2013     11   28  231.839584  266.666870  303.659698
2794    2016/7/5  2016      7    5         NaN         NaN         NaN
3173   2017/7/12  2017      7   12         NaN         NaN         NaN

            7:15        7:20        7:25  ...      19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...   6.486866  5.339732  6.921472
1411  202.454758  224.962738  247.609543  ...   5.218112  4.602818       NaN
1412  356.399139         NaN         NaN  ...   3.818395  4.279331       NaN
1417         NaN  391.739502  410.761108  ...        NaN       NaN       NaN
1825  334.267944  371.539368  402.163330  ...  13.503258  5.122486  4.153944
2794         NaN         NaN         NaN  ...   3.172578  3.750422  3.377288
3173         NaN         NaN         NaN  ...   3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1411       NaN  4.320864  4.952442  5.278798  5.154027  5.220015  4.994670
1412       NaN  3.594259  3.492475  3.854478  4.152873  4.579280  5.343326
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
1825  3.937789  3.211024  3.107945  3.075966  2.963730  2.763017  2.475209
2794  3.068515  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[7 rows x 160 columns]
训练集 12:30 列去掉全空
       Timestamp  Year  Month  Day         7:0        7:5        7:10  \
808     2011/3/3  2011      3    3         NaN        NaN         NaN
1417  2012/10/23  2012     10   23         NaN        NaN         NaN
1825  2013/11/28  2013     11   28  231.839584  266.66687  303.659698
2794    2016/7/5  2016      7    5         NaN        NaN         NaN
3173   2017/7/12  2017      7   12         NaN        NaN         NaN

            7:15        7:20        7:25  ...      19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...   6.486866  5.339732  6.921472
1417         NaN  391.739502  410.761108  ...        NaN       NaN       NaN
1825  334.267944  371.539368  402.163330  ...  13.503258  5.122486  4.153944
2794         NaN         NaN         NaN  ...   3.172578  3.750422  3.377288
3173         NaN         NaN         NaN  ...   3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
1825  3.937789  3.211024  3.107945  3.075966  2.963730  2.763017  2.475209
2794  3.068515  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[5 rows x 160 columns]
训练集 12:35 列去掉全空
       Timestamp  Year  Month  Day         7:0        7:5        7:10  \
808     2011/3/3  2011      3    3         NaN        NaN         NaN
1825  2013/11/28  2013     11   28  231.839584  266.66687  303.659698
2794    2016/7/5  2016      7    5         NaN        NaN         NaN
3173   2017/7/12  2017      7   12         NaN        NaN         NaN

            7:15        7:20       7:25  ...      19:10     19:15     19:20  \
808          NaN         NaN        NaN  ...   6.486866  5.339732  6.921472
1825  334.267944  371.539368  402.16333  ...  13.503258  5.122486  4.153944
2794         NaN         NaN        NaN  ...   3.172578  3.750422  3.377288
3173         NaN         NaN        NaN  ...   3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1825  3.937789  3.211024  3.107945  3.075966  2.963730  2.763017  2.475209
2794  3.068515  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[4 rows x 160 columns]
训练集 12:40 列去掉全空

       Timestamp  Year  Month  Day         7:0        7:5        7:10  \
808     2011/3/3  2011      3    3         NaN        NaN         NaN
1825  2013/11/28  2013     11   28  231.839584  266.66687  303.659698
2794    2016/7/5  2016      7    5         NaN        NaN         NaN
3173   2017/7/12  2017      7   12         NaN        NaN         NaN

            7:15        7:20       7:25  ...      19:10     19:15     19:20  \
808          NaN         NaN        NaN  ...   6.486866  5.339732  6.921472
1825  334.267944  371.539368  402.16333  ...  13.503258  5.122486  4.153944
2794         NaN         NaN        NaN  ...   3.172578  3.750422  3.377288
3173         NaN         NaN        NaN  ...   3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1825  3.937789  3.211024  3.107945  3.075966  2.963730  2.763017  2.475209
2794  3.068515  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[4 rows x 160 columns]
训练集 12:45 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5  7:10  7:15  7:20  \
808     2011/3/3  2011      3    3         NaN         NaN   NaN   NaN   NaN
1418  2012/10/24  2012     10   24  183.085495  204.070648   NaN   NaN   NaN
2794    2016/7/5  2016      7    5         NaN         NaN   NaN   NaN   NaN
3173   2017/7/12  2017      7   12         NaN         NaN   NaN   NaN   NaN

      7:25  ...     19:10     19:15     19:20     19:25     19:30     19:35  \
808    NaN  ...  6.486866  5.339732  6.921472  7.632997  5.551527  4.901142
1418   NaN  ...  3.504874  4.622918  4.646677  5.086406  5.146147  4.975608
2794   NaN  ...  3.172578  3.750422  3.377288  3.068515  2.104193  1.663973
3173   NaN  ...  3.946955  3.812407  4.073687  3.939446  3.730217  3.420882

         19:40     19:45     19:50     19:55
808   4.436374  4.028373  3.488752  3.328448
1418  4.578852  5.321349  5.604798  4.443629
2794  1.810439  1.485682  0.788498  1.435978
3173  3.346558  3.232648  3.385681  3.352442

[4 rows x 160 columns]
训练集 12:50 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
1413  2012/10/19  2012     10   19  281.477997  301.400818  320.033051
1418  2012/10/24  2012     10   24  183.085495  204.070648         NaN
2794    2016/7/5  2016      7    5         NaN         NaN         NaN
3173   2017/7/12  2017      7   12         NaN         NaN         NaN

            7:15  7:20  7:25  ...     19:10     19:15     19:20     19:25  \
808          NaN   NaN   NaN  ...  6.486866  5.339732  6.921472  7.632997
1413  340.450348   NaN   NaN  ...  4.556329  4.536875  4.293592  4.609952
1418         NaN   NaN   NaN  ...  3.504874  4.622918  4.646677  5.086406
2794         NaN   NaN   NaN  ...  3.172578  3.750422  3.377288  3.068515
3173         NaN   NaN   NaN  ...  3.946955  3.812407  4.073687  3.939446

         19:30     19:35     19:40     19:45     19:50     19:55
808   5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1413  4.852335  5.553427  4.125535  3.659801  3.401146  4.112599
1418  5.146147  4.975608  4.578852  5.321349  5.604798  4.443629
2794  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3173  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[5 rows x 160 columns]
训练集 12:55 列去掉全空
      Timestamp  Year  Month  Day  7:0  7:5  7:10  7:15  7:20  7:25  ...  \
808    2011/3/3  2011      3    3  NaN  NaN   NaN   NaN   NaN   NaN  ...
2794   2016/7/5  2016      7    5  NaN  NaN   NaN   NaN   NaN   NaN  ...
3173  2017/7/12  2017      7   12  NaN  NaN   NaN   NaN   NaN   NaN  ...

         19:10     19:15     19:20     19:25     19:30     19:35     19:40  \
808   6.486866  5.339732  6.921472  7.632997  5.551527  4.901142  4.436374
2794  3.172578  3.750422  3.377288  3.068515  2.104193  1.663973  1.810439
3173  3.946955  3.812407  4.073687  3.939446  3.730217  3.420882  3.346558

         19:45     19:50     19:55
808   4.028373  3.488752  3.328448
2794  1.485682  0.788498  1.435978
3173  3.232648  3.385681  3.352442

[3 rows x 160 columns]
训练集 13:0 列去掉全空
      Timestamp  Year  Month  Day  7:0  7:5  7:10  7:15  7:20  7:25  ...  \
808    2011/3/3  2011      3    3  NaN  NaN   NaN   NaN   NaN   NaN  ...
3173  2017/7/12  2017      7   12  NaN  NaN   NaN   NaN   NaN   NaN  ...

         19:10     19:15     19:20     19:25     19:30     19:35     19:40  \
808   6.486866  5.339732  6.921472  7.632997  5.551527  4.901142  4.436374
3173  3.946955  3.812407  4.073687  3.939446  3.730217  3.420882  3.346558

         19:45     19:50     19:55
808   4.028373  3.488752  3.328448
3173  3.232648  3.385681  3.352442

[2 rows x 160 columns]
训练集 13:5 列去掉全空
       Timestamp  Year  Month  Day         7:0  7:5        7:10        7:15  \
808     2011/3/3  2011      3    3         NaN  NaN         NaN         NaN
1420  2012/10/26  2012     10   26   26.432814  NaN   39.380413   53.313744
1421  2012/10/27  2012     10   27  226.360474  NaN  272.593079  295.140045
1422  2012/10/28  2012     10   28  262.812317  NaN  310.987579  334.448578
3173   2017/7/12  2017      7   12         NaN  NaN         NaN         NaN

            7:20        7:25  ...     19:10     19:15     19:20     19:25  \
808          NaN         NaN  ...  6.486866  5.339732  6.921472  7.632997
1420   50.709087   57.920269  ...  5.105648  4.986744  4.541391  4.219812
1421  315.948181  335.995483  ...  4.463860  4.749900  4.691750  4.896143
1422  357.993317  380.208649  ...  4.899028  5.498608  5.076665  4.789518
3173         NaN         NaN  ...  3.946955  3.812407  4.073687  3.939446

         19:30     19:35     19:40     19:45     19:50     19:55
808   5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1420  4.465595  4.584206  4.340246  4.504510  4.919559  4.664616
1421  4.872780  4.998833  5.201963  4.652812  4.880147  4.464693
1422  5.393334  4.882430  4.370772  4.938403  5.774659  6.260349
3173  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[5 rows x 160 columns]
训练集 13:10 列去掉全空
       Timestamp  Year  Month  Day        7:0         7:5        7:10  \
808     2011/3/3  2011      3    3        NaN         NaN         NaN
1417  2012/10/23  2012     10   23        NaN         NaN         NaN
1419  2012/10/25  2012     10   25  86.985077  103.254234  132.390503
2794    2016/7/5  2016      7    5        NaN         NaN         NaN
3173   2017/7/12  2017      7   12        NaN         NaN         NaN

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
1417         NaN  391.739502  410.761108  ...       NaN       NaN       NaN
1419  112.126434  243.958359  265.414734  ...       NaN       NaN  4.096947
2794         NaN         NaN         NaN  ...  3.172578  3.750422  3.377288
3173         NaN         NaN         NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
1419  3.515995  3.598475  4.162920  4.372980  4.670046  4.364528  3.947930
2794  3.068515  2.104193  1.663973  1.810439  1.485682  0.788498  1.435978
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[5 rows x 160 columns]
训练集 13:15 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
1019   2011/9/28  2011      9   28   47.213432   45.387596   47.490891
1417  2012/10/23  2012     10   23         NaN         NaN         NaN
1419  2012/10/25  2012     10   25   86.985077  103.254234  132.390503
1446  2012/11/21  2012     11   21  113.063538  129.903427  156.151535
3173   2017/7/12  2017      7   12         NaN         NaN         NaN

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
1019   48.747635   59.546909  102.351631  ...  5.725592  5.231678  4.879289
1417         NaN  391.739502  410.761108  ...       NaN       NaN       NaN
1419  112.126434  243.958359  265.414734  ...       NaN       NaN  4.096947
1446  170.619461  161.194946  180.533752  ...  4.330339  4.401666  4.009460
3173         NaN         NaN         NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1019  4.441487  4.765872  5.363108  4.832560  5.045629  4.097578  4.321026
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
1419  3.515995  3.598475  4.162920  4.372980  4.670046  4.364528  3.947930
1446  4.378527  4.387111  4.536891  4.762473  5.089203  3.960528  3.641656
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[6 rows x 160 columns]
训练集 13:20 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
954    2011/7/25  2011      7   25    4.251779    5.575148    7.804740
1019   2011/9/28  2011      9   28   47.213432   45.387596   47.490891
1411  2012/10/17  2012     10   17   37.157955   42.383690  156.926376
1412  2012/10/18  2012     10   18  294.470825  314.691101  333.886231
1417  2012/10/23  2012     10   23         NaN         NaN         NaN
3173   2017/7/12  2017      7   12         NaN         NaN         NaN

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
954     9.611255   11.544249   17.201473  ...  6.109234  5.518988  4.985388
1019   48.747635   59.546909  102.351631  ...  5.725592  5.231678  4.879289
1411  202.454758  224.962738  247.609543  ...  5.218112  4.602818       NaN
1412  356.399139         NaN         NaN  ...  3.818395  4.279331       NaN
1417         NaN  391.739502  410.761108  ...       NaN       NaN       NaN
3173         NaN         NaN         NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
954   5.191288  5.294321  4.667393  4.368129  3.963604  4.623102  5.018723
1019  4.441487  4.765872  5.363108  4.832560  5.045629  4.097578  4.321026
1411       NaN  4.320864  4.952442  5.278798  5.154027  5.220015  4.994670
1412       NaN  3.594259  3.492475  3.854478  4.152873  4.579280  5.343326
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[7 rows x 160 columns]
训练集 13:25 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
954    2011/7/25  2011      7   25    4.251779    5.575148    7.804740
1019   2011/9/28  2011      9   28   47.213432   45.387596   47.490891
1411  2012/10/17  2012     10   17   37.157955   42.383690  156.926376
1412  2012/10/18  2012     10   18  294.470825  314.691101  333.886231
1417  2012/10/23  2012     10   23         NaN         NaN         NaN
3173   2017/7/12  2017      7   12         NaN         NaN         NaN

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
954     9.611255   11.544249   17.201473  ...  6.109234  5.518988  4.985388
1019   48.747635   59.546909  102.351631  ...  5.725592  5.231678  4.879289
1411  202.454758  224.962738  247.609543  ...  5.218112  4.602818       NaN
1412  356.399139         NaN         NaN  ...  3.818395  4.279331       NaN
1417         NaN  391.739502  410.761108  ...       NaN       NaN       NaN
3173         NaN         NaN         NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
954   5.191288  5.294321  4.667393  4.368129  3.963604  4.623102  5.018723
1019  4.441487  4.765872  5.363108  4.832560  5.045629  4.097578  4.321026
1411       NaN  4.320864  4.952442  5.278798  5.154027  5.220015  4.994670
1412       NaN  3.594259  3.492475  3.854478  4.152873  4.579280  5.343326
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[7 rows x 160 columns]
训练集 13:30 列去掉全空
       Timestamp  Year  Month  Day  7:0  7:5  7:10  7:15        7:20  \
808     2011/3/3  2011      3    3  NaN  NaN   NaN   NaN         NaN
1417  2012/10/23  2012     10   23  NaN  NaN   NaN   NaN  391.739502
2794    2016/7/5  2016      7    5  NaN  NaN   NaN   NaN         NaN
3173   2017/7/12  2017      7   12  NaN  NaN   NaN   NaN         NaN

            7:25  ...     19:10     19:15     19:20     19:25     19:30  \
808          NaN  ...  6.486866  5.339732  6.921472  7.632997  5.551527
1417  410.761108  ...       NaN       NaN       NaN       NaN       NaN
2794         NaN  ...  3.172578  3.750422  3.377288  3.068515  2.104193
3173         NaN  ...  3.946955  3.812407  4.073687  3.939446  3.730217

         19:35     19:40     19:45     19:50     19:55
808   4.901142  4.436374  4.028373  3.488752  3.328448
1417  5.900438  6.231114  5.937599  4.513626  4.797391
2794  1.663973  1.810439  1.485682  0.788498  1.435978
3173  3.420882  3.346558  3.232648  3.385681  3.352442

[4 rows x 160 columns]
训练集 13:35 列去掉全空
      Timestamp  Year  Month  Day       7:0       7:5      7:10      7:15  \
808    2011/3/3  2011      3    3       NaN       NaN       NaN       NaN
1675   2013/7/2  2013      7    2  3.005301  3.465882  4.248712  5.035779
3173  2017/7/12  2017      7   12       NaN       NaN       NaN       NaN

          7:20      7:25  ...     19:10     19:15     19:20     19:25  \
808        NaN       NaN  ...  6.486866  5.339732  6.921472  7.632997
1675  6.503022  7.598864  ...  5.003755  5.811413  5.120541  5.402816
3173       NaN       NaN  ...  3.946955  3.812407  4.073687  3.939446

         19:30     19:35     19:40     19:45     19:50     19:55
808   5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1675  4.902534  4.580784  4.791062  4.828572  3.692283  2.968019
3173  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[3 rows x 160 columns]
训练集 13:40 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
1675    2013/7/2  2013      7    2    3.005301    3.465882    4.248712
1825  2013/11/28  2013     11   28  231.839584  266.666870  303.659698
3173   2017/7/12  2017      7   12         NaN         NaN         NaN

            7:15        7:20        7:25  ...      19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...   6.486866  5.339732  6.921472
1675    5.035779    6.503022    7.598864  ...   5.003755  5.811413  5.120541
1825  334.267944  371.539368  402.163330  ...  13.503258  5.122486  4.153944
3173         NaN         NaN         NaN  ...   3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1675  5.402816  4.902534  4.580784  4.791062  4.828572  3.692283  2.968019
1825  3.937789  3.211024  3.107945  3.075966  2.963730  2.763017  2.475209
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[4 rows x 160 columns]
训练集 13:45 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
1418  2012/10/24  2012     10   24  183.085495  204.070648         NaN
1675    2013/7/2  2013      7    2    3.005301    3.465882    4.248712
1825  2013/11/28  2013     11   28  231.839584  266.666870  303.659698
3173   2017/7/12  2017      7   12         NaN         NaN         NaN

            7:15        7:20        7:25  ...      19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...   6.486866  5.339732  6.921472
1418         NaN         NaN         NaN  ...   3.504874  4.622918  4.646677
1675    5.035779    6.503022    7.598864  ...   5.003755  5.811413  5.120541
1825  334.267944  371.539368  402.163330  ...  13.503258  5.122486  4.153944
3173         NaN         NaN         NaN  ...   3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1418  5.086406  5.146147  4.975608  4.578852  5.321349  5.604798  4.443629
1675  5.402816  4.902534  4.580784  4.791062  4.828572  3.692283  2.968019
1825  3.937789  3.211024  3.107945  3.075966  2.963730  2.763017  2.475209
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[5 rows x 160 columns]
训练集 13:50 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
1418  2012/10/24  2012     10   24  183.085495  204.070648         NaN
1675    2013/7/2  2013      7    2    3.005301    3.465882    4.248712
1825  2013/11/28  2013     11   28  231.839584  266.666870  303.659698
3173   2017/7/12  2017      7   12         NaN         NaN         NaN

            7:15        7:20        7:25  ...      19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...   6.486866  5.339732  6.921472
1418         NaN         NaN         NaN  ...   3.504874  4.622918  4.646677
1675    5.035779    6.503022    7.598864  ...   5.003755  5.811413  5.120541
1825  334.267944  371.539368  402.163330  ...  13.503258  5.122486  4.153944
3173         NaN         NaN         NaN  ...   3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1418  5.086406  5.146147  4.975608  4.578852  5.321349  5.604798  4.443629
1675  5.402816  4.902534  4.580784  4.791062  4.828572  3.692283  2.968019
1825  3.937789  3.211024  3.107945  3.075966  2.963730  2.763017  2.475209
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[5 rows x 160 columns]
训练集 13:55 列去掉全空
      Timestamp  Year  Month  Day       7:0       7:5      7:10      7:15  \
808    2011/3/3  2011      3    3       NaN       NaN       NaN       NaN
1675   2013/7/2  2013      7    2  3.005301  3.465882  4.248712  5.035779
3173  2017/7/12  2017      7   12       NaN       NaN       NaN       NaN

          7:20      7:25  ...     19:10     19:15     19:20     19:25  \
808        NaN       NaN  ...  6.486866  5.339732  6.921472  7.632997
1675  6.503022  7.598864  ...  5.003755  5.811413  5.120541  5.402816
3173       NaN       NaN  ...  3.946955  3.812407  4.073687  3.939446

         19:30     19:35     19:40     19:45     19:50     19:55
808   5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1675  4.902534  4.580784  4.791062  4.828572  3.692283  2.968019
3173  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[3 rows x 160 columns]
训练集 14:0 列去掉全空
      Timestamp  Year  Month  Day       7:0        7:5       7:10       7:15  \
808    2011/3/3  2011      3    3       NaN        NaN        NaN        NaN
1025  2011/10/3  2011     10    3  9.502670  12.372826  13.837427  15.296310
1675   2013/7/2  2013      7    2  3.005301   3.465882   4.248712   5.035779
3173  2017/7/12  2017      7   12       NaN        NaN        NaN        NaN


[4 rows x 160 columns]
训练集 14:5 列去掉全空
       Timestamp  Year  Month  Day         7:0        7:5        7:10  \
808     2011/3/3  2011      3    3         NaN        NaN         NaN
1025   2011/10/3  2011     10    3    9.502670  12.372826   13.837427
1420  2012/10/26  2012     10   26   26.432814        NaN   39.380413
1421  2012/10/27  2012     10   27  226.360474        NaN  272.593079
1422  2012/10/28  2012     10   28  262.812317        NaN  310.987579
1675    2013/7/2  2013      7    2    3.005301   3.465882    4.248712
3173   2017/7/12  2017      7   12         NaN        NaN         NaN

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
1025   15.296310   16.274530   19.088978  ...  4.289582  3.909062  4.124379
1420   53.313744   50.709087   57.920269  ...  5.105648  4.986744  4.541391
1421  295.140045  315.948181  335.995483  ...  4.463860  4.749900  4.691750
1422  334.448578  357.993317  380.208649  ...  4.899028  5.498608  5.076665
1675    5.035779    6.503022    7.598864  ...  5.003755  5.811413  5.120541
3173         NaN         NaN         NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1025  4.135259  4.209808  3.882611  3.354570  4.118495  3.760557  4.221065
1420  4.219812  4.465595  4.584206  4.340246  4.504510  4.919559  4.664616
1421  4.896143  4.872780  4.998833  5.201963  4.652812  4.880147  4.464693
1422  4.789518  5.393334  4.882430  4.370772  4.938403  5.774659  6.260349
1675  5.402816  4.902534  4.580784  4.791062  4.828572  3.692283  2.968019
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[7 rows x 160 columns]
训练集 14:10 列去掉全空
       Timestamp  Year  Month  Day        7:0         7:5        7:10  \
808     2011/3/3  2011      3    3        NaN         NaN         NaN
1025   2011/10/3  2011     10    3   9.502670   12.372826   13.837427
1417  2012/10/23  2012     10   23        NaN         NaN         NaN
1419  2012/10/25  2012     10   25  86.985077  103.254234  132.390503
1675    2013/7/2  2013      7    2   3.005301    3.465882    4.248712
3173   2017/7/12  2017      7   12        NaN         NaN         NaN

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
1025   15.296310   16.274530   19.088978  ...  4.289582  3.909062  4.124379
1417         NaN  391.739502  410.761108  ...       NaN       NaN       NaN
1419  112.126434  243.958359  265.414734  ...       NaN       NaN  4.096947
1675    5.035779    6.503022    7.598864  ...  5.003755  5.811413  5.120541
3173         NaN         NaN         NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1025  4.135259  4.209808  3.882611  3.354570  4.118495  3.760557  4.221065
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
1419  3.515995  3.598475  4.162920  4.372980  4.670046  4.364528  3.947930
1675  5.402816  4.902534  4.580784  4.791062  4.828572  3.692283  2.968019
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[6 rows x 160 columns]
训练集 14:15 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
1417  2012/10/23  2012     10   23         NaN         NaN         NaN
1419  2012/10/25  2012     10   25   86.985077  103.254234  132.390503
1446  2012/11/21  2012     11   21  113.063538  129.903427  156.151535
1675    2013/7/2  2013      7    2    3.005301    3.465882    4.248712
3173   2017/7/12  2017      7   12         NaN         NaN         NaN

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
1417         NaN  391.739502  410.761108  ...       NaN       NaN       NaN
1419  112.126434  243.958359  265.414734  ...       NaN       NaN  4.096947
1446  170.619461  161.194946  180.533752  ...  4.330339  4.401666  4.009460
1675    5.035779    6.503022    7.598864  ...  5.003755  5.811413  5.120541
3173         NaN         NaN         NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
1419  3.515995  3.598475  4.162920  4.372980  4.670046  4.364528  3.947930
1446  4.378527  4.387111  4.536891  4.762473  5.089203  3.960528  3.641656
1675  5.402816  4.902534  4.580784  4.791062  4.828572  3.692283  2.968019
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[6 rows x 160 columns]
训练集 14:20 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
1411  2012/10/17  2012     10   17   37.157955   42.383690  156.926376
1412  2012/10/18  2012     10   18  294.470825  314.691101  333.886231
1417  2012/10/23  2012     10   23         NaN         NaN         NaN
1675    2013/7/2  2013      7    2    3.005301    3.465882    4.248712
3173   2017/7/12  2017      7   12         NaN         NaN         NaN

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
1411  202.454758  224.962738  247.609543  ...  5.218112  4.602818       NaN
1412  356.399139         NaN         NaN  ...  3.818395  4.279331       NaN
1417         NaN  391.739502  410.761108  ...       NaN       NaN       NaN
1675    5.035779    6.503022    7.598864  ...  5.003755  5.811413  5.120541
3173         NaN         NaN         NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1411       NaN  4.320864  4.952442  5.278798  5.154027  5.220015  4.994670
1412       NaN  3.594259  3.492475  3.854478  4.152873  4.579280  5.343326
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
1675  5.402816  4.902534  4.580784  4.791062  4.828572  3.692283  2.968019
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[6 rows x 160 columns]
训练集 14:25 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
1411  2012/10/17  2012     10   17   37.157955   42.383690  156.926376
1412  2012/10/18  2012     10   18  294.470825  314.691101  333.886231
1417  2012/10/23  2012     10   23         NaN         NaN         NaN
1675    2013/7/2  2013      7    2    3.005301    3.465882    4.248712
3173   2017/7/12  2017      7   12         NaN         NaN         NaN

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
1411  202.454758  224.962738  247.609543  ...  5.218112  4.602818       NaN
1412  356.399139         NaN         NaN  ...  3.818395  4.279331       NaN
1417         NaN  391.739502  410.761108  ...       NaN       NaN       NaN
1675    5.035779    6.503022    7.598864  ...  5.003755  5.811413  5.120541
3173         NaN         NaN         NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1411       NaN  4.320864  4.952442  5.278798  5.154027  5.220015  4.994670
1412       NaN  3.594259  3.492475  3.854478  4.152873  4.579280  5.343326
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
1675  5.402816  4.902534  4.580784  4.791062  4.828572  3.692283  2.968019
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[6 rows x 160 columns]
训练集 14:30 列去掉全空
       Timestamp  Year  Month  Day        7:0        7:5       7:10  \
312    2009/11/3  2009     11    3  74.168228  77.138153  77.850594
808     2011/3/3  2011      3    3        NaN        NaN        NaN
1417  2012/10/23  2012     10   23        NaN        NaN        NaN
1675    2013/7/2  2013      7    2   3.005301   3.465882   4.248712
3173   2017/7/12  2017      7   12        NaN        NaN        NaN

           7:15        7:20        7:25  ...     19:10     19:15     19:20  \
312   77.410934   77.880974   77.038040  ...  4.286414  3.646626  3.675138
808         NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
1417        NaN  391.739502  410.761108  ...       NaN       NaN       NaN
1675   5.035779    6.503022    7.598864  ...  5.003755  5.811413  5.120541
3173        NaN         NaN         NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
312   3.365103  3.582824  4.111361  4.323082  4.370483  4.365983  3.964418
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
1675  5.402816  4.902534  4.580784  4.791062  4.828572  3.692283  2.968019
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[5 rows x 160 columns]
训练集 14:35 列去掉全空
      Timestamp  Year  Month  Day       7:0       7:5      7:10      7:15  \
808    2011/3/3  2011      3    3       NaN       NaN       NaN       NaN
1675   2013/7/2  2013      7    2  3.005301  3.465882  4.248712  5.035779
3173  2017/7/12  2017      7   12       NaN       NaN       NaN       NaN

          7:20      7:25  ...     19:10     19:15     19:20     19:25  \
808        NaN       NaN  ...  6.486866  5.339732  6.921472  7.632997
1675  6.503022  7.598864  ...  5.003755  5.811413  5.120541  5.402816
3173       NaN       NaN  ...  3.946955  3.812407  4.073687  3.939446

         19:30     19:35     19:40     19:45     19:50     19:55
808   5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1675  4.902534  4.580784  4.791062  4.828572  3.692283  2.968019
3173  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[3 rows x 160 columns]
训练集 14:40 列去掉全空
      Timestamp  Year  Month  Day       7:0       7:5      7:10      7:15  \
808    2011/3/3  2011      3    3       NaN       NaN       NaN       NaN
1675   2013/7/2  2013      7    2  3.005301  3.465882  4.248712  5.035779
3173  2017/7/12  2017      7   12       NaN       NaN       NaN       NaN

          7:20      7:25  ...     19:10     19:15     19:20     19:25  \
808        NaN       NaN  ...  6.486866  5.339732  6.921472  7.632997
1675  6.503022  7.598864  ...  5.003755  5.811413  5.120541  5.402816
3173       NaN       NaN  ...  3.946955  3.812407  4.073687  3.939446

         19:30     19:35     19:40     19:45     19:50     19:55
808   5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1675  4.902534  4.580784  4.791062  4.828572  3.692283  2.968019
3173  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[3 rows x 160 columns]
训练集 14:45 列去掉全空

       Timestamp  Year  Month  Day         7:0         7:5      7:10  \
808     2011/3/3  2011      3    3         NaN         NaN       NaN
1418  2012/10/24  2012     10   24  183.085495  204.070648       NaN
1675    2013/7/2  2013      7    2    3.005301    3.465882  4.248712
3171   2017/7/10  2017      7   10    2.651160    2.661245  2.857351
3173   2017/7/12  2017      7   12         NaN         NaN       NaN

          7:15      7:20      7:25  ...     19:10     19:15     19:20  \
808        NaN       NaN       NaN  ...  6.486866  5.339732  6.921472
1418       NaN       NaN       NaN  ...  3.504874  4.622918  4.646677
1675  5.035779  6.503022  7.598864  ...  5.003755  5.811413  5.120541
3171  3.262394  4.081432  4.857900  ...       NaN       NaN       NaN
3173       NaN       NaN       NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1418  5.086406  5.146147  4.975608  4.578852  5.321349  5.604798  4.443629
1675  5.402816  4.902534  4.580784  4.791062  4.828572  3.692283  2.968019
3171       NaN       NaN       NaN       NaN       NaN       NaN       NaN
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[5 rows x 160 columns]
训练集 14:50 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
1096  2011/12/12  2011     12   12  215.315155  237.642212  260.375946
1418  2012/10/24  2012     10   24  183.085495  204.070648         NaN
1675    2013/7/2  2013      7    2    3.005301    3.465882    4.248712
3171   2017/7/10  2017      7   10    2.651160    2.661245    2.857351
3173   2017/7/12  2017      7   12         NaN         NaN         NaN

            7:15        7:20        7:25  ...      19:10      19:15     19:20  \
808          NaN         NaN         NaN  ...   6.486866   5.339732  6.921472
1096  283.515808  304.672577  321.610291  ...  14.825815  12.072706  9.095454
1418         NaN         NaN         NaN  ...   3.504874   4.622918  4.646677
1675    5.035779    6.503022    7.598864  ...   5.003755   5.811413  5.120541
3171    3.262394    4.081432    4.857900  ...        NaN        NaN       NaN
3173         NaN         NaN         NaN  ...   3.946955   3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1096  7.628193  5.781237  4.387530  3.817106  4.135210  4.473417  4.623816
1418  5.086406  5.146147  4.975608  4.578852  5.321349  5.604798  4.443629
1675  5.402816  4.902534  4.580784  4.791062  4.828572  3.692283  2.968019
3171       NaN       NaN       NaN       NaN       NaN       NaN       NaN
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[6 rows x 160 columns]
训练集 14:55 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
1096  2011/12/12  2011     12   12  215.315155  237.642212  260.375946
1675    2013/7/2  2013      7    2    3.005301    3.465882    4.248712
3171   2017/7/10  2017      7   10    2.651160    2.661245    2.857351
3173   2017/7/12  2017      7   12         NaN         NaN         NaN

            7:15        7:20        7:25  ...      19:10      19:15     19:20  \
808          NaN         NaN         NaN  ...   6.486866   5.339732  6.921472
1096  283.515808  304.672577  321.610291  ...  14.825815  12.072706  9.095454
1675    5.035779    6.503022    7.598864  ...   5.003755   5.811413  5.120541
3171    3.262394    4.081432    4.857900  ...        NaN        NaN       NaN
3173         NaN         NaN         NaN  ...   3.946955   3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1096  7.628193  5.781237  4.387530  3.817106  4.135210  4.473417  4.623816
1675  5.402816  4.902534  4.580784  4.791062  4.828572  3.692283  2.968019
3171       NaN       NaN       NaN       NaN       NaN       NaN       NaN
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[5 rows x 160 columns]
训练集 15:0 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
1096  2011/12/12  2011     12   12  215.315155  237.642212  260.375946
1675    2013/7/2  2013      7    2    3.005301    3.465882    4.248712
3171   2017/7/10  2017      7   10    2.651160    2.661245    2.857351
3173   2017/7/12  2017      7   12         NaN         NaN         NaN

            7:15        7:20        7:25  ...      19:10      19:15     19:20  \
808          NaN         NaN         NaN  ...   6.486866   5.339732  6.921472
1096  283.515808  304.672577  321.610291  ...  14.825815  12.072706  9.095454
1675    5.035779    6.503022    7.598864  ...   5.003755   5.811413  5.120541
3171    3.262394    4.081432    4.857900  ...        NaN        NaN       NaN
3173         NaN         NaN         NaN  ...   3.946955   3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1096  7.628193  5.781237  4.387530  3.817106  4.135210  4.473417  4.623816
1675  5.402816  4.902534  4.580784  4.791062  4.828572  3.692283  2.968019
3171       NaN       NaN       NaN       NaN       NaN       NaN       NaN
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[5 rows x 160 columns]
训练集 15:5 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
1096  2011/12/12  2011     12   12  215.315155  237.642212  260.375946
1420  2012/10/26  2012     10   26   26.432814         NaN   39.380413
1421  2012/10/27  2012     10   27  226.360474         NaN  272.593079
1422  2012/10/28  2012     10   28  262.812317         NaN  310.987579
1675    2013/7/2  2013      7    2    3.005301    3.465882    4.248712
3171   2017/7/10  2017      7   10    2.651160    2.661245    2.857351
3173   2017/7/12  2017      7   12         NaN         NaN         NaN

            7:15        7:20        7:25  ...      19:10      19:15     19:20  \
808          NaN         NaN         NaN  ...   6.486866   5.339732  6.921472
1096  283.515808  304.672577  321.610291  ...  14.825815  12.072706  9.095454
1420   53.313744   50.709087   57.920269  ...   5.105648   4.986744  4.541391
1421  295.140045  315.948181  335.995483  ...   4.463860   4.749900  4.691750
1422  334.448578  357.993317  380.208649  ...   4.899028   5.498608  5.076665
1675    5.035779    6.503022    7.598864  ...   5.003755   5.811413  5.120541
3171    3.262394    4.081432    4.857900  ...        NaN        NaN       NaN
3173         NaN         NaN         NaN  ...   3.946955   3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1096  7.628193  5.781237  4.387530  3.817106  4.135210  4.473417  4.623816
1420  4.219812  4.465595  4.584206  4.340246  4.504510  4.919559  4.664616
1421  4.896143  4.872780  4.998833  5.201963  4.652812  4.880147  4.464693
1422  4.789518  5.393334  4.882430  4.370772  4.938403  5.774659  6.260349
1675  5.402816  4.902534  4.580784  4.791062  4.828572  3.692283  2.968019
3171       NaN       NaN       NaN       NaN       NaN       NaN       NaN
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[8 rows x 160 columns]
训练集 15:10 列去掉全空
       Timestamp  Year  Month  Day        7:0         7:5        7:10  \
808     2011/3/3  2011      3    3        NaN         NaN         NaN
1409  2012/10/15  2012     10   15  30.356077   28.538706   62.232258
1417  2012/10/23  2012     10   23        NaN         NaN         NaN
1419  2012/10/25  2012     10   25  86.985077  103.254234  132.390503
1675    2013/7/2  2013      7    2   3.005301    3.465882    4.248712
3171   2017/7/10  2017      7   10   2.651160    2.661245    2.857351
3173   2017/7/12  2017      7   12        NaN         NaN         NaN

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
1409  202.609680  245.085770  268.878082  ...  8.413584  7.403599  6.021409
1417         NaN  391.739502  410.761108  ...       NaN       NaN       NaN
1419  112.126434  243.958359  265.414734  ...       NaN       NaN  4.096947
1675    5.035779    6.503022    7.598864  ...  5.003755  5.811413  5.120541
3171    3.262394    4.081432    4.857900  ...       NaN       NaN       NaN
3173         NaN         NaN         NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1409  6.249480  6.672613  7.363125  7.437070  6.337370  4.676983  6.013365
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
1419  3.515995  3.598475  4.162920  4.372980  4.670046  4.364528  3.947930
1675  5.402816  4.902534  4.580784  4.791062  4.828572  3.692283  2.968019
3171       NaN       NaN       NaN       NaN       NaN       NaN       NaN
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[7 rows x 160 columns]
训练集 15:15 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
1409  2012/10/15  2012     10   15   30.356077   28.538706   62.232258
1417  2012/10/23  2012     10   23         NaN         NaN         NaN
1419  2012/10/25  2012     10   25   86.985077  103.254234  132.390503
1446  2012/11/21  2012     11   21  113.063538  129.903427  156.151535
1454  2012/11/29  2012     11   29  208.173416  231.138962  250.102844
1675    2013/7/2  2013      7    2    3.005301    3.465882    4.248712
3171   2017/7/10  2017      7   10    2.651160    2.661245    2.857351
3173   2017/7/12  2017      7   12         NaN         NaN         NaN

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
1409  202.609680  245.085770  268.878082  ...  8.413584  7.403599  6.021409
1417         NaN  391.739502  410.761108  ...       NaN       NaN       NaN
1419  112.126434  243.958359  265.414734  ...       NaN       NaN  4.096947
1446  170.619461  161.194946  180.533752  ...  4.330339  4.401666  4.009460
1454  269.146484  301.769867  392.083130  ...  4.752529       NaN  5.082174
1675    5.035779    6.503022    7.598864  ...  5.003755  5.811413  5.120541
3171    3.262394    4.081432    4.857900  ...       NaN       NaN       NaN
3173         NaN         NaN         NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1409  6.249480  6.672613  7.363125  7.437070  6.337370  4.676983  6.013365
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
1419  3.515995  3.598475  4.162920  4.372980  4.670046  4.364528  3.947930
1446  4.378527  4.387111  4.536891  4.762473  5.089203  3.960528  3.641656
1454  4.807433  3.604253  3.858863  4.351862  4.010394  4.231977  4.082248
1675  5.402816  4.902534  4.580784  4.791062  4.828572  3.692283  2.968019
3171       NaN       NaN       NaN       NaN       NaN       NaN       NaN
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[9 rows x 160 columns]
训练集 15:20 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
1409  2012/10/15  2012     10   15   30.356077   28.538706   62.232258
1411  2012/10/17  2012     10   17   37.157955   42.383690  156.926376
1412  2012/10/18  2012     10   18  294.470825  314.691101  333.886231
1417  2012/10/23  2012     10   23         NaN         NaN         NaN
1675    2013/7/2  2013      7    2    3.005301    3.465882    4.248712
3171   2017/7/10  2017      7   10    2.651160    2.661245    2.857351
3173   2017/7/12  2017      7   12         NaN         NaN         NaN

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
1409  202.609680  245.085770  268.878082  ...  8.413584  7.403599  6.021409
1411  202.454758  224.962738  247.609543  ...  5.218112  4.602818       NaN
1412  356.399139         NaN         NaN  ...  3.818395  4.279331       NaN
1417         NaN  391.739502  410.761108  ...       NaN       NaN       NaN
1675    5.035779    6.503022    7.598864  ...  5.003755  5.811413  5.120541
3171    3.262394    4.081432    4.857900  ...       NaN       NaN       NaN
3173         NaN         NaN         NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1409  6.249480  6.672613  7.363125  7.437070  6.337370  4.676983  6.013365
1411       NaN  4.320864  4.952442  5.278798  5.154027  5.220015  4.994670
1412       NaN  3.594259  3.492475  3.854478  4.152873  4.579280  5.343326
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
1675  5.402816  4.902534  4.580784  4.791062  4.828572  3.692283  2.968019
3171       NaN       NaN       NaN       NaN       NaN       NaN       NaN
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[8 rows x 160 columns]
训练集 15:25 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
1409  2012/10/15  2012     10   15   30.356077   28.538706   62.232258
1411  2012/10/17  2012     10   17   37.157955   42.383690  156.926376
1412  2012/10/18  2012     10   18  294.470825  314.691101  333.886231
1417  2012/10/23  2012     10   23         NaN         NaN         NaN
1675    2013/7/2  2013      7    2    3.005301    3.465882    4.248712
3171   2017/7/10  2017      7   10    2.651160    2.661245    2.857351
3173   2017/7/12  2017      7   12         NaN         NaN         NaN

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
1409  202.609680  245.085770  268.878082  ...  8.413584  7.403599  6.021409
1411  202.454758  224.962738  247.609543  ...  5.218112  4.602818       NaN
1412  356.399139         NaN         NaN  ...  3.818395  4.279331       NaN
1417         NaN  391.739502  410.761108  ...       NaN       NaN       NaN
1675    5.035779    6.503022    7.598864  ...  5.003755  5.811413  5.120541
3171    3.262394    4.081432    4.857900  ...       NaN       NaN       NaN
3173         NaN         NaN         NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1409  6.249480  6.672613  7.363125  7.437070  6.337370  4.676983  6.013365
1411       NaN  4.320864  4.952442  5.278798  5.154027  5.220015  4.994670
1412       NaN  3.594259  3.492475  3.854478  4.152873  4.579280  5.343326
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
1675  5.402816  4.902534  4.580784  4.791062  4.828572  3.692283  2.968019
3171       NaN       NaN       NaN       NaN       NaN       NaN       NaN
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[8 rows x 160 columns]
训练集 15:30 列去掉全空
       Timestamp  Year  Month  Day        7:0        7:5       7:10  \
808     2011/3/3  2011      3    3        NaN        NaN        NaN
1409  2012/10/15  2012     10   15  30.356077  28.538706  62.232258
1417  2012/10/23  2012     10   23        NaN        NaN        NaN
1675    2013/7/2  2013      7    2   3.005301   3.465882   4.248712
3171   2017/7/10  2017      7   10   2.651160   2.661245   2.857351
3173   2017/7/12  2017      7   12        NaN        NaN        NaN

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
1409  202.609680  245.085770  268.878082  ...  8.413584  7.403599  6.021409
1417         NaN  391.739502  410.761108  ...       NaN       NaN       NaN
1675    5.035779    6.503022    7.598864  ...  5.003755  5.811413  5.120541
3171    3.262394    4.081432    4.857900  ...       NaN       NaN       NaN
3173         NaN         NaN         NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1409  6.249480  6.672613  7.363125  7.437070  6.337370  4.676983  6.013365
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
1675  5.402816  4.902534  4.580784  4.791062  4.828572  3.692283  2.968019
3171       NaN       NaN       NaN       NaN       NaN       NaN       NaN
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[6 rows x 160 columns]
训练集 15:35 列去掉全空
       Timestamp  Year  Month  Day        7:0         7:5       7:10  \
808     2011/3/3  2011      3    3        NaN         NaN        NaN
1033  2011/10/11  2011     10   11  61.724213   50.324078  44.376762
1409  2012/10/15  2012     10   15  30.356077   28.538706  62.232258
1675    2013/7/2  2013      7    2   3.005301    3.465882   4.248712
1823  2013/11/26  2013     11   26  72.851196  102.563118  89.769684
3171   2017/7/10  2017      7   10   2.651160    2.661245   2.857351
3173   2017/7/12  2017      7   12        NaN         NaN        NaN

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
1033  106.659569  208.404312  230.014114  ...  5.641089  5.433756  4.995821
1409  202.609680  245.085770  268.878082  ...  8.413584  7.403599  6.021409
1675    5.035779    6.503022    7.598864  ...  5.003755  5.811413  5.120541
1823   71.316902   60.081657   63.023880  ...  2.070072  1.322933  1.536627
3171    3.262394    4.081432    4.857900  ...       NaN       NaN       NaN
3173         NaN         NaN         NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1033  4.653349  3.997673  4.010697  4.065856  4.338354  4.755414  5.042865
1409  6.249480  6.672613  7.363125  7.437070  6.337370  4.676983  6.013365
1675  5.402816  4.902534  4.580784  4.791062  4.828572  3.692283  2.968019
1823  1.572219  1.614135  2.096926  2.452602  2.859888  3.992280  2.260831
3171       NaN       NaN       NaN       NaN       NaN       NaN       NaN
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[7 rows x 160 columns]
训练集 15:40 列去掉全空
       Timestamp  Year  Month  Day        7:0         7:5       7:10  \
808     2011/3/3  2011      3    3        NaN         NaN        NaN
1033  2011/10/11  2011     10   11  61.724213   50.324078  44.376762
1675    2013/7/2  2013      7    2   3.005301    3.465882   4.248712
1823  2013/11/26  2013     11   26  72.851196  102.563118  89.769684
3171   2017/7/10  2017      7   10   2.651160    2.661245   2.857351
3173   2017/7/12  2017      7   12        NaN         NaN        NaN

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
1033  106.659569  208.404312  230.014114  ...  5.641089  5.433756  4.995821
1675    5.035779    6.503022    7.598864  ...  5.003755  5.811413  5.120541
1823   71.316902   60.081657   63.023880  ...  2.070072  1.322933  1.536627
3171    3.262394    4.081432    4.857900  ...       NaN       NaN       NaN
3173         NaN         NaN         NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1033  4.653349  3.997673  4.010697  4.065856  4.338354  4.755414  5.042865
1675  5.402816  4.902534  4.580784  4.791062  4.828572  3.692283  2.968019
1823  1.572219  1.614135  2.096926  2.452602  2.859888  3.992280  2.260831
3171       NaN       NaN       NaN       NaN       NaN       NaN       NaN
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[6 rows x 160 columns]
训练集 15:45 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5       7:10  \
808     2011/3/3  2011      3    3         NaN         NaN        NaN
1033  2011/10/11  2011     10   11   61.724213   50.324078  44.376762
1418  2012/10/24  2012     10   24  183.085495  204.070648        NaN
1675    2013/7/2  2013      7    2    3.005301    3.465882   4.248712
1823  2013/11/26  2013     11   26   72.851196  102.563118  89.769684
3171   2017/7/10  2017      7   10    2.651160    2.661245   2.857351
3173   2017/7/12  2017      7   12         NaN         NaN        NaN

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
1033  106.659569  208.404312  230.014114  ...  5.641089  5.433756  4.995821
1418         NaN         NaN         NaN  ...  3.504874  4.622918  4.646677
1675    5.035779    6.503022    7.598864  ...  5.003755  5.811413  5.120541
1823   71.316902   60.081657   63.023880  ...  2.070072  1.322933  1.536627
3171    3.262394    4.081432    4.857900  ...       NaN       NaN       NaN
3173         NaN         NaN         NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1033  4.653349  3.997673  4.010697  4.065856  4.338354  4.755414  5.042865
1418  5.086406  5.146147  4.975608  4.578852  5.321349  5.604798  4.443629
1675  5.402816  4.902534  4.580784  4.791062  4.828572  3.692283  2.968019
1823  1.572219  1.614135  2.096926  2.452602  2.859888  3.992280  2.260831
3171       NaN       NaN       NaN       NaN       NaN       NaN       NaN
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[7 rows x 160 columns]
训练集 15:50 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5       7:10  \
808     2011/3/3  2011      3    3         NaN         NaN        NaN
1278    2012/6/8  2012      6    8    4.710652    6.268182   7.095058
1418  2012/10/24  2012     10   24  183.085495  204.070648        NaN
1675    2013/7/2  2013      7    2    3.005301    3.465882   4.248712
1823  2013/11/26  2013     11   26   72.851196  102.563118  89.769684
3171   2017/7/10  2017      7   10    2.651160    2.661245   2.857351
3173   2017/7/12  2017      7   12         NaN         NaN        NaN

           7:15       7:20       7:25  ...     19:10     19:15     19:20  \
808         NaN        NaN        NaN  ...  6.486866  5.339732  6.921472
1278   7.973141  10.664382  13.118507  ...  4.926446  4.992398  5.582112
1418        NaN        NaN        NaN  ...  3.504874  4.622918  4.646677
1675   5.035779   6.503022   7.598864  ...  5.003755  5.811413  5.120541
1823  71.316902  60.081657  63.023880  ...  2.070072  1.322933  1.536627
3171   3.262394   4.081432   4.857900  ...       NaN       NaN       NaN
3173        NaN        NaN        NaN  ...  3.946955  3.812407  4.073687

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1278  5.680479  5.450157  6.207171  6.558095  6.500104  6.745158  6.594639
1418  5.086406  5.146147  4.975608  4.578852  5.321349  5.604798  4.443629
1675  5.402816  4.902534  4.580784  4.791062  4.828572  3.692283  2.968019
1823  1.572219  1.614135  2.096926  2.452602  2.859888  3.992280  2.260831
3171       NaN       NaN       NaN       NaN       NaN       NaN       NaN
3173  3.939446  3.730217  3.420882  3.346558  3.232648  3.385681  3.352442

[7 rows x 160 columns]
训练集 15:55 列去掉全空
       Timestamp  Year  Month  Day        7:0         7:5       7:10  \
808     2011/3/3  2011      3    3        NaN         NaN        NaN
1206   2012/3/29  2012      3   29  14.667041   16.753252  21.638145
1278    2012/6/8  2012      6    8   4.710652    6.268182   7.095058
1675    2013/7/2  2013      7    2   3.005301    3.465882   4.248712
1823  2013/11/26  2013     11   26  72.851196  102.563118  89.769684
3171   2017/7/10  2017      7   10   2.651160    2.661245   2.857351

           7:15       7:20       7:25  ...     19:10     19:15     19:20  \
808         NaN        NaN        NaN  ...  6.486866  5.339732  6.921472
1206  53.013332  50.316357  42.268700  ...  5.565224  5.052555  5.109349
1278   7.973141  10.664382  13.118507  ...  4.926446  4.992398  5.582112
1675   5.035779   6.503022   7.598864  ...  5.003755  5.811413  5.120541
1823  71.316902  60.081657  63.023880  ...  2.070072  1.322933  1.536627
3171   3.262394   4.081432   4.857900  ...       NaN       NaN       NaN

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1206  5.163727  5.117968  5.986187  6.436117  6.141428  6.495507  5.693172
1278  5.680479  5.450157  6.207171  6.558095  6.500104  6.745158  6.594639
1675  5.402816  4.902534  4.580784  4.791062  4.828572  3.692283  2.968019
1823  1.572219  1.614135  2.096926  2.452602  2.859888  3.992280  2.260831
3171       NaN       NaN       NaN       NaN       NaN       NaN       NaN

[6 rows x 160 columns]
训练集 16:0 列去掉全空
       Timestamp  Year  Month  Day        7:0         7:5       7:10  \
808     2011/3/3  2011      3    3        NaN         NaN        NaN
1206   2012/3/29  2012      3   29  14.667041   16.753252  21.638145
1278    2012/6/8  2012      6    8   4.710652    6.268182   7.095058
1675    2013/7/2  2013      7    2   3.005301    3.465882   4.248712
1823  2013/11/26  2013     11   26  72.851196  102.563118  89.769684
3171   2017/7/10  2017      7   10   2.651160    2.661245   2.857351

           7:15       7:20       7:25  ...     19:10     19:15     19:20  \
808         NaN        NaN        NaN  ...  6.486866  5.339732  6.921472
1206  53.013332  50.316357  42.268700  ...  5.565224  5.052555  5.109349
1278   7.973141  10.664382  13.118507  ...  4.926446  4.992398  5.582112
1675   5.035779   6.503022   7.598864  ...  5.003755  5.811413  5.120541
1823  71.316902  60.081657  63.023880  ...  2.070072  1.322933  1.536627
3171   3.262394   4.081432   4.857900  ...       NaN       NaN       NaN

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1206  5.163727  5.117968  5.986187  6.436117  6.141428  6.495507  5.693172
1278  5.680479  5.450157  6.207171  6.558095  6.500104  6.745158  6.594639
1675  5.402816  4.902534  4.580784  4.791062  4.828572  3.692283  2.968019
1823  1.572219  1.614135  2.096926  2.452602  2.859888  3.992280  2.260831
3171       NaN       NaN       NaN       NaN       NaN       NaN       NaN

[6 rows x 160 columns]
训练集 16:5 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
1206   2012/3/29  2012      3   29   14.667041   16.753252   21.638145
1278    2012/6/8  2012      6    8    4.710652    6.268182    7.095058
1420  2012/10/26  2012     10   26   26.432814         NaN   39.380413
1421  2012/10/27  2012     10   27  226.360474         NaN  272.593079
1422  2012/10/28  2012     10   28  262.812317         NaN  310.987579
1675    2013/7/2  2013      7    2    3.005301    3.465882    4.248712
1823  2013/11/26  2013     11   26   72.851196  102.563118   89.769684
3171   2017/7/10  2017      7   10    2.651160    2.661245    2.857351

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
1206   53.013332   50.316357   42.268700  ...  5.565224  5.052555  5.109349
1278    7.973141   10.664382   13.118507  ...  4.926446  4.992398  5.582112
1420   53.313744   50.709087   57.920269  ...  5.105648  4.986744  4.541391
1421  295.140045  315.948181  335.995483  ...  4.463860  4.749900  4.691750
1422  334.448578  357.993317  380.208649  ...  4.899028  5.498608  5.076665
1675    5.035779    6.503022    7.598864  ...  5.003755  5.811413  5.120541
1823   71.316902   60.081657   63.023880  ...  2.070072  1.322933  1.536627
3171    3.262394    4.081432    4.857900  ...       NaN       NaN       NaN

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1206  5.163727  5.117968  5.986187  6.436117  6.141428  6.495507  5.693172
1278  5.680479  5.450157  6.207171  6.558095  6.500104  6.745158  6.594639
1420  4.219812  4.465595  4.584206  4.340246  4.504510  4.919559  4.664616
1421  4.896143  4.872780  4.998833  5.201963  4.652812  4.880147  4.464693
1422  4.789518  5.393334  4.882430  4.370772  4.938403  5.774659  6.260349
1675  5.402816  4.902534  4.580784  4.791062  4.828572  3.692283  2.968019
1823  1.572219  1.614135  2.096926  2.452602  2.859888  3.992280  2.260831
3171       NaN       NaN       NaN       NaN       NaN       NaN       NaN

[9 rows x 160 columns]
训练集 16:10 列去掉全空
       Timestamp  Year  Month  Day        7:0         7:5        7:10  \
808     2011/3/3  2011      3    3        NaN         NaN         NaN
1206   2012/3/29  2012      3   29  14.667041   16.753252   21.638145
1278    2012/6/8  2012      6    8   4.710652    6.268182    7.095058
1417  2012/10/23  2012     10   23        NaN         NaN         NaN
1419  2012/10/25  2012     10   25  86.985077  103.254234  132.390503
1675    2013/7/2  2013      7    2   3.005301    3.465882    4.248712
1823  2013/11/26  2013     11   26  72.851196  102.563118   89.769684
3171   2017/7/10  2017      7   10   2.651160    2.661245    2.857351

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
1206   53.013332   50.316357   42.268700  ...  5.565224  5.052555  5.109349
1278    7.973141   10.664382   13.118507  ...  4.926446  4.992398  5.582112
1417         NaN  391.739502  410.761108  ...       NaN       NaN       NaN
1419  112.126434  243.958359  265.414734  ...       NaN       NaN  4.096947
1675    5.035779    6.503022    7.598864  ...  5.003755  5.811413  5.120541
1823   71.316902   60.081657   63.023880  ...  2.070072  1.322933  1.536627
3171    3.262394    4.081432    4.857900  ...       NaN       NaN       NaN

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1206  5.163727  5.117968  5.986187  6.436117  6.141428  6.495507  5.693172
1278  5.680479  5.450157  6.207171  6.558095  6.500104  6.745158  6.594639
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
1419  3.515995  3.598475  4.162920  4.372980  4.670046  4.364528  3.947930
1675  5.402816  4.902534  4.580784  4.791062  4.828572  3.692283  2.968019
1823  1.572219  1.614135  2.096926  2.452602  2.859888  3.992280  2.260831
3171       NaN       NaN       NaN       NaN       NaN       NaN       NaN

[8 rows x 160 columns]
训练集 16:15 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
808     2011/3/3  2011      3    3         NaN         NaN         NaN
1206   2012/3/29  2012      3   29   14.667041   16.753252   21.638145
1417  2012/10/23  2012     10   23         NaN         NaN         NaN
1419  2012/10/25  2012     10   25   86.985077  103.254234  132.390503
1454  2012/11/29  2012     11   29  208.173416  231.138962  250.102844
1675    2013/7/2  2013      7    2    3.005301    3.465882    4.248712
1823  2013/11/26  2013     11   26   72.851196  102.563118   89.769684
3171   2017/7/10  2017      7   10    2.651160    2.661245    2.857351

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
808          NaN         NaN         NaN  ...  6.486866  5.339732  6.921472
1206   53.013332   50.316357   42.268700  ...  5.565224  5.052555  5.109349
1417         NaN  391.739502  410.761108  ...       NaN       NaN       NaN
1419  112.126434  243.958359  265.414734  ...       NaN       NaN  4.096947
1454  269.146484  301.769867  392.083130  ...  4.752529       NaN  5.082174
1675    5.035779    6.503022    7.598864  ...  5.003755  5.811413  5.120541
1823   71.316902   60.081657   63.023880  ...  2.070072  1.322933  1.536627
3171    3.262394    4.081432    4.857900  ...       NaN       NaN       NaN

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
808   7.632997  5.551527  4.901142  4.436374  4.028373  3.488752  3.328448
1206  5.163727  5.117968  5.986187  6.436117  6.141428  6.495507  5.693172
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
1419  3.515995  3.598475  4.162920  4.372980  4.670046  4.364528  3.947930
1454  4.807433  3.604253  3.858863  4.351862  4.010394  4.231977  4.082248
1675  5.402816  4.902534  4.580784  4.791062  4.828572  3.692283  2.968019
1823  1.572219  1.614135  2.096926  2.452602  2.859888  3.992280  2.260831
3171       NaN       NaN       NaN       NaN       NaN       NaN       NaN

[8 rows x 160 columns]
训练集 16:20 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
1411  2012/10/17  2012     10   17   37.157955   42.383690  156.926376
1412  2012/10/18  2012     10   18  294.470825  314.691101  333.886231
1417  2012/10/23  2012     10   23         NaN         NaN         NaN
1675    2013/7/2  2013      7    2    3.005301    3.465882    4.248712
1823  2013/11/26  2013     11   26   72.851196  102.563118   89.769684
3171   2017/7/10  2017      7   10    2.651160    2.661245    2.857351

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
1411  202.454758  224.962738  247.609543  ...  5.218112  4.602818       NaN
1412  356.399139         NaN         NaN  ...  3.818395  4.279331       NaN
1417         NaN  391.739502  410.761108  ...       NaN       NaN       NaN
1675    5.035779    6.503022    7.598864  ...  5.003755  5.811413  5.120541
1823   71.316902   60.081657   63.023880  ...  2.070072  1.322933  1.536627
3171    3.262394    4.081432    4.857900  ...       NaN       NaN       NaN

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
1411       NaN  4.320864  4.952442  5.278798  5.154027  5.220015  4.994670
1412       NaN  3.594259  3.492475  3.854478  4.152873  4.579280  5.343326
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
1675  5.402816  4.902534  4.580784  4.791062  4.828572  3.692283  2.968019
1823  1.572219  1.614135  2.096926  2.452602  2.859888  3.992280  2.260831
3171       NaN       NaN       NaN       NaN       NaN       NaN       NaN

[6 rows x 160 columns]
训练集 16:25 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
1411  2012/10/17  2012     10   17   37.157955   42.383690  156.926376
1412  2012/10/18  2012     10   18  294.470825  314.691101  333.886231
1417  2012/10/23  2012     10   23         NaN         NaN         NaN
1675    2013/7/2  2013      7    2    3.005301    3.465882    4.248712
1823  2013/11/26  2013     11   26   72.851196  102.563118   89.769684
3171   2017/7/10  2017      7   10    2.651160    2.661245    2.857351

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
1411  202.454758  224.962738  247.609543  ...  5.218112  4.602818       NaN
1412  356.399139         NaN         NaN  ...  3.818395  4.279331       NaN
1417         NaN  391.739502  410.761108  ...       NaN       NaN       NaN
1675    5.035779    6.503022    7.598864  ...  5.003755  5.811413  5.120541
1823   71.316902   60.081657   63.023880  ...  2.070072  1.322933  1.536627
3171    3.262394    4.081432    4.857900  ...       NaN       NaN       NaN

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
1411       NaN  4.320864  4.952442  5.278798  5.154027  5.220015  4.994670
1412       NaN  3.594259  3.492475  3.854478  4.152873  4.579280  5.343326
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
1675  5.402816  4.902534  4.580784  4.791062  4.828572  3.692283  2.968019
1823  1.572219  1.614135  2.096926  2.452602  2.859888  3.992280  2.260831
3171       NaN       NaN       NaN       NaN       NaN       NaN       NaN

[6 rows x 160 columns]
训练集 16:30 列去掉全空
       Timestamp  Year  Month  Day        7:0         7:5       7:10  \
1417  2012/10/23  2012     10   23        NaN         NaN        NaN
1675    2013/7/2  2013      7    2   3.005301    3.465882   4.248712
1823  2013/11/26  2013     11   26  72.851196  102.563118  89.769684
3171   2017/7/10  2017      7   10   2.651160    2.661245   2.857351

           7:15        7:20        7:25  ...     19:10     19:15     19:20  \
1417        NaN  391.739502  410.761108  ...       NaN       NaN       NaN
1675   5.035779    6.503022    7.598864  ...  5.003755  5.811413  5.120541
1823  71.316902   60.081657   63.023880  ...  2.070072  1.322933  1.536627
3171   3.262394    4.081432    4.857900  ...       NaN       NaN       NaN

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
1675  5.402816  4.902534  4.580784  4.791062  4.828572  3.692283  2.968019
1823  1.572219  1.614135  2.096926  2.452602  2.859888  3.992280  2.260831
3171       NaN       NaN       NaN       NaN       NaN       NaN       NaN

[4 rows x 160 columns]
训练集 16:35 列去掉全空
       Timestamp  Year  Month  Day        7:0         7:5       7:10  \
1675    2013/7/2  2013      7    2   3.005301    3.465882   4.248712
1823  2013/11/26  2013     11   26  72.851196  102.563118  89.769684
3171   2017/7/10  2017      7   10   2.651160    2.661245   2.857351

           7:15       7:20       7:25  ...     19:10     19:15     19:20  \
1675   5.035779   6.503022   7.598864  ...  5.003755  5.811413  5.120541
1823  71.316902  60.081657  63.023880  ...  2.070072  1.322933  1.536627
3171   3.262394   4.081432   4.857900  ...       NaN       NaN       NaN

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
1675  5.402816  4.902534  4.580784  4.791062  4.828572  3.692283  2.968019
1823  1.572219  1.614135  2.096926  2.452602  2.859888  3.992280  2.260831
3171       NaN       NaN       NaN       NaN       NaN       NaN       NaN

[3 rows x 160 columns]
训练集 16:40 列去掉全空
       Timestamp  Year  Month  Day        7:0         7:5       7:10  \
1675    2013/7/2  2013      7    2   3.005301    3.465882   4.248712
1823  2013/11/26  2013     11   26  72.851196  102.563118  89.769684
3171   2017/7/10  2017      7   10   2.651160    2.661245   2.857351

           7:15       7:20       7:25  ...     19:10     19:15     19:20  \
1675   5.035779   6.503022   7.598864  ...  5.003755  5.811413  5.120541
1823  71.316902  60.081657  63.023880  ...  2.070072  1.322933  1.536627
3171   3.262394   4.081432   4.857900  ...       NaN       NaN       NaN

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
1675  5.402816  4.902534  4.580784  4.791062  4.828572  3.692283  2.968019
1823  1.572219  1.614135  2.096926  2.452602  2.859888  3.992280  2.260831
3171       NaN       NaN       NaN       NaN       NaN       NaN       NaN

[3 rows x 160 columns]
训练集 16:45 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5       7:10  \
1418  2012/10/24  2012     10   24  183.085495  204.070648        NaN
1675    2013/7/2  2013      7    2    3.005301    3.465882   4.248712
1823  2013/11/26  2013     11   26   72.851196  102.563118  89.769684
3171   2017/7/10  2017      7   10    2.651160    2.661245   2.857351

           7:15       7:20       7:25  ...     19:10     19:15     19:20  \
1418        NaN        NaN        NaN  ...  3.504874  4.622918  4.646677
1675   5.035779   6.503022   7.598864  ...  5.003755  5.811413  5.120541
1823  71.316902  60.081657  63.023880  ...  2.070072  1.322933  1.536627
3171   3.262394   4.081432   4.857900  ...       NaN       NaN       NaN

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
1418  5.086406  5.146147  4.975608  4.578852  5.321349  5.604798  4.443629
1675  5.402816  4.902534  4.580784  4.791062  4.828572  3.692283  2.968019
1823  1.572219  1.614135  2.096926  2.452602  2.859888  3.992280  2.260831
3171       NaN       NaN       NaN       NaN       NaN       NaN       NaN

[4 rows x 160 columns]
训练集 16:50 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5       7:10  \
1418  2012/10/24  2012     10   24  183.085495  204.070648        NaN
1823  2013/11/26  2013     11   26   72.851196  102.563118  89.769684
3171   2017/7/10  2017      7   10    2.651160    2.661245   2.857351

           7:15       7:20      7:25  ...     19:10     19:15     19:20  \
1418        NaN        NaN       NaN  ...  3.504874  4.622918  4.646677
1823  71.316902  60.081657  63.02388  ...  2.070072  1.322933  1.536627
3171   3.262394   4.081432   4.85790  ...       NaN       NaN       NaN

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
1418  5.086406  5.146147  4.975608  4.578852  5.321349  5.604798  4.443629
1823  1.572219  1.614135  2.096926  2.452602  2.859888  3.992280  2.260831
3171       NaN       NaN       NaN       NaN       NaN       NaN       NaN

[3 rows x 160 columns]
训练集 16:55 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5       7:10  \
1418  2012/10/24  2012     10   24  183.085495  204.070648        NaN
1823  2013/11/26  2013     11   26   72.851196  102.563118  89.769684
3171   2017/7/10  2017      7   10    2.651160    2.661245   2.857351

           7:15       7:20      7:25  ...     19:10     19:15     19:20  \
1418        NaN        NaN       NaN  ...  3.504874  4.622918  4.646677
1823  71.316902  60.081657  63.02388  ...  2.070072  1.322933  1.536627
3171   3.262394   4.081432   4.85790  ...       NaN       NaN       NaN

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
1418  5.086406  5.146147  4.975608  4.578852  5.321349  5.604798  4.443629
1823  1.572219  1.614135  2.096926  2.452602  2.859888  3.992280  2.260831
3171       NaN       NaN       NaN       NaN       NaN       NaN       NaN

[3 rows x 160 columns]
训练集 17:0 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5       7:10  \
1418  2012/10/24  2012     10   24  183.085495  204.070648        NaN
1823  2013/11/26  2013     11   26   72.851196  102.563118  89.769684
3171   2017/7/10  2017      7   10    2.651160    2.661245   2.857351

           7:15       7:20      7:25  ...     19:10     19:15     19:20  \
1418        NaN        NaN       NaN  ...  3.504874  4.622918  4.646677
1823  71.316902  60.081657  63.02388  ...  2.070072  1.322933  1.536627
3171   3.262394   4.081432   4.85790  ...       NaN       NaN       NaN

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
1418  5.086406  5.146147  4.975608  4.578852  5.321349  5.604798  4.443629
1823  1.572219  1.614135  2.096926  2.452602  2.859888  3.992280  2.260831
3171       NaN       NaN       NaN       NaN       NaN       NaN       NaN

[3 rows x 160 columns]
训练集 17:5 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
1418  2012/10/24  2012     10   24  183.085495  204.070648         NaN
1420  2012/10/26  2012     10   26   26.432814         NaN   39.380413
1421  2012/10/27  2012     10   27  226.360474         NaN  272.593079
1422  2012/10/28  2012     10   28  262.812317         NaN  310.987579
1823  2013/11/26  2013     11   26   72.851196  102.563118   89.769684
3171   2017/7/10  2017      7   10    2.651160    2.661245    2.857351

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
1418         NaN         NaN         NaN  ...  3.504874  4.622918  4.646677
1420   53.313744   50.709087   57.920269  ...  5.105648  4.986744  4.541391
1421  295.140045  315.948181  335.995483  ...  4.463860  4.749900  4.691750
1422  334.448578  357.993317  380.208649  ...  4.899028  5.498608  5.076665
1823   71.316902   60.081657   63.023880  ...  2.070072  1.322933  1.536627
3171    3.262394    4.081432    4.857900  ...       NaN       NaN       NaN

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
1418  5.086406  5.146147  4.975608  4.578852  5.321349  5.604798  4.443629
1420  4.219812  4.465595  4.584206  4.340246  4.504510  4.919559  4.664616
1421  4.896143  4.872780  4.998833  5.201963  4.652812  4.880147  4.464693
1422  4.789518  5.393334  4.882430  4.370772  4.938403  5.774659  6.260349
1823  1.572219  1.614135  2.096926  2.452602  2.859888  3.992280  2.260831
3171       NaN       NaN       NaN       NaN       NaN       NaN       NaN

[6 rows x 160 columns]
训练集 17:10 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
806     2011/3/1  2011      3    1   59.184238   64.579414   52.284164
1417  2012/10/23  2012     10   23         NaN         NaN         NaN
1418  2012/10/24  2012     10   24  183.085495  204.070648         NaN
1419  2012/10/25  2012     10   25   86.985077  103.254234  132.390503
1823  2013/11/26  2013     11   26   72.851196  102.563118   89.769684
3171   2017/7/10  2017      7   10    2.651160    2.661245    2.857351

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
806    53.385071   61.639454   70.474693  ...       NaN       NaN       NaN
1417         NaN  391.739502  410.761108  ...       NaN       NaN       NaN
1418         NaN         NaN         NaN  ...  3.504874  4.622918  4.646677
1419  112.126434  243.958359  265.414734  ...       NaN       NaN  4.096947
1823   71.316902   60.081657   63.023880  ...  2.070072  1.322933  1.536627
3171    3.262394    4.081432    4.857900  ...       NaN       NaN       NaN

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
806        NaN       NaN       NaN       NaN       NaN       NaN       NaN
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
1418  5.086406  5.146147  4.975608  4.578852  5.321349  5.604798  4.443629
1419  3.515995  3.598475  4.162920  4.372980  4.670046  4.364528  3.947930
1823  1.572219  1.614135  2.096926  2.452602  2.859888  3.992280  2.260831
3171       NaN       NaN       NaN       NaN       NaN       NaN       NaN

[6 rows x 160 columns]
训练集 17:15 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
806     2011/3/1  2011      3    1   59.184238   64.579414   52.284164
1417  2012/10/23  2012     10   23         NaN         NaN         NaN
1418  2012/10/24  2012     10   24  183.085495  204.070648         NaN
1419  2012/10/25  2012     10   25   86.985077  103.254234  132.390503
1454  2012/11/29  2012     11   29  208.173416  231.138962  250.102844
1823  2013/11/26  2013     11   26   72.851196  102.563118   89.769684
3171   2017/7/10  2017      7   10    2.651160    2.661245    2.857351

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
806    53.385071   61.639454   70.474693  ...       NaN       NaN       NaN
1417         NaN  391.739502  410.761108  ...       NaN       NaN       NaN
1418         NaN         NaN         NaN  ...  3.504874  4.622918  4.646677
1419  112.126434  243.958359  265.414734  ...       NaN       NaN  4.096947
1454  269.146484  301.769867  392.083130  ...  4.752529       NaN  5.082174
1823   71.316902   60.081657   63.023880  ...  2.070072  1.322933  1.536627
3171    3.262394    4.081432    4.857900  ...       NaN       NaN       NaN

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
806        NaN       NaN       NaN       NaN       NaN       NaN       NaN
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
1418  5.086406  5.146147  4.975608  4.578852  5.321349  5.604798  4.443629
1419  3.515995  3.598475  4.162920  4.372980  4.670046  4.364528  3.947930
1454  4.807433  3.604253  3.858863  4.351862  4.010394  4.231977  4.082248
1823  1.572219  1.614135  2.096926  2.452602  2.859888  3.992280  2.260831
3171       NaN       NaN       NaN       NaN       NaN       NaN       NaN

[7 rows x 160 columns]
训练集 17:20 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
806     2011/3/1  2011      3    1   59.184238   64.579414   52.284164
1411  2012/10/17  2012     10   17   37.157955   42.383690  156.926376
1412  2012/10/18  2012     10   18  294.470825  314.691101  333.886231
1417  2012/10/23  2012     10   23         NaN         NaN         NaN
1823  2013/11/26  2013     11   26   72.851196  102.563118   89.769684
3171   2017/7/10  2017      7   10    2.651160    2.661245    2.857351

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
806    53.385071   61.639454   70.474693  ...       NaN       NaN       NaN
1411  202.454758  224.962738  247.609543  ...  5.218112  4.602818       NaN
1412  356.399139         NaN         NaN  ...  3.818395  4.279331       NaN
1417         NaN  391.739502  410.761108  ...       NaN       NaN       NaN
1823   71.316902   60.081657   63.023880  ...  2.070072  1.322933  1.536627
3171    3.262394    4.081432    4.857900  ...       NaN       NaN       NaN

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
806        NaN       NaN       NaN       NaN       NaN       NaN       NaN
1411       NaN  4.320864  4.952442  5.278798  5.154027  5.220015  4.994670
1412       NaN  3.594259  3.492475  3.854478  4.152873  4.579280  5.343326
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
1823  1.572219  1.614135  2.096926  2.452602  2.859888  3.992280  2.260831
3171       NaN       NaN       NaN       NaN       NaN       NaN       NaN

[6 rows x 160 columns]
训练集 17:25 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
806     2011/3/1  2011      3    1   59.184238   64.579414   52.284164
1411  2012/10/17  2012     10   17   37.157955   42.383690  156.926376
1412  2012/10/18  2012     10   18  294.470825  314.691101  333.886231
1417  2012/10/23  2012     10   23         NaN         NaN         NaN
3171   2017/7/10  2017      7   10    2.651160    2.661245    2.857351

            7:15        7:20        7:25  ...     19:10     19:15  19:20  \
806    53.385071   61.639454   70.474693  ...       NaN       NaN    NaN
1411  202.454758  224.962738  247.609543  ...  5.218112  4.602818    NaN
1412  356.399139         NaN         NaN  ...  3.818395  4.279331    NaN
1417         NaN  391.739502  410.761108  ...       NaN       NaN    NaN
3171    3.262394    4.081432    4.857900  ...       NaN       NaN    NaN

      19:25     19:30     19:35     19:40     19:45     19:50     19:55
806     NaN       NaN       NaN       NaN       NaN       NaN       NaN
1411    NaN  4.320864  4.952442  5.278798  5.154027  5.220015  4.994670
1412    NaN  3.594259  3.492475  3.854478  4.152873  4.579280  5.343326
1417    NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
3171    NaN       NaN       NaN       NaN       NaN       NaN       NaN

[5 rows x 160 columns]
训练集 17:30 列去掉全空
       Timestamp  Year  Month  Day        7:0        7:5       7:10  \
806     2011/3/1  2011      3    1  59.184238  64.579414  52.284164
1154    2012/2/8  2012      2    8  22.945318  34.571880  38.820137
1417  2012/10/23  2012     10   23        NaN        NaN        NaN
3171   2017/7/10  2017      7   10   2.651160   2.661245   2.857351

           7:15        7:20        7:25  ...      19:10      19:15      19:20  \
806   53.385071   61.639454   70.474693  ...        NaN        NaN        NaN
1154  40.467072   51.912224   57.387707  ...  17.128374  14.056285  11.404143
1417        NaN  391.739502  410.761108  ...        NaN        NaN        NaN
3171   3.262394    4.081432    4.857900  ...        NaN        NaN        NaN

        19:25     19:30     19:35     19:40     19:45     19:50     19:55
806       NaN       NaN       NaN       NaN       NaN       NaN       NaN
1154  8.82371  6.852584  6.639006  6.426692  5.675933  5.781247  5.488356
1417      NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
3171      NaN       NaN       NaN       NaN       NaN       NaN       NaN

[4 rows x 160 columns]
训练集 17:35 列去掉全空
      Timestamp  Year  Month  Day        7:0        7:5       7:10       7:15  \
806    2011/3/1  2011      3    1  59.184238  64.579414  52.284164  53.385071
1154   2012/2/8  2012      2    8  22.945318  34.571880  38.820137  40.467072
3171  2017/7/10  2017      7   10   2.651160   2.661245   2.857351   3.262394

           7:20       7:25  ...      19:10      19:15      19:20    19:25  \
806   61.639454  70.474693  ...        NaN        NaN        NaN      NaN
1154  51.912224  57.387707  ...  17.128374  14.056285  11.404143  8.82371
3171   4.081432   4.857900  ...        NaN        NaN        NaN      NaN

         19:30     19:35     19:40     19:45     19:50     19:55
806        NaN       NaN       NaN       NaN       NaN       NaN

      Timestamp  Year  Month  Day         7:0         7:5        7:10  \
311   2009/11/2  2009     11    2  187.795334  213.457398  235.708252
806    2011/3/1  2011      3    1   59.184238   64.579414   52.284164
1305   2012/7/4  2012      7    4    4.906036    5.478236    5.942344
3171  2017/7/10  2017      7   10    2.651160    2.661245    2.857351

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
311   256.054169  277.453003  300.563293  ...  4.855707  3.795115  3.582055
806    53.385071   61.639454   70.474693  ...       NaN       NaN       NaN
1305    6.357303    7.870883    8.730351  ...  5.446503  5.433903  5.565232
3171    3.262394    4.081432    4.857900  ...       NaN       NaN       NaN

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
311   3.693599  3.559131  3.975423  3.954430  3.890980  4.021116  2.804953
806        NaN       NaN       NaN       NaN       NaN       NaN       NaN
1305  4.939566  5.634012  5.855890  5.540219  6.294658  5.817086  6.243753
3171       NaN       NaN       NaN       NaN       NaN       NaN       NaN

[4 rows x 160 columns]
训练集 17:55 列去掉全空
      Timestamp  Year  Month  Day        7:0        7:5       7:10       7:15  \
806    2011/3/1  2011      3    1  59.184238  64.579414  52.284164  53.385071
1305   2012/7/4  2012      7    4   4.906036   5.478236   5.942344   6.357303
3171  2017/7/10  2017      7   10   2.651160   2.661245   2.857351   3.262394

           7:20       7:25  ...     19:10     19:15     19:20     19:25  \
806   61.639454  70.474693  ...       NaN       NaN       NaN       NaN
1305   7.870883   8.730351  ...  5.446503  5.433903  5.565232  4.939566
3171   4.081432   4.857900  ...       NaN       NaN       NaN       NaN

         19:30    19:35     19:40     19:45     19:50     19:55
806        NaN      NaN       NaN       NaN       NaN       NaN
1305  5.634012  5.85589  5.540219  6.294658  5.817086  6.243753
3171       NaN      NaN       NaN       NaN       NaN       NaN

[3 rows x 160 columns]
训练集 18:0 列去掉全空
      Timestamp  Year  Month  Day        7:0        7:5       7:10       7:15  \
806    2011/3/1  2011      3    1  59.184238  64.579414  52.284164  53.385071
1305   2012/7/4  2012      7    4   4.906036   5.478236   5.942344   6.357303
3171  2017/7/10  2017      7   10   2.651160   2.661245   2.857351   3.262394

           7:20       7:25  ...     19:10     19:15     19:20     19:25  \
806   61.639454  70.474693  ...       NaN       NaN       NaN       NaN
1305   7.870883   8.730351  ...  5.446503  5.433903  5.565232  4.939566
3171   4.081432   4.857900  ...       NaN       NaN       NaN       NaN

         19:30    19:35     19:40     19:45     19:50     19:55
806        NaN      NaN       NaN       NaN       NaN       NaN
1305  5.634012  5.85589  5.540219  6.294658  5.817086  6.243753
3171       NaN      NaN       NaN       NaN       NaN       NaN

[3 rows x 160 columns]
训练集 18:5 列去掉全空
       Timestamp  Year  Month  Day         7:0        7:5        7:10  \
806     2011/3/1  2011      3    1   59.184238  64.579414   52.284164
1305    2012/7/4  2012      7    4    4.906036   5.478236    5.942344
1420  2012/10/26  2012     10   26   26.432814        NaN   39.380413
1421  2012/10/27  2012     10   27  226.360474        NaN  272.593079
1422  2012/10/28  2012     10   28  262.812317        NaN  310.987579
3171   2017/7/10  2017      7   10    2.651160   2.661245    2.857351

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
806    53.385071   61.639454   70.474693  ...       NaN       NaN       NaN
1305    6.357303    7.870883    8.730351  ...  5.446503  5.433903  5.565232
1420   53.313744   50.709087   57.920269  ...  5.105648  4.986744  4.541391
1421  295.140045  315.948181  335.995483  ...  4.463860  4.749900  4.691750
1422  334.448578  357.993317  380.208649  ...  4.899028  5.498608  5.076665
3171    3.262394    4.081432    4.857900  ...       NaN       NaN       NaN

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
806        NaN       NaN       NaN       NaN       NaN       NaN       NaN
1305  4.939566  5.634012  5.855890  5.540219  6.294658  5.817086  6.243753
1420  4.219812  4.465595  4.584206  4.340246  4.504510  4.919559  4.664616
1421  4.896143  4.872780  4.998833  5.201963  4.652812  4.880147  4.464693
1422  4.789518  5.393334  4.882430  4.370772  4.938403  5.774659  6.260349
3171       NaN       NaN       NaN       NaN       NaN       NaN       NaN

[6 rows x 160 columns]
训练集 18:10 列去掉全空
       Timestamp  Year  Month  Day        7:0         7:5        7:10  \
806     2011/3/1  2011      3    1  59.184238   64.579414   52.284164
1305    2012/7/4  2012      7    4   4.906036    5.478236    5.942344
1417  2012/10/23  2012     10   23        NaN         NaN         NaN
1419  2012/10/25  2012     10   25  86.985077  103.254234  132.390503
3171   2017/7/10  2017      7   10   2.651160    2.661245    2.857351

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
806    53.385071   61.639454   70.474693  ...       NaN       NaN       NaN
1305    6.357303    7.870883    8.730351  ...  5.446503  5.433903  5.565232
1417         NaN  391.739502  410.761108  ...       NaN       NaN       NaN
1419  112.126434  243.958359  265.414734  ...       NaN       NaN  4.096947
3171    3.262394    4.081432    4.857900  ...       NaN       NaN       NaN

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
806        NaN       NaN       NaN       NaN       NaN       NaN       NaN
1305  4.939566  5.634012  5.855890  5.540219  6.294658  5.817086  6.243753
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
1419  3.515995  3.598475  4.162920  4.372980  4.670046  4.364528  3.947930
3171       NaN       NaN       NaN       NaN       NaN       NaN       NaN

[5 rows x 160 columns]
训练集 18:15 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
806     2011/3/1  2011      3    1   59.184238   64.579414   52.284164
1305    2012/7/4  2012      7    4    4.906036    5.478236    5.942344
1417  2012/10/23  2012     10   23         NaN         NaN         NaN
1419  2012/10/25  2012     10   25   86.985077  103.254234  132.390503
1454  2012/11/29  2012     11   29  208.173416  231.138962  250.102844
3171   2017/7/10  2017      7   10    2.651160    2.661245    2.857351

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
806    53.385071   61.639454   70.474693  ...       NaN       NaN       NaN
1305    6.357303    7.870883    8.730351  ...  5.446503  5.433903  5.565232
1417         NaN  391.739502  410.761108  ...       NaN       NaN       NaN
1419  112.126434  243.958359  265.414734  ...       NaN       NaN  4.096947
1454  269.146484  301.769867  392.083130  ...  4.752529       NaN  5.082174
3171    3.262394    4.081432    4.857900  ...       NaN       NaN       NaN

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
806        NaN       NaN       NaN       NaN       NaN       NaN       NaN
1305  4.939566  5.634012  5.855890  5.540219  6.294658  5.817086  6.243753
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
1419  3.515995  3.598475  4.162920  4.372980  4.670046  4.364528  3.947930
1454  4.807433  3.604253  3.858863  4.351862  4.010394  4.231977  4.082248
3171       NaN       NaN       NaN       NaN       NaN       NaN       NaN

[6 rows x 160 columns]
训练集 18:20 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
806     2011/3/1  2011      3    1   59.184238   64.579414   52.284164
1305    2012/7/4  2012      7    4    4.906036    5.478236    5.942344
1411  2012/10/17  2012     10   17   37.157955   42.383690  156.926376
1412  2012/10/18  2012     10   18  294.470825  314.691101  333.886231
1417  2012/10/23  2012     10   23         NaN         NaN         NaN
3171   2017/7/10  2017      7   10    2.651160    2.661245    2.857351

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
806    53.385071   61.639454   70.474693  ...       NaN       NaN       NaN
1305    6.357303    7.870883    8.730351  ...  5.446503  5.433903  5.565232
1411  202.454758  224.962738  247.609543  ...  5.218112  4.602818       NaN
1412  356.399139         NaN         NaN  ...  3.818395  4.279331       NaN
1417         NaN  391.739502  410.761108  ...       NaN       NaN       NaN
3171    3.262394    4.081432    4.857900  ...       NaN       NaN       NaN

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
806        NaN       NaN       NaN       NaN       NaN       NaN       NaN
1305  4.939566  5.634012  5.855890  5.540219  6.294658  5.817086  6.243753
1411       NaN  4.320864  4.952442  5.278798  5.154027  5.220015  4.994670
1412       NaN  3.594259  3.492475  3.854478  4.152873  4.579280  5.343326
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
3171       NaN       NaN       NaN       NaN       NaN       NaN       NaN

[6 rows x 160 columns]
训练集 18:25 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
806     2011/3/1  2011      3    1   59.184238   64.579414   52.284164
1411  2012/10/17  2012     10   17   37.157955   42.383690  156.926376
1412  2012/10/18  2012     10   18  294.470825  314.691101  333.886231
1417  2012/10/23  2012     10   23         NaN         NaN         NaN
3171   2017/7/10  2017      7   10    2.651160    2.661245    2.857351

            7:15        7:20        7:25  ...     19:10     19:15  19:20  \
806    53.385071   61.639454   70.474693  ...       NaN       NaN    NaN
1411  202.454758  224.962738  247.609543  ...  5.218112  4.602818    NaN
1412  356.399139         NaN         NaN  ...  3.818395  4.279331    NaN
1417         NaN  391.739502  410.761108  ...       NaN       NaN    NaN
3171    3.262394    4.081432    4.857900  ...       NaN       NaN    NaN

      19:25     19:30     19:35     19:40     19:45     19:50     19:55
806     NaN       NaN       NaN       NaN       NaN       NaN       NaN
1411    NaN  4.320864  4.952442  5.278798  5.154027  5.220015  4.994670
1412    NaN  3.594259  3.492475  3.854478  4.152873  4.579280  5.343326
1417    NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
3171    NaN       NaN       NaN       NaN       NaN       NaN       NaN

[5 rows x 160 columns]
训练集 18:30 列去掉全空
       Timestamp  Year  Month  Day        7:0        7:5       7:10  \
806     2011/3/1  2011      3    1  59.184238  64.579414  52.284164
1417  2012/10/23  2012     10   23        NaN        NaN        NaN
3171   2017/7/10  2017      7   10   2.651160   2.661245   2.857351

           7:15        7:20        7:25  ...  19:10  19:15  19:20  19:25  \
806   53.385071   61.639454   70.474693  ...    NaN    NaN    NaN    NaN
1417        NaN  391.739502  410.761108  ...    NaN    NaN    NaN    NaN
3171   3.262394    4.081432    4.857900  ...    NaN    NaN    NaN    NaN

      19:30     19:35     19:40     19:45     19:50     19:55
806     NaN       NaN       NaN       NaN       NaN       NaN
1417    NaN  5.900438  6.231114  5.937599  4.513626  4.797391
3171    NaN       NaN       NaN       NaN       NaN       NaN

[3 rows x 160 columns]
训练集 18:35 列去掉全空
      Timestamp  Year  Month  Day        7:0        7:5       7:10       7:15  \
806    2011/3/1  2011      3    1  59.184238  64.579414  52.284164  53.385071
3171  2017/7/10  2017      7   10   2.651160   2.661245   2.857351   3.262394

           7:20       7:25  ...  19:10  19:15  19:20  19:25  19:30  19:35  \
806   61.639454  70.474693  ...    NaN    NaN    NaN    NaN    NaN    NaN
3171   4.081432   4.857900  ...    NaN    NaN    NaN    NaN    NaN    NaN

      19:40  19:45  19:50  19:55
806     NaN    NaN    NaN    NaN
3171    NaN    NaN    NaN    NaN

[2 rows x 160 columns]
训练集 18:40 列去掉全空
      Timestamp  Year  Month  Day        7:0        7:5       7:10       7:15  \
806    2011/3/1  2011      3    1  59.184238  64.579414  52.284164  53.385071
3171  2017/7/10  2017      7   10   2.651160   2.661245   2.857351   3.262394

           7:20       7:25  ...  19:10  19:15  19:20  19:25  19:30  19:35  \
806   61.639454  70.474693  ...    NaN    NaN    NaN    NaN    NaN    NaN
3171   4.081432   4.857900  ...    NaN    NaN    NaN    NaN    NaN    NaN

      19:40  19:45  19:50  19:55
806     NaN    NaN    NaN    NaN
3171    NaN    NaN    NaN    NaN

[2 rows x 160 columns]
训练集 18:45 列去掉全空
      Timestamp  Year  Month  Day        7:0        7:5       7:10       7:15  \
806    2011/3/1  2011      3    1  59.184238  64.579414  52.284164  53.385071
3171  2017/7/10  2017      7   10   2.651160   2.661245   2.857351   3.262394
3507   2018/6/5  2018      6    5   1.917867   2.274990   3.360875   4.954138

           7:20       7:25  ...  19:10  19:15  19:20  19:25  19:30  19:35  \
806   61.639454  70.474693  ...    NaN    NaN    NaN    NaN    NaN    NaN
3171   4.081432   4.857900  ...    NaN    NaN    NaN    NaN    NaN    NaN
3507   6.730782   9.284446  ...    NaN    NaN    NaN    NaN    NaN    NaN

      19:40  19:45  19:50  19:55
806     NaN    NaN    NaN    NaN
3171    NaN    NaN    NaN    NaN
3507    NaN    NaN    NaN    NaN

[3 rows x 160 columns]
训练集 18:50 列去掉全空
      Timestamp  Year  Month  Day        7:0        7:5       7:10       7:15  \
806    2011/3/1  2011      3    1  59.184238  64.579414  52.284164  53.385071
3171  2017/7/10  2017      7   10   2.651160   2.661245   2.857351   3.262394
3507   2018/6/5  2018      6    5   1.917867   2.274990   3.360875   4.954138

           7:20       7:25  ...  19:10  19:15  19:20  19:25  19:30  19:35  \
806   61.639454  70.474693  ...    NaN    NaN    NaN    NaN    NaN    NaN
3171   4.081432   4.857900  ...    NaN    NaN    NaN    NaN    NaN    NaN
3507   6.730782   9.284446  ...    NaN    NaN    NaN    NaN    NaN    NaN

      19:40  19:45  19:50  19:55
806     NaN    NaN    NaN    NaN
3171    NaN    NaN    NaN    NaN
3507    NaN    NaN    NaN    NaN

[3 rows x 160 columns]
训练集 18:55 列去掉全空
      Timestamp  Year  Month  Day        7:0        7:5       7:10       7:15  \
806    2011/3/1  2011      3    1  59.184238  64.579414  52.284164  53.385071
3171  2017/7/10  2017      7   10   2.651160   2.661245   2.857351   3.262394
3507   2018/6/5  2018      6    5   1.917867   2.274990   3.360875   4.954138

           7:20       7:25  ...  19:10  19:15  19:20  19:25  19:30  19:35  \
806   61.639454  70.474693  ...    NaN    NaN    NaN    NaN    NaN    NaN
3171   4.081432   4.857900  ...    NaN    NaN    NaN    NaN    NaN    NaN
3507   6.730782   9.284446  ...    NaN    NaN    NaN    NaN    NaN    NaN

      19:40  19:45  19:50  19:55
806     NaN    NaN    NaN    NaN
3171    NaN    NaN    NaN    NaN
3507    NaN    NaN    NaN    NaN

[3 rows x 160 columns]
训练集 19:0 列去掉全空
      Timestamp  Year  Month  Day        7:0        7:5       7:10       7:15  \
806    2011/3/1  2011      3    1  59.184238  64.579414  52.284164  53.385071
3171  2017/7/10  2017      7   10   2.651160   2.661245   2.857351   3.262394
3507   2018/6/5  2018      6    5   1.917867   2.274990   3.360875   4.954138

           7:20       7:25  ...  19:10  19:15  19:20  19:25  19:30  19:35  \
806   61.639454  70.474693  ...    NaN    NaN    NaN    NaN    NaN    NaN
3171   4.081432   4.857900  ...    NaN    NaN    NaN    NaN    NaN    NaN
3507   6.730782   9.284446  ...    NaN    NaN    NaN    NaN    NaN    NaN

      19:40  19:45  19:50  19:55
806     NaN    NaN    NaN    NaN
3171    NaN    NaN    NaN    NaN
3507    NaN    NaN    NaN    NaN

[3 rows x 160 columns]
训练集 19:5 列去掉全空
       Timestamp  Year  Month  Day         7:0        7:5        7:10  \
806     2011/3/1  2011      3    1   59.184238  64.579414   52.284164
1420  2012/10/26  2012     10   26   26.432814        NaN   39.380413
1421  2012/10/27  2012     10   27  226.360474        NaN  272.593079
1422  2012/10/28  2012     10   28  262.812317        NaN  310.987579
3171   2017/7/10  2017      7   10    2.651160   2.661245    2.857351
3507    2018/6/5  2018      6    5    1.917867   2.274990    3.360875

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
806    53.385071   61.639454   70.474693  ...       NaN       NaN       NaN
1420   53.313744   50.709087   57.920269  ...  5.105648  4.986744  4.541391
1421  295.140045  315.948181  335.995483  ...  4.463860  4.749900  4.691750
1422  334.448578  357.993317  380.208649  ...  4.899028  5.498608  5.076665
3171    3.262394    4.081432    4.857900  ...       NaN       NaN       NaN
3507    4.954138    6.730782    9.284446  ...       NaN       NaN       NaN

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
806        NaN       NaN       NaN       NaN       NaN       NaN       NaN
1420  4.219812  4.465595  4.584206  4.340246  4.504510  4.919559  4.664616
1421  4.896143  4.872780  4.998833  5.201963  4.652812  4.880147  4.464693
1422  4.789518  5.393334  4.882430  4.370772  4.938403  5.774659  6.260349
3171       NaN       NaN       NaN       NaN       NaN       NaN       NaN
3507       NaN       NaN       NaN       NaN       NaN       NaN       NaN

[6 rows x 160 columns]
训练集 19:10 列去掉全空
       Timestamp  Year  Month  Day        7:0         7:5        7:10  \
806     2011/3/1  2011      3    1  59.184238   64.579414   52.284164
1417  2012/10/23  2012     10   23        NaN         NaN         NaN
1419  2012/10/25  2012     10   25  86.985077  103.254234  132.390503
3171   2017/7/10  2017      7   10   2.651160    2.661245    2.857351
3507    2018/6/5  2018      6    5   1.917867    2.274990    3.360875

            7:15        7:20        7:25  ...  19:10  19:15     19:20  \
806    53.385071   61.639454   70.474693  ...    NaN    NaN       NaN
1417         NaN  391.739502  410.761108  ...    NaN    NaN       NaN
1419  112.126434  243.958359  265.414734  ...    NaN    NaN  4.096947
3171    3.262394    4.081432    4.857900  ...    NaN    NaN       NaN
3507    4.954138    6.730782    9.284446  ...    NaN    NaN       NaN

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
806        NaN       NaN       NaN       NaN       NaN       NaN       NaN
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
1419  3.515995  3.598475  4.162920  4.372980  4.670046  4.364528  3.947930
3171       NaN       NaN       NaN       NaN       NaN       NaN       NaN
3507       NaN       NaN       NaN       NaN       NaN       NaN       NaN

[5 rows x 160 columns]
训练集 19:15 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
806     2011/3/1  2011      3    1   59.184238   64.579414   52.284164
1417  2012/10/23  2012     10   23         NaN         NaN         NaN
1419  2012/10/25  2012     10   25   86.985077  103.254234  132.390503
1454  2012/11/29  2012     11   29  208.173416  231.138962  250.102844
3171   2017/7/10  2017      7   10    2.651160    2.661245    2.857351
3507    2018/6/5  2018      6    5    1.917867    2.274990    3.360875

            7:15        7:20        7:25  ...     19:10  19:15     19:20  \
806    53.385071   61.639454   70.474693  ...       NaN    NaN       NaN
1417         NaN  391.739502  410.761108  ...       NaN    NaN       NaN
1419  112.126434  243.958359  265.414734  ...       NaN    NaN  4.096947
1454  269.146484  301.769867  392.083130  ...  4.752529    NaN  5.082174
3171    3.262394    4.081432    4.857900  ...       NaN    NaN       NaN
3507    4.954138    6.730782    9.284446  ...       NaN    NaN       NaN

         19:25     19:30     19:35     19:40     19:45     19:50     19:55
806        NaN       NaN       NaN       NaN       NaN       NaN       NaN
1417       NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
1419  3.515995  3.598475  4.162920  4.372980  4.670046  4.364528  3.947930
1454  4.807433  3.604253  3.858863  4.351862  4.010394  4.231977  4.082248
3171       NaN       NaN       NaN       NaN       NaN       NaN       NaN
3507       NaN       NaN       NaN       NaN       NaN       NaN       NaN

[6 rows x 160 columns]
训练集 19:20 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
806     2011/3/1  2011      3    1   59.184238   64.579414   52.284164
934     2011/7/5  2011      7    5    4.125056    4.565251    5.306802
975    2011/8/15  2011      8   15    6.854293    8.105872   10.691669
1411  2012/10/17  2012     10   17   37.157955   42.383690  156.926376
1412  2012/10/18  2012     10   18  294.470825  314.691101  333.886231
1417  2012/10/23  2012     10   23         NaN         NaN         NaN
3171   2017/7/10  2017      7   10    2.651160    2.661245    2.857351
3507    2018/6/5  2018      6    5    1.917867    2.274990    3.360875

            7:15        7:20        7:25  ...     19:10     19:15  19:20  \
806    53.385071   61.639454   70.474693  ...       NaN       NaN    NaN
934     7.102425    8.528828   11.222967  ...  6.078633  6.423515    NaN
975    13.243437   26.428066   37.083023  ...  6.182127  5.977266    NaN
1411  202.454758  224.962738  247.609543  ...  5.218112  4.602818    NaN
1412  356.399139         NaN         NaN  ...  3.818395  4.279331    NaN
1417         NaN  391.739502  410.761108  ...       NaN       NaN    NaN
3171    3.262394    4.081432    4.857900  ...       NaN       NaN    NaN
3507    4.954138    6.730782    9.284446  ...       NaN       NaN    NaN

      19:25     19:30     19:35     19:40     19:45     19:50     19:55
806     NaN       NaN       NaN       NaN       NaN       NaN       NaN
934     NaN       NaN       NaN       NaN       NaN       NaN       NaN
975     NaN  5.398822  5.517582  5.035838  4.806606  4.830573  5.102737
1411    NaN  4.320864  4.952442  5.278798  5.154027  5.220015  4.994670
1412    NaN  3.594259  3.492475  3.854478  4.152873  4.579280  5.343326
1417    NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
3171    NaN       NaN       NaN       NaN       NaN       NaN       NaN
3507    NaN       NaN       NaN       NaN       NaN       NaN       NaN

[8 rows x 160 columns]
训练集 19:25 列去掉全空
       Timestamp  Year  Month  Day         7:0         7:5        7:10  \
806     2011/3/1  2011      3    1   59.184238   64.579414   52.284164
934     2011/7/5  2011      7    5    4.125056    4.565251    5.306802
975    2011/8/15  2011      8   15    6.854293    8.105872   10.691669
1387   2012/9/24  2012      9   24   48.551231   64.132439   62.878304
1411  2012/10/17  2012     10   17   37.157955   42.383690  156.926376
1412  2012/10/18  2012     10   18  294.470825  314.691101  333.886231
1417  2012/10/23  2012     10   23         NaN         NaN         NaN
3171   2017/7/10  2017      7   10    2.651160    2.661245    2.857351
3507    2018/6/5  2018      6    5    1.917867    2.274990    3.360875

            7:15        7:20        7:25  ...     19:10     19:15     19:20  \
806    53.385071   61.639454   70.474693  ...       NaN       NaN       NaN
934     7.102425    8.528828   11.222967  ...  6.078633  6.423515       NaN
975    13.243437   26.428066   37.083023  ...  6.182127  5.977266       NaN
1387   64.345879   86.770470   91.525307  ...  5.772555  5.947048  5.854321
1411  202.454758  224.962738  247.609543  ...  5.218112  4.602818       NaN
1412  356.399139         NaN         NaN  ...  3.818395  4.279331       NaN
1417         NaN  391.739502  410.761108  ...       NaN       NaN       NaN
3171    3.262394    4.081432    4.857900  ...       NaN       NaN       NaN
3507    4.954138    6.730782    9.284446  ...       NaN       NaN       NaN

      19:25     19:30     19:35     19:40     19:45     19:50     19:55
806     NaN       NaN       NaN       NaN       NaN       NaN       NaN
934     NaN       NaN       NaN       NaN       NaN       NaN       NaN
975     NaN  5.398822  5.517582  5.035838  4.806606  4.830573  5.102737
1387    NaN       NaN       NaN       NaN       NaN       NaN       NaN
1411    NaN  4.320864  4.952442  5.278798  5.154027  5.220015  4.994670
1412    NaN  3.594259  3.492475  3.854478  4.152873  4.579280  5.343326
1417    NaN       NaN  5.900438  6.231114  5.937599  4.513626  4.797391
3171    NaN       NaN       NaN       NaN       NaN       NaN       NaN
3507    NaN       NaN       NaN       NaN       NaN       NaN       NaN

[9 rows x 160 columns]
训练集 19:30 列去掉全空
       Timestamp  Year  Month  Day        7:0        7:5       7:10  \
806     2011/3/1  2011      3    1  59.184238  64.579414  52.284164
934     2011/7/5  2011      7    5   4.125056   4.565251   5.306802
1387   2012/9/24  2012      9   24  48.551231  64.132439  62.878304
1417  2012/10/23  2012     10   23        NaN        NaN        NaN
3171   2017/7/10  2017      7   10   2.651160   2.661245   2.857351
3507    2018/6/5  2018      6    5   1.917867   2.274990   3.360875

           7:15        7:20        7:25  ...     19:10     19:15     19:20  \
806   53.385071   61.639454   70.474693  ...       NaN       NaN       NaN
934    7.102425    8.528828   11.222967  ...  6.078633  6.423515       NaN
1387  64.345879   86.770470   91.525307  ...  5.772555  5.947048  5.854321
1417        NaN  391.739502  410.761108  ...       NaN       NaN       NaN
3171   3.262394    4.081432    4.857900  ...       NaN       NaN       NaN
3507   4.954138    6.730782    9.284446  ...       NaN       NaN       NaN

      19:25  19:30     19:35     19:40     19:45     19:50     19:55
806     NaN    NaN       NaN       NaN       NaN       NaN       NaN
934     NaN    NaN       NaN       NaN       NaN       NaN       NaN
1387    NaN    NaN       NaN       NaN       NaN       NaN       NaN
1417    NaN    NaN  5.900438  6.231114  5.937599  4.513626  4.797391
3171    NaN    NaN       NaN       NaN       NaN       NaN       NaN
3507    NaN    NaN       NaN       NaN       NaN       NaN       NaN

[6 rows x 160 columns]
训练集 19:35 列去掉全空
      Timestamp  Year  Month  Day        7:0        7:5       7:10       7:15  \
806    2011/3/1  2011      3    1  59.184238  64.579414  52.284164  53.385071
934    2011/7/5  2011      7    5   4.125056   4.565251   5.306802   7.102425
1387  2012/9/24  2012      9   24  48.551231  64.132439  62.878304  64.345879
3171  2017/7/10  2017      7   10   2.651160   2.661245   2.857351   3.262394
3507   2018/6/5  2018      6    5   1.917867   2.274990   3.360875   4.954138

           7:20       7:25  ...     19:10     19:15     19:20  19:25  19:30  \
806   61.639454  70.474693  ...       NaN       NaN       NaN    NaN    NaN
934    8.528828  11.222967  ...  6.078633  6.423515       NaN    NaN    NaN
1387  86.770470  91.525307  ...  5.772555  5.947048  5.854321    NaN    NaN
3171   4.081432   4.857900  ...       NaN       NaN       NaN    NaN    NaN
3507   6.730782   9.284446  ...       NaN       NaN       NaN    NaN    NaN

      19:35  19:40  19:45  19:50  19:55
806     NaN    NaN    NaN    NaN    NaN
934     NaN    NaN    NaN    NaN    NaN
1387    NaN    NaN    NaN    NaN    NaN
3171    NaN    NaN    NaN    NaN    NaN
3507    NaN    NaN    NaN    NaN    NaN

[5 rows x 160 columns]
训练集 19:40 列去掉全空
      Timestamp  Year  Month  Day        7:0        7:5       7:10       7:15  \
806    2011/3/1  2011      3    1  59.184238  64.579414  52.284164  53.385071
934    2011/7/5  2011      7    5   4.125056   4.565251   5.306802   7.102425
1387  2012/9/24  2012      9   24  48.551231  64.132439  62.878304  64.345879
1952  2014/3/31  2014      3   31  23.071100  28.564938  36.966949  48.548199
3171  2017/7/10  2017      7   10   2.651160   2.661245   2.857351   3.262394
3507   2018/6/5  2018      6    5   1.917867   2.274990   3.360875   4.954138

           7:20       7:25  ...     19:10     19:15     19:20     19:25  \
806   61.639454  70.474693  ...       NaN       NaN       NaN       NaN
934    8.528828  11.222967  ...  6.078633  6.423515       NaN       NaN
1387  86.770470  91.525307  ...  5.772555  5.947048  5.854321       NaN
1952  60.302086  77.267181  ...  4.431676  4.541585  4.984469  5.409094
3171   4.081432   4.857900  ...       NaN       NaN       NaN       NaN
3507   6.730782   9.284446  ...       NaN       NaN       NaN       NaN

         19:30     19:35  19:40    19:45     19:50     19:55
806        NaN       NaN    NaN      NaN       NaN       NaN
934        NaN       NaN    NaN      NaN       NaN       NaN
1387       NaN       NaN    NaN      NaN       NaN       NaN
1952  4.430586  3.826368    NaN  4.95335  4.655965  4.557885
3171       NaN       NaN    NaN      NaN       NaN       NaN
3507       NaN       NaN    NaN      NaN       NaN       NaN

[6 rows x 160 columns]
训练集 19:45 列去掉全空
      Timestamp  Year  Month  Day        7:0        7:5       7:10       7:15  \
806    2011/3/1  2011      3    1  59.184238  64.579414  52.284164  53.385071
934    2011/7/5  2011      7    5   4.125056   4.565251   5.306802   7.102425
1387  2012/9/24  2012      9   24  48.551231  64.132439  62.878304  64.345879
3171  2017/7/10  2017      7   10   2.651160   2.661245   2.857351   3.262394
3507   2018/6/5  2018      6    5   1.917867   2.274990   3.360875   4.954138

           7:20       7:25  ...     19:10     19:15     19:20  19:25  19:30  \
806   61.639454  70.474693  ...       NaN       NaN       NaN    NaN    NaN
934    8.528828  11.222967  ...  6.078633  6.423515       NaN    NaN    NaN
1387  86.770470  91.525307  ...  5.772555  5.947048  5.854321    NaN    NaN
3171   4.081432   4.857900  ...       NaN       NaN       NaN    NaN    NaN
3507   6.730782   9.284446  ...       NaN       NaN       NaN    NaN    NaN

      19:35  19:40  19:45  19:50  19:55
806     NaN    NaN    NaN    NaN    NaN
934     NaN    NaN    NaN    NaN    NaN
1387    NaN    NaN    NaN    NaN    NaN
3171    NaN    NaN    NaN    NaN    NaN
3507    NaN    NaN    NaN    NaN    NaN

[5 rows x 160 columns]
训练集 19:50 列去掉全空
      Timestamp  Year  Month  Day        7:0        7:5       7:10       7:15  \
806    2011/3/1  2011      3    1  59.184238  64.579414  52.284164  53.385071
934    2011/7/5  2011      7    5   4.125056   4.565251   5.306802   7.102425
1387  2012/9/24  2012      9   24  48.551231  64.132439  62.878304  64.345879
3171  2017/7/10  2017      7   10   2.651160   2.661245   2.857351   3.262394
3507   2018/6/5  2018      6    5   1.917867   2.274990   3.360875   4.954138

           7:20       7:25  ...     19:10     19:15     19:20  19:25  19:30  \
806   61.639454  70.474693  ...       NaN       NaN       NaN    NaN    NaN
934    8.528828  11.222967  ...  6.078633  6.423515       NaN    NaN    NaN
1387  86.770470  91.525307  ...  5.772555  5.947048  5.854321    NaN    NaN
3171   4.081432   4.857900  ...       NaN       NaN       NaN    NaN    NaN
3507   6.730782   9.284446  ...       NaN       NaN       NaN    NaN    NaN

      19:35  19:40  19:45  19:50  19:55
806     NaN    NaN    NaN    NaN    NaN
934     NaN    NaN    NaN    NaN    NaN
1387    NaN    NaN    NaN    NaN    NaN
3171    NaN    NaN    NaN    NaN    NaN
3507    NaN    NaN    NaN    NaN    NaN

[5 rows x 160 columns]
训练集 19:55 列去掉全空
      Timestamp  Year  Month  Day        7:0        7:5       7:10       7:15  \
806    2011/3/1  2011      3    1  59.184238  64.579414  52.284164  53.385071
934    2011/7/5  2011      7    5   4.125056   4.565251   5.306802   7.102425
1387  2012/9/24  2012      9   24  48.551231  64.132439  62.878304  64.345879
1907  2014/2/17  2014      2   17  41.564522  33.885040  25.567032  23.492474
3171  2017/7/10  2017      7   10   2.651160   2.661245   2.857351   3.262394
3507   2018/6/5  2018      6    5   1.917867   2.274990   3.360875   4.954138

           7:20       7:25  ...      19:10     19:15     19:20     19:25  \
806   61.639454  70.474693  ...        NaN       NaN       NaN       NaN
934    8.528828  11.222967  ...   6.078633  6.423515       NaN       NaN
1387  86.770470  91.525307  ...   5.772555  5.947048  5.854321       NaN
1907  31.006191  43.897327  ...  12.343903  9.374368  7.054218  4.352186
3171   4.081432   4.857900  ...        NaN       NaN       NaN       NaN
3507   6.730782   9.284446  ...        NaN       NaN       NaN       NaN

        19:30     19:35     19:40     19:45     19:50  19:55
806       NaN       NaN       NaN       NaN       NaN    NaN
934       NaN       NaN       NaN       NaN       NaN    NaN
1387      NaN       NaN       NaN       NaN       NaN    NaN
1907  3.98034  4.160247  3.493891  2.633503  3.239438    NaN
3171      NaN       NaN       NaN       NaN       NaN    NaN
3507      NaN       NaN       NaN       NaN       NaN    NaN

[6 rows x 160 columns]

In [11]:
read_dataset.isnull().sum()

Timestamp    0
Year         0
Month        0
Day          0
7:0          5
7:5          9
7:10         6
7:15         7
7:20         7
7:25         7
7:30         5
7:35         4
7:40         4
7:45         4
7:50         4
7:55         4
8:0          5
8:5          9
8:10         5
8:15         6
8:20         7
8:25         7
8:30         6
8:35         5
8:40         5
8:45         6
8:50         6
8:55         4
9:0          5
9:5          8
            ..
17:30        4
17:35        3
17:40        3
17:45        3
17:50        4
17:55        3
18:0         3
18:5         6
18:10        5
18:15        6
18:20        6
18:25        5
18:30        3
18:35        2
18:40        2
18:45        3
18:50        3
18:55        3
19:0         3
19:5         6
19:10        5
19:15        6
19:20        8
19:25        9
19:30        6
19:35        5
19:40        6
19:45        5
19:50        5
19:55        6
Length: 160, dtype: int64

In [12]:
for i in list(read_dataset):
    read_dataset[i] = read_dataset[i].fillna(method='ffill')
#     print("训练集",i,"列去掉全空")
    print(read_dataset.loc[read_dataset[i].isnull(),:])

Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]

Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]
Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []


In [13]:
print(read_dataset.isnull().sum())

Timestamp    0
Year         0
Month        0
Day          0
7:0          0
7:5          0
7:10         0
7:15         0
7:20         0
7:25         0
7:30         0
7:35         0
7:40         0
7:45         0
7:50         0
7:55         0
8:0          0
8:5          0
8:10         0
8:15         0
8:20         0
8:25         0
8:30         0
8:35         0
8:40         0
8:45         0
8:50         0
8:55         0
9:0          0
9:5          0
            ..
17:30        0
17:35        0
17:40        0
17:45        0
17:50        0
17:55        0
18:0         0
18:5         0
18:10        0
18:15        0
18:20        0
18:25        0
18:30        0
18:35        0
18:40        0
18:45        0
18:50        0
18:55        0
19:0         0
19:5         0
19:10        0
19:15        0
19:20        0
19:25        0
19:30        0
19:35        0
19:40        0
19:45        0
19:50        0
19:55        0
Length: 160, dtype: int64

In [14]:
print(list(read_dataset))

['Timestamp', 'Year', 'Month', 'Day', '7:0', '7:5', '7:10', '7:15', '7:20', '7:25', '7:30', '7:35', '7:40', '7:45', '7:50', '7:55', '8:0', '8:5', '8:10', '8:15', '8:20', '8:25', '8:30', '8:35', '8:40', '8:45', '8:50', '8:55', '9:0', '9:5', '9:10', '9:15', '9:20', '9:25', '9:30', '9:35', '9:40', '9:45', '9:50', '9:55', '10:0', '10:5', '10:10', '10:15', '10:20', '10:25', '10:30', '10:35', '10:40', '10:45', '10:50', '10:55', '11:0', '11:5', '11:10', '11:15', '11:20', '11:25', '11:30', '11:35', '11:40', '11:45', '11:50', '11:55', '12:0', '12:5', '12:10', '12:15', '12:20', '12:25', '12:30', '12:35', '12:40', '12:45', '12:50', '12:55', '13:0', '13:5', '13:10', '13:15', '13:20', '13:25', '13:30', '13:35', '13:40', '13:45', '13:50', '13:55', '14:0', '14:5', '14:10', '14:15', '14:20', '14:25', '14:30', '14:35', '14:40', '14:45', '14:50', '14:55', '15:0', '15:5', '15:10', '15:15', '15:20', '15:25', '15:30', '15:35', '15:40', '15:45', '15:50', '15:55', '16:0', '16:5', '16:10', '16:15', '16:20', '16:25', '16:30', '16:35', '16:40', '16:45', '16:50', '16:55', '17:0', '17:5', '17:10', '17:15', '17:20', '17:25', '17:30', '17:35', '17:40', '17:45', '17:50', '17:55', '18:0', '18:5', '18:10', '18:15', '18:20', '18:25', '18:30', '18:35', '18:40', '18:45', '18:50', '18:55', '19:0', '19:5', '19:10', '19:15', '19:20', '19:25', '19:30', '19:35', '19:40', '19:45', '19:50', '19:55']

In [15]:
##批量融合3个五分钟 为一个 15分钟的间隔
for i in range(4,160,3) : 
    temp = read_dataset[[list(read_dataset)[i],list(read_dataset)[i+1],list(read_dataset)[i+2]]]
    read_dataset[list(read_dataset)[i]+('.')] = temp.mean(axis=1)
#     print(i,i+1,i+2)
#     print(j)

In [16]:
read_dataset.head(2)

,Timestamp,Year,Month,Day,7:0,7:5,7:10,7:15,7:20,7:25,...,17:30.,17:45.,18:0.,18:15.,18:30.,18:45.,19:0.,19:15.,19:30.,19:45.
0,2009/1/1,2009,1,1,71.755577,66.701241,70.185898,95.595161,181.769043,240.212112,...,360.459656,301.960826,240.460012,181.341827,125.440394,78.967822,35.756889,13.786914,6.087431,4.383810
1,2009/1/2,2009,1,2,194.533630,216.865250,239.976242,264.707611,286.493774,308.883057,...,370.609670,309.659342,247.962784,186.269068,128.375224,76.873255,34.446934,13.963012,6.609656,4.661077

In [17]:
newdata_15min = read_dataset.drop(['7:0', '7:5', '7:10', '7:15', '7:20', '7:25', '7:30', '7:35', '7:40', '7:45', '7:50', '7:55', '8:0', '8:5', '8:10', '8:15', '8:20', '8:25', '8:30', '8:35', '8:40', '8:45', '8:50', '8:55', '9:0', '9:5', '9:10', '9:15', '9:20', '9:25', '9:30', '9:35', '9:40', '9:45', '9:50', '9:55', '10:0', '10:5', '10:10', '10:15', '10:20', '10:25', '10:30', '10:35', '10:40', '10:45', '10:50', '10:55', '11:0', '11:5', '11:10', '11:15', '11:20', '11:25', '11:30', '11:35', '11:40', '11:45', '11:50', '11:55', '12:0', '12:5', '12:10', '12:15', '12:20', '12:25', '12:30', '12:35', '12:40', '12:45', '12:50', '12:55', '13:0', '13:5', '13:10', '13:15', '13:20', '13:25', '13:30', '13:35', '13:40', '13:45', '13:50', '13:55', '14:0', '14:5', '14:10', '14:15', '14:20', '14:25', '14:30', '14:35', '14:40', '14:45', '14:50', '14:55', '15:0', '15:5', '15:10', '15:15', '15:20', '15:25', '15:30', '15:35', '15:40', '15:45', '15:50', '15:55', '16:0', '16:5', '16:10', '16:15', '16:20', '16:25', '16:30', '16:35', '16:40', '16:45', '16:50', '16:55', '17:0', '17:5', '17:10', '17:15', '17:20', '17:25', '17:30', '17:35', '17:40', '17:45', '17:50', '17:55', '18:0', '18:5', '18:10', '18:15', '18:20', '18:25', '18:30', '18:35', '18:40', '18:45', '18:50', '18:55', '19:0', '19:5', '19:10', '19:15', '19:20', '19:25', '19:30', '19:35', '19:40', '19:45', '19:50', '19:55'],axis=1)

In [18]:
newdata_15min.head(2)

,Timestamp,Year,Month,Day,7:0.,7:15.,7:30.,7:45.,8:0.,8:15.,...,17:30.,17:45.,18:0.,18:15.,18:30.,18:45.,19:0.,19:15.,19:30.,19:45.
0,2009/1/1,2009,1,1,69.547572,172.525439,346.184418,431.466736,399.969879,286.426025,...,360.459656,301.960826,240.460012,181.341827,125.440394,78.967822,35.756889,13.786914,6.087431,4.383810
1,2009/1/2,2009,1,2,217.125041,286.694814,348.620951,406.212087,464.882568,526.545258,...,370.609670,309.659342,247.962784,186.269068,128.375224,76.873255,34.446934,13.963012,6.609656,4.661077

In [19]:
newdata_15min.to_csv('./2009-2018辐照度（每15min）.csv',index=False)

# 构建训练集和测试集

In [20]:
# convert series to supervised learning
def series_to_supervised(data, n_in=1, n_out=1, dropnan=True):
#     n_vars = 1 if type(data) is list else data.shape[1]
    n_vars = list(data)
    df = pd.DataFrame(data)
    cols, names = list(), list()
    # input sequence (t-n, ... t-1)
    for i in range(n_in, 0, -1):
        cols.append(df.shift(i))
        names += [('%s(d-%d)' % (j, i)) for j in n_vars]
    # forecast sequence (t, t+1, ... t+n)
    for i in range(0, n_out):
        cols.append(df.shift(-i))
        if i == 0:
            names += [('%s(d)' % (j) )for j in n_vars]
        else:
            names += [('%s(d+%d)' % (j, i)) for j in n_vars]
    # put it all together
    agg = pd.concat(cols, axis=1)
    agg.columns = names
    # drop rows with NaN values
    if dropnan:
        agg.dropna(inplace=True)
    return agg

In [21]:
train_newdata_15min = series_to_supervised(newdata_15min,0,2)

In [22]:
train_newdata_15min.head(2)

,Timestamp(d),Year(d),Month(d),Day(d),7:0.(d),7:15.(d),7:30.(d),7:45.(d),8:0.(d),8:15.(d),...,17:30.(d+1),17:45.(d+1),18:0.(d+1),18:15.(d+1),18:30.(d+1),18:45.(d+1),19:0.(d+1),19:15.(d+1),19:30.(d+1),19:45.(d+1)
0,2009/1/1,2009,1,1,69.547572,172.525439,346.184418,431.466736,399.969879,286.426025,...,370.609670,309.659342,247.962784,186.269068,128.375224,76.873255,34.446934,13.963012,6.609656,4.661077
1,2009/1/2,2009,1,2,217.125041,286.694814,348.620951,406.212087,464.882568,526.545258,...,396.843872,342.717072,263.926905,195.593023,132.444580,77.939009,44.119278,19.040752,6.297939,3.578515

In [23]:
print(list(train_newdata_15min))

['Timestamp(d)', 'Year(d)', 'Month(d)', 'Day(d)', '7:0.(d)', '7:15.(d)', '7:30.(d)', '7:45.(d)', '8:0.(d)', '8:15.(d)', '8:30.(d)', '8:45.(d)', '9:0.(d)', '9:15.(d)', '9:30.(d)', '9:45.(d)', '10:0.(d)', '10:15.(d)', '10:30.(d)', '10:45.(d)', '11:0.(d)', '11:15.(d)', '11:30.(d)', '11:45.(d)', '12:0.(d)', '12:15.(d)', '12:30.(d)', '12:45.(d)', '13:0.(d)', '13:15.(d)', '13:30.(d)', '13:45.(d)', '14:0.(d)', '14:15.(d)', '14:30.(d)', '14:45.(d)', '15:0.(d)', '15:15.(d)', '15:30.(d)', '15:45.(d)', '16:0.(d)', '16:15.(d)', '16:30.(d)', '16:45.(d)', '17:0.(d)', '17:15.(d)', '17:30.(d)', '17:45.(d)', '18:0.(d)', '18:15.(d)', '18:30.(d)', '18:45.(d)', '19:0.(d)', '19:15.(d)', '19:30.(d)', '19:45.(d)', 'Timestamp(d+1)', 'Year(d+1)', 'Month(d+1)', 'Day(d+1)', '7:0.(d+1)', '7:15.(d+1)', '7:30.(d+1)', '7:45.(d+1)', '8:0.(d+1)', '8:15.(d+1)', '8:30.(d+1)', '8:45.(d+1)', '9:0.(d+1)', '9:15.(d+1)', '9:30.(d+1)', '9:45.(d+1)', '10:0.(d+1)', '10:15.(d+1)', '10:30.(d+1)', '10:45.(d+1)', '11:0.(d+1)', '11:15.(d+1)', '11:30.(d+1)', '11:45.(d+1)', '12:0.(d+1)', '12:15.(d+1)', '12:30.(d+1)', '12:45.(d+1)', '13:0.(d+1)', '13:15.(d+1)', '13:30.(d+1)', '13:45.(d+1)', '14:0.(d+1)', '14:15.(d+1)', '14:30.(d+1)', '14:45.(d+1)', '15:0.(d+1)', '15:15.(d+1)', '15:30.(d+1)', '15:45.(d+1)', '16:0.(d+1)', '16:15.(d+1)', '16:30.(d+1)', '16:45.(d+1)', '17:0.(d+1)', '17:15.(d+1)', '17:30.(d+1)', '17:45.(d+1)', '18:0.(d+1)', '18:15.(d+1)', '18:30.(d+1)', '18:45.(d+1)', '19:0.(d+1)', '19:15.(d+1)', '19:30.(d+1)', '19:45.(d+1)']

In [24]:
train_newdata_15min.drop(['Timestamp(d+1)', 'Year(d+1)', 'Month(d+1)', 'Day(d+1)'],axis=1,inplace=True)

In [25]:
train_newdata_15min.to_csv('./2009-2018辐照度（每15min）d+(d+1).csv',index=False)